### Import Dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

### Load Output csv file of the second Experiment

In [2]:
new_column_names = ['Table Name', 'Column Index', 'Row Index', 'Retrieved Annotation']
df_output = pd.read_csv("Dataset/output/cea annotation/cea_tfood_first_experiment.csv", header=None, names=new_column_names)
df_output.head()

,Table Name,Column Index,Row Index,Retrieved Annotation
0,AWP193T195U1O0,1,2,http://www.wikidata.org/entity/Q17
1,PFPX10U29,1,1,http://www.wikidata.org/entity/Q11148917
2,PFPX10U41,1,1,http://www.wikidata.org/entity/Q584469
3,PFPX10U44,1,1,http://www.wikidata.org/entity/Q3680646
4,PFPX10U44,1,2,http://www.wikidata.org/entity/Q112605150

In [34]:
df_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 4 columns):
Table Name              2265 non-null object
Column Index            2265 non-null int64
Row Index               2265 non-null int64
Retrieved Annotation    2264 non-null object
dtypes: int64(2), object(2)
memory usage: 70.9+ KB

### Retrieve and Analyse returned NaN by the API

In [35]:
# Retrieve all rows with NaN values in a specific column
nan_rows = df_output[df_output["Retrieved Annotation"] == ""]

# Print the resulting dataframe
print(nan_rows)

Empty DataFrame
Columns: [Table Name, Column Index, Row Index, Retrieved Annotation]
Index: []

### Retrieve and Analyse incorrect annotations

In [36]:
# Mapping with the value
new_column_names = ['Table Name', 'Column Index', 'Row Index', 'Target Annotation']
cea_gt = pd.read_csv(f"Dataset/val/gt/cea_gt.csv", header=None, names=new_column_names)

In [37]:
# join prediction and target dataframes
merged_df = pd.merge(cea_gt, df_output, on=['Table Name', 'Column Index', 'Row Index'])

In [38]:
merged_df.head()

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation
0,AWP193T195U1O0,1,2,http://www.wikidata.org/entity/Q17,http://www.wikidata.org/entity/Q17
1,PFPX10U29,1,1,http://www.wikidata.org/entity/Q11148917,http://www.wikidata.org/entity/Q11148917
2,PFPX10U41,1,1,http://www.wikidata.org/entity/Q584469,http://www.wikidata.org/entity/Q584469
3,PFPX10U44,1,1,http://www.wikidata.org/entity/Q3680646,http://www.wikidata.org/entity/Q3680646
4,PFPX10U44,1,2,http://www.wikidata.org/entity/Q112605150,http://www.wikidata.org/entity/Q112605150

In [44]:
merged_df[merged_df["Table Name"] == "AVMN45V10"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
36,AVMN45V10,1,1,"http://www.wikidata.org/entity/Q281,http://www...","http://www.wikidata.org/entity/Q281,http://www...","whisky, brandy, carbonated water, Selters, Q12..."
37,AVMN45V10,1,2,http://www.wikidata.org/entity/Q20,http://www.wikidata.org/entity/Q20,Norway

In [48]:
# Add Cell Content
def retrieve_cell_value(row):
    df = pd.read_csv(f"Dataset/val/tables/{row['Table Name']}.csv")
    cell_value = df.iloc[row["Row Index"] - 1, row["Column Index"]]
    return cell_value
    
merged_df["Cell Value"] = merged_df.apply(lambda row: retrieve_cell_value(row), axis=1)

In [49]:
### Retrieve Incorrect annotations
incorrect_rows = merged_df[merged_df["Retrieved Annotation"] != merged_df["Target Annotation"]]
incorrect_rows

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
27,WXFE22C3,1,4,http://www.wikidata.org/entity/Q61864890,http://www.wikidata.org/entity/Q16996794,lobster
36,AVMN45V10,1,1,"http://www.wikidata.org/entity/Q281,http://www...","http://www.wikidata.org/entity/Q281,http://www...","whisky, brandy, carbonated water, Selters, Q12..."
44,AVMN45V48,1,1,http://www.wikidata.org/entity/Q13179,http://www.wikidata.org/entity/Q12252383,raspberry
50,AVMN45V55,1,2,"http://www.wikidata.org/entity/Q10210,http://w...","http://www.wikidata.org/entity/Q10210,http://w...","white wine, sugar, egg"
52,AVMN45V59,1,3,"http://www.wikidata.org/entity/Q11002,http://w...","http://www.wikidata.org/entity/Q23118,http://w...","sugar, rum, Stroh, arrack, fruit"
...,...,...,...,...,...,...
2224,TPJS166A453,1,3,"http://www.wikidata.org/entity/Q1166136,http:/...","http://www.wikidata.org/entity/Q1166136,http:/...","Phaseolus lunatus, potato, fried cheese, maize"
2227,TPJS166A457,1,4,"http://www.wikidata.org/entity/Q205762,http://...","http://www.wikidata.org/entity/Q205762,http://...","goulash, fricassee, azu"
2233,TPJS166A489,1,1,"http://www.wikidata.org/entity/Q148,http://www...","http://www.wikidata.org/entity/Q148,http://www...","People's Republic of China, China"
2245,IYNT176I00,1,4,http://www.wikidata.org/entity/Q20638126,http://www.wikidata.org/entity/Q23501,tomato
2249,IRHK187I03,1,10,"http://www.wikidata.org/entity/Q11002,http://w...","http://www.wikidata.org/entity/Q23118,http://w...","sugar, glucose, maltose, sucrose"

In [51]:
incorrect_rows["Cell Value"].values

array(['lobster', 'whisky, brandy, carbonated water, Selters, Q12646666',
       'raspberry', 'white wine, sugar, egg',
       'sugar, rum, Stroh, arrack, fruit', 'Pisco, bitters, ginger ale',
       'cinnamon, egg, walnut', 'rice, green bean, torikatsu',
       'table salt, butter, sour cream, panko, jasmine rice, green bean, peppercorn, corn starch, vegetable oil, garlic powder, cutlet, sesame seed, ginger, tonkatsu sauce',
       'rice, Glycine max, Welsh onion, Zingiber officinale, sesame',
       'rice, pork chop', 'sugar, peanut, sesame seed', 'snipe', 'rose',
       'northern pike', 'mutton', 'Huso', 'deer', 'coral', 'pear', 'frog',
       'fat',
       'Brockhaus and Efron Encyclopedic Dictionary, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'farina',
       'Fanta, Sprite, Angostura bitters, lemon, grenadine, cucumber',
       'rice, offal, pork meat', 'BLT, avocado', 'pink, ochre', 'Baisu',
       'rice', 'Coca-Cola', 'Pisco, Algarrobina', 'buttermilk, curd',
       'GmbH', 'Coca-Cola', 'cold', 'Yogyakarta', 'tomato', 'strobilus',
       'Phaseolus vulgaris, onion, chicharrón, garlic',
       'cheese, tomato, Habas, potato', 'rice, potato',
       'sugar, egg yolk, lemon',
       'sugar, coconut milk, rice flour, coconut',
       'palm oil, onion, Pterocarpus mildbraedii', 'taco, Cabeza',
       'lettuce, plantain, lemon, olive, corn on the cob, chicken egg, aji amarillo',
       'onion',
       'water, Solanum melongena, table salt, Caridea, durian, Elephantopus scaber, cassava root, kaffir lime leaf, asparagus bean',
       'carrot, cooked rice, ragout, minced meat, potato', 'beet',
       'saag, potato', 'Ōsaka',
       'Metropolitan Museum of Art, Medieval Art',
       'Metropolitan Museum of Art, Medieval Art',
       'Metropolitan Museum of Art, Islamic Art',
       'Metropolitan Museum of Art, Islamic Art',
       'Metropolitan Museum of Art, Islamic Art',
       'Solanum melongena, tahini', 'date', 'sugar, flour, oil',
       'flour, beet',
       'vegetable, table salt, Allium sativum, noodle, Allium cepa var. aggregatum, rice vermicelli, tapioca, Caesionidae',
       'Cymbopogon citratus, Pandanus amaryllifolius, ginger',
       'Indonesia, Central Java, Grobogan, Kudus, Pekalongan',
       'vanilla, cassava, cooking oil, coconut milk, rice flour, palm sugar',
       'Indonesia, North Sumatra, Toba',
       "table salt, Allium sativum, Cymbopogon citratus, Zingiber officinale, Curcuma longa, Citrus × aurantiifolia, Alpinia galanga, bird's eye chili, Aleurites moluccanus, coconut, Andaliman, Ayam Kampong, kaffir lime leaf, shallot",
       'Indonesia, South Sulawesi, Malino',
       'sugar, Carum carvi, Cymbopogon citratus, Curcuma longa, tofu, beef, noodle, lontong, mung bean sprout, petis, garlic, kaffir lime leaf, shallot, kecap',
       'Central Java, East Java, Special Region of Yogyakarta',
       'sugar, table salt, coconut milk, glutinous rice flour',
       'table salt, Kaempferia galanga, nut, coconut, garlic, cassava root',
       'sugar, flour, egg, cocoa powder', 'butter, lemon juice, rusk',
       'rice, unagi', 'Moroccan cuisine, Algerian cuisine',
       'canton of Valais', 'apple, cheese, Allium, potato',
       'sugar, raisin, almond',
       'table salt, Alpinia galanga, coconut water, chicken meat, Aleurites moluccanus, ginger, garlic, turmeric rhizome, kaffir lime leaf, shallot, Indonesian bay leaf',
       'Javanese', 'rice, meat, sugar, coconut milk, pigeon pea',
       'Brussels',
       'drinking water, milk, table salt, butter, flour, yeast, egg white',
       'Brussels', 'yeast, cassava root', 'Allium cepa, dough, mutton',
       'dough, mutton', 'sugar, table salt, egg, coconut milk, tapioca',
       'cold', 'Valencian cuisine',
       'chicken, rice, table salt, saffron, olive oil, Phaseolus lunatus, green bean, rabbit meat, tomato',
       'egg, sour cream, salo, H kabir, potato',
       'chocolate, marshmallow, graham cracker',
       'Nigeria, Northern Nigeria', 'Northern Region',
       "sugar, table salt, chili pepper, bird's eye chili, cashew nut",
       'Meyers Konversations-Lexikon, 4th edition (1885–1890)', 'Civet',
       'cold',
       'vanilla, egg, sodium bicarbonate, wheat flour, white sugar',
       'onion, meatball', 'egg', 'onion, potato',
       'beer, egg yolk, quark, smetana',
       "meat, sugar, table salt, Allium sativum, Piper nigrum, chili pepper, Citrus × aurantiifolia, bird's eye chili, Asparagus bean, grated coconut",
       'margarine, sugar, table salt, flour, egg, cooking oil, coconut milk, hot water, fermentation starter, coconut, turmeric rhizome, sago flour, kaffir lime leaf',
       'orange, chicken meat', 'Indonesia, East Java, Kediri, Kediri',
       'rice',
       'Cymbopogon citratus, Curcuma longa, chili pepper, cooked rice, ginger, garlic, shallot, Indonesian bay leaf',
       'table salt, acetic acid, fish as food, scallion, tapioca, palm sugar, banana leaf, chicken egg, garlic, sago flour',
       'milk, potato, sugar, table salt, nutritional yeast, wheat flour',
       'Indonesia, East Java, Pasuruan',
       'Indonesia, East Java, Madiun, Madiun', 'Brem',
       'panela, casabe de yuca',
       'carrot, chicken, bacon, chorizo, saffron, Phaseolus vulgaris, Cucurbita maxima, pork meat, beef, paprika, corn on the cob, pineapple, chickpea, garlic, Q109698336',
       'egg, glutinous rice, dried shrimp, chili, palm sugar, fried onion, peppercorn, grated coconut, ginger',
       'peanut', 'Indonesia, South Sulawesi, Makassar',
       'table salt, Allium sativum, Cymbopogon citratus, Tamarindus indica, Allium cepa var. aggregatum, Alpinia galanga, Citrus hystrix, Aleurites moluccanus, buah keluak, Indonesian bay leaf',
       'Indonesia, Special Region of Yogyakarta', 'potato', 'rice, meat',
       'jeon', 'Liangfen', 'pasta, tomato sauce, basil',
       'fruit, table salt, satay sauce, Q11252917, cowhide',
       'Indonesia, South Kalimantan, Banjar',
       'Indonesia, South Sulawesi, Makassar',
       'Carum carvi, celery, Cymbopogon citratus, Piper nigrum, offal, chili pepper, Citrus × aurantiifolia, beef, broth, Alpinia galanga, cooking oil, scallion, Aleurites moluccanus, palm sugar, fried onion, peanut, rice water, Tauco, ginger, coriander seed, garlic, Indonesian bay leaf',
       'Allium cepa, smetana, liver, tomato paste',
       'cayenne pepper, celery, roux, shrimp, peppercorn, onion, garlic, green bell pepper',
       'chicken, lime, cinnamon, chili pepper, soy sauce, scallion, five-spice powder, allspice, peppercorn, thyme, onion, brown sugar, garlic',
       'Indonesia, Sumbawa', 'cowhide',
       'South Kalimantan, Banjar, Indonesia', 'sugar, almond paste',
       'sacred, benthopelagic', 'smoked salmon, salmon',
       'flour, Chaat masala, onion, potato, chickpea',
       'table salt, mustard, mustard oil, Tenualosa ilisha',
       'fiber, food, vegetable, cereal, medicinal plant, building material, fodder, paste',
       'corn oil, corncob, corn starch, corn kernel, maize, corn husks, maize straw',
       'Brockhaus and Efron Encyclopedic Dictionary, Gujin Tushu Jicheng, Explanatory Dictionary of the Living Great Russian Language, Ottův slovník naučný, Small Brockhaus and Efron Encyclopedic Dictionary, Metropolitan Museum of Art Tagging Vocabulary, Zhiwu Mingshi Tukao, Flora Reipublicae Popularis Sinicae, volume 10(2)',
       'pomegranate', 'blackberry', 'cinnamon bark', 'cinnamon leaf oil',
       'peel', 'Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'Meyers Konversations-Lexikon, 4th edition (1885–1890)', 'Boí',
       'sociedad anónima', 'Font del Bou, Boí, Font del Boix', 'Pratdip',
       'Pratdip', 'lamian, Ramen', 'honeyberry', 'Poland, China', 'prawn',
       'milk, sugar, cinnamon, Carya illinoinensis, bicarbonate ion',
       'milk, sugar, chhena', 'New South Wales, Central Coast Council',
       'cinnamon', 'Pag', 'Brussels', 'quark',
       'Ottův slovník naučný, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'watercress',
       'Great Soviet Encyclopedia (1926–1947), Flora Reipublicae Popularis Sinicae, volume 33',
       'vulnerable',
       'Nordisk familjebok, Armenian Soviet Encyclopedia, Flora Reipublicae Popularis Sinicae, volume 49(1)',
       'air potato', 'Flora Reipublicae Popularis Sinicae, volume 16(1)',
       'Flora Reipublicae Popularis Sinicae, volume 80(1)', 'bulb',
       'scroll', 'mushroom', 'round', 'Mersin', 'first course',
       'cabbage soup, rassolnik, Kalya',
       'Granat Encyclopedic Dictionary, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'meat, broth, lemon, Salzgurke, olive', 'rice, meat, onion',
       'meat, potato', 'meat, potato',
       'Brockhaus and Efron Encyclopedic Dictionary, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'pineapple', 'milk, cinnamon, Phaseolus vulgaris, panela',
       'water, sugar, lard, cornmeal, wheat flour, panela',
       'milk, sugar, fig',
       'sugar, saffron, Malai, chhena, cardamom, pistachio nut',
       "rice, cow's milk", 'sugar, yogurt, flour, egg, semolina',
       'hurmašica', 'chocolate syrup, syrup, vanilla ice cream, pear',
       'milk, sugar',
       'water, rice, table salt, saffron, olive oil, blood sausage, pork ribs, potato, tomato, chickpea, garlic',
       'rice, white wine, butter, Allium, Parmesan cheese, meat stock',
       'rice', 'Cyprus, Near East',
       'rice, Allium, olive oil, Lens, Carum, Oryza, fried onion, Lentilles',
       'Palestine', 'rice, animal fats and oils, vegetable oil',
       'carrot, rice, meat, Allium cepa, vegetable oil',
       'rice, chicken meat', 'whipped cream, chestnut', 'vegetable',
       'sugarcane, sugar beet, sugar refinery', 'Western Punjabi',
       'treacle',
       'Gujin Tushu Jicheng, Zhiwu Mingshi Tukao, Flora Reipublicae Popularis Sinicae, volume 55(3)',
       'apple juice, apple cider, Mulling spices', 'Leben', 'small beer',
       'rice', 'sandwich, burger, jiamo',
       'John Montagu, 4th Earl of Sandwich', 'potato', 'bun', 'bun',
       'berbere, onion, chickpea, garlic', 'Corvus',
       'table salt, Piper nigrum, olive oil, Rosmarinus officinalis, Thymus, bay leaf, onion, eggplant, tomato, garlic',
       'goulash, fricassee, azu',
       'Gujin Tushu Jicheng, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'Pera, Choke pear', 'Citrinos × clementina, satsuma',
       'Pattaya, Pitahaya', 'fruit, medicinal plant, afforestation',
       'rambutan', 'Flora Reipublicae Popularis Sinicae, volume 47(1)',
       'Euphoria', 'eagle',
       'drinking water, date, Tiger Nut (Cyperus esculentus) Commercialization: Health Aspects, Composition, Properties, and Food Applications',
       'Krupnik, Krupnik, Q12115083',
       'Tamarindus indica, chili powder, fruit, chamoy, shaved ice',
       'Ate', 'S.A.',
       'vodka, ice cube, hot sauce, Worcestershire sauce, Clamato, peppercorn, Highball glass, celery salt, celery stalk, lime wedge',
       'Caesar', 'beer, wine, milk, honey, sugar, ale', 'evening drink',
       'drinking water, juice, sugar, sucrose',
       'water, sugar, aroma compound', 'reduction, dissolution',
       'guk, bap', 'pasta, common bean',
       'lime, broth, chicken meat, tomato, tortilla',
       'lime, broth, chicken meat, tortilla', 'Bourride, Buridda', 'beet',
       'beet', 'wakame', 'bull', 'food, cosmetics, motor fuel',
       'Category:Supper', 'tea time', 'sweet potato', 'sundae', 'grits',
       'maize, cinnamon, cocoa bean, Zea, Quararibea funebris',
       'bread, tomato', 'İnegöl',
       'Brockhaus and Efron Encyclopedic Dictionary, Meyers Konversations-Lexikon, 4th edition (1885–1890)',
       'cone, edible mushroom, marinade', 'bread, milk, sugar, egg',
       'pretzel, kifli, kalach', 'bean, samp', 'leek',
       'oil, egg, Mentha spicata, Halloumi, grape syrup', 'chickpea',
       'Azu', 'dengaku, Nameshi',
       'rice, bacon, chorizo, Phaseolus vulgaris, blood sausage, linguiça',
       'avocado', 'pigeon', 'Galicia',
       'table salt, white cabbage, Curcuma longa, Piper nigrum, acetic acid, Caridea, chili pepper, noodle, Allium cepa var. aggregatum, goat meat, scallion, star anise, leek, wheat flour, kecap manis, peppercorn, mung bean sprout, cabbage, cardamom, tomato, caraway seeds, garlic, celery',
       'frying, sautéing, boiling', 'China', 'cauliflower',
       'Phaseolus lunatus, potato, fried cheese, maize',
       'goulash, fricassee, azu', "People's Republic of China, China",
       'tomato', 'sugar, glucose, maltose, sucrose'], dtype=object)

In [52]:
incorrect_rows[incorrect_rows["Cell Value"] == "margarine, sugar, table salt, flour, egg, cooking oil, coconut milk, hot water, fermentation starter, coconut, turmeric rhizome, sago flour, kaffir lime leaf"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
805,CQYG166I1328,1,6,"http://www.wikidata.org/entity/Q4287,http://ww...","http://www.wikidata.org/entity/Q4287,http://ww...","margarine, sugar, table salt, flour, egg, cook..."