### Load Dependencies

In [2]:
import pandas as pd
import gzip
import json
import matplotlib.pyplot as plt
import os
import seaborn as sns
import langid

## Load all dataframes in a dictionary

In [3]:
# Read all tables and store them in dfs list
dfs = {}
tables_path = "Dataset/val/tables/"
files = os.listdir(tables_path)
for file in files:
    df = pd.read_csv(tables_path + file)
    dfs[file] = df

### Load Output csv file of the first Experiment

In [4]:
new_column_names = ['Table Name', 'Column Index', 'Row Index', 'Retrieved Annotation']
df_output = pd.read_csv("Dataset/output/cea annotation/cea_biodiv_first_experiment.csv", header=None, names=new_column_names)
df_output.head()

,Table Name,Column Index,Row Index,Retrieved Annotation
0,008851b16aa04124b3a9195676604f35,0,0,https://www.wikidata.org/wiki/Q7432
1,008851b16aa04124b3a9195676604f35,0,1,https://www.wikidata.org/wiki/Q2093287
2,008851b16aa04124b3a9195676604f35,0,2,https://www.wikidata.org/wiki/Q8261255
3,008851b16aa04124b3a9195676604f35,0,3,https://www.wikidata.org/wiki/Q2942992
4,008851b16aa04124b3a9195676604f35,0,4,https://www.wikidata.org/wiki/Q1105092

In [5]:
df_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 4 columns):
Table Name              2009 non-null object
Column Index            2009 non-null int64
Row Index               2009 non-null int64
Retrieved Annotation    763 non-null object
dtypes: int64(2), object(2)
memory usage: 62.9+ KB

### Retrieve and Analyse returned NaN by the API

In [6]:
# Retrieve all rows with NaN values in a specific column
nan_rows = df_output[df_output["Retrieved Annotation"].isnull()]

# Print the resulting dataframe
print(nan_rows)

                            Table Name  Column Index  Row Index  \
58    008851b16aa04124b3a9195676604f35             2         89
59    008851b16aa04124b3a9195676604f35             2         91
75    008851b16aa04124b3a9195676604f35            10          0
76    008851b16aa04124b3a9195676604f35            11          0
86    008851b16aa04124b3a9195676604f35            25          1
...                                ...           ...        ...
2004  e749786aff714981a5a7da3da0789128             1         95
2005  e749786aff714981a5a7da3da0789128             1         96
2006  e749786aff714981a5a7da3da0789128             1         97
2007  e749786aff714981a5a7da3da0789128             1         98
2008  e749786aff714981a5a7da3da0789128             1         99

     Retrieved Annotation
58                    NaN
59                    NaN
75                    NaN
76                    NaN
86                    NaN
...                   ...
2004                  NaN
2005                  NaN
2006                  NaN
2007                  NaN
2008                  NaN

[1246 rows x 4 columns]

In [7]:
# Exploring the first 10 rows
nan_rows[:10]

,Table Name,Column Index,Row Index,Retrieved Annotation
58,008851b16aa04124b3a9195676604f35,2,89,NaN
59,008851b16aa04124b3a9195676604f35,2,91,NaN
75,008851b16aa04124b3a9195676604f35,10,0,NaN
76,008851b16aa04124b3a9195676604f35,11,0,NaN
86,008851b16aa04124b3a9195676604f35,25,1,NaN
87,008851b16aa04124b3a9195676604f35,25,2,NaN
88,008851b16aa04124b3a9195676604f35,25,3,NaN
89,008851b16aa04124b3a9195676604f35,25,4,NaN
90,008851b16aa04124b3a9195676604f35,25,5,NaN
91,008851b16aa04124b3a9195676604f35,25,6,NaN

In [8]:
# Mapping with the value
new_column_names = ['Table Name', 'Column Index', 'Row Index', 'Target Annotation']
cea_gt = pd.read_csv(f"Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None, names=new_column_names)
values = {}
for index, row in nan_rows.iterrows():
    # Load the dataframe
    df = pd.read_csv(f"Dataset/val/tables/{row[0]}.csv", header=None)
    annotation = cea_gt[(cea_gt.iloc[:,0] == row[0]) & (cea_gt.iloc[:,1] == row[1]) & (cea_gt.iloc[:,2] == row[2])].iloc[:,3].values[0]
    cell_value = df.iloc[row[2], row[1]]
    values[cell_value] = annotation

In [9]:
print(f"Total number of missing entities: {len(values)}")

Total number of missing entities: 1242

In [10]:
# join prediction and target dataframes
merged_df = pd.merge(cea_gt, df_output, on=['Table Name', 'Column Index', 'Row Index'])

In [11]:
merged_df.head()

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation
0,008851b16aa04124b3a9195676604f35,0,0,https://www.wikidata.org/wiki/Q7432,https://www.wikidata.org/wiki/Q7432
1,008851b16aa04124b3a9195676604f35,0,1,https://www.wikidata.org/wiki/Q2093287,https://www.wikidata.org/wiki/Q2093287
2,008851b16aa04124b3a9195676604f35,0,2,https://www.wikidata.org/wiki/Q8261255,https://www.wikidata.org/wiki/Q8261255
3,008851b16aa04124b3a9195676604f35,0,3,https://www.wikidata.org/wiki/Q2942992,https://www.wikidata.org/wiki/Q2942992
4,008851b16aa04124b3a9195676604f35,0,4,https://www.wikidata.org/wiki/Q1105092,https://www.wikidata.org/wiki/Q1105092

In [12]:
# Add Cell Content
def retrieve_cell_value(row):
    df = pd.read_csv(f"Dataset/val/tables/{row['Table Name']}.csv", header=None)
    cell_value = df.iloc[row["Row Index"], row["Column Index"]]
    return cell_value
    
merged_df["Cell Value"] = merged_df.apply(lambda row: retrieve_cell_value(row), axis=1)

In [13]:
merged_df

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
0,008851b16aa04124b3a9195676604f35,0,0,https://www.wikidata.org/wiki/Q7432,https://www.wikidata.org/wiki/Q7432,species
1,008851b16aa04124b3a9195676604f35,0,1,https://www.wikidata.org/wiki/Q2093287,https://www.wikidata.org/wiki/Q2093287,Ambloplites rupestris
2,008851b16aa04124b3a9195676604f35,0,2,https://www.wikidata.org/wiki/Q8261255,https://www.wikidata.org/wiki/Q8261255,Campostoma anomalum
3,008851b16aa04124b3a9195676604f35,0,3,https://www.wikidata.org/wiki/Q2942992,https://www.wikidata.org/wiki/Q2942992,Catostomus commersonii
4,008851b16aa04124b3a9195676604f35,0,4,https://www.wikidata.org/wiki/Q1105092,https://www.wikidata.org/wiki/Q1105092,Chrosomus erythrogaster
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [14]:
merged_df[merged_df["Cell Value"] == "2015 (July)"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1009,39a2d36769294a0a846cc209c45234e4,4,2,https://www.wikidata.org/wiki/Q121,NaN,2015 (July)
1437,89e72a749d764c1aacd9284e01c412a4,4,2,https://www.wikidata.org/wiki/Q2002,NaN,2015 (July)

In [15]:
wrong_retrieval = merged_df[merged_df["Target Annotation"] != merged_df["Retrieved Annotation"]]

In [17]:
# Correct retrieval
nan_values = merged_df[(merged_df["Target Annotation"] != merged_df["Retrieved Annotation"]) & 
                       (merged_df["Retrieved Annotation"].isna())]

In [18]:
nan_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
58,008851b16aa04124b3a9195676604f35,2,89,https://www.wikidata.org/wiki/Q841782,NaN,Chowan -
59,008851b16aa04124b3a9195676604f35,2,91,https://www.wikidata.org/wiki/Q143762,NaN,Delaware-Mid Atlantic Coastal
75,008851b16aa04124b3a9195676604f35,10,0,https://www.wikidata.org/wiki/Q34027,NaN,lat_dd
76,008851b16aa04124b3a9195676604f35,11,0,https://www.wikidata.org/wiki/Q36477,NaN,lon_dd
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [19]:
nan_values[nan_values["Table Name"] == "008851b16aa04124b3a9195676604f35"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
58,008851b16aa04124b3a9195676604f35,2,89,https://www.wikidata.org/wiki/Q841782,NaN,Chowan -
59,008851b16aa04124b3a9195676604f35,2,91,https://www.wikidata.org/wiki/Q143762,NaN,Delaware-Mid Atlantic Coastal
75,008851b16aa04124b3a9195676604f35,10,0,https://www.wikidata.org/wiki/Q34027,NaN,lat_dd
76,008851b16aa04124b3a9195676604f35,11,0,https://www.wikidata.org/wiki/Q36477,NaN,lon_dd
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
87,008851b16aa04124b3a9195676604f35,25,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma,Campostoma anomalum"
88,008851b16aa04124b3a9195676604f35,25,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus,Catostomus commersonii"
89,008851b16aa04124b3a9195676604f35,25,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus,Chrosomus erythrogaster"
90,008851b16aa04124b3a9195676604f35,25,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus,Clinostomus funduloides"
91,008851b16aa04124b3a9195676604f35,25,6,"https://www.wikidata.org/wiki/Q217560,https://...",NaN,"Etheostoma,Etheostoma caeruleum"
92,008851b16aa04124b3a9195676604f35,25,7,"https://www.wikidata.org/wiki/Q3756770,https:/...",NaN,"Notropis,Notropis buccatus"
93,008851b16aa04124b3a9195676604f35,25,8,"https://www.wikidata.org/wiki/Q3046026,https:/...",NaN,"Pimephales,Pimephales notatus"
94,008851b16aa04124b3a9195676604f35,25,9,"https://www.wikidata.org/wiki/Q1102705,https:/...",NaN,"Rhinichthys,Rhinichthys obtusus"
95,008851b16aa04124b3a9195676604f35,25,10,"https://www.wikidata.org/wiki/Q3133554,https:/...",NaN,"Semotilus,Semotilus atromaculatus"
96,008851b16aa04124b3a9195676604f35,25,14,"https://www.wikidata.org/wiki/Q3753866,https:/...",NaN,"Etheostoma,Etheostoma blennioides"
97,008851b16aa04124b3a9195676604f35,25,16,"https://www.wikidata.org/wiki/Q3752556,https:/...",NaN,"Etheostoma,Etheostoma flabellare"
98,008851b16aa04124b3a9195676604f35,25,17,"https://www.wikidata.org/wiki/Q2236034,https:/...",NaN,"Chrosomus,Chrosomus cumberlandensis"
99,008851b16aa04124b3a9195676604f35,25,19,"https://www.wikidata.org/wiki/Q2042960,https:/...",NaN,"Etheostoma,Etheostoma kennicotti"
100,008851b16aa04124b3a9195676604f35,25,20,"https://www.wikidata.org/wiki/Q217581,https://...",NaN,"Etheostoma,Etheostoma nigrum"
101,008851b16aa04124b3a9195676604f35,25,21,"https://www.wikidata.org/wiki/Q2194268,https:/...",NaN,"Lepomis,Lepomis auritus"
102,008851b16aa04124b3a9195676604f35,25,22,"https://www.wikidata.org/wiki/Q1148148,https:/...",NaN,"Lepomis,Lepomis macrochirus"
103,008851b16aa04124b3a9195676604f35,25,24,"https://www.wikidata.org/wiki/Q2704889,https:/...",NaN,"Rhinichthys,Rhinichthys atratulus"
104,008851b16aa04124b3a9195676604f35,25,26,"https://www.wikidata.org/wiki/Q3643840,https:/...",NaN,"Micropterus,Micropterus punctulatus"
105,008851b16aa04124b3a9195676604f35,25,27,"https://www.wikidata.org/wiki/Q287368,https://...",NaN,"Moxostoma,Moxostoma erythrurum"
106,008851b16aa04124b3a9195676604f35,25,29,"https://www.wikidata.org/wiki/Q388110,https://...",NaN,"Notropis,Notropis leuciodus"
107,008851b16aa04124b3a9195676604f35,25,30,"https://www.wikidata.org/wiki/Q3754468,https:/...",NaN,"Notropis,Notropis photogenis"
108,008851b16aa04124b3a9195676604f35,25,31,"https://www.wikidata.org/wiki/Q3754033,https:/...",NaN,"Noturus,Noturus miurus"
109,008851b16aa04124b3a9195676604f35,25,36,"https://www.wikidata.org/wiki/Q4499931,https:/...",NaN,"Lampetra,Lampetra aepyptera"
110,008851b16aa04124b3a9195676604f35,25,37,"https://www.wikidata.org/wiki/Q2269714,https:/...",NaN,"Lepomis,Lepomis megalotis"
111,008851b16aa04124b3a9195676604f35,25,38,"https://www.wikidata.org/wiki/Q6413408,https:/...",NaN,"Luxilus,Luxilus chrysocephalus"
112,008851b16aa04124b3a9195676604f35,25,48,"https://www.wikidata.org/wiki/Q3756276,https:/...",NaN,"Notropis,Notropis rubellus"
113,008851b16aa04124b3a9195676604f35,25,49,"https://www.wikidata.org/wiki/Q947772,https://...",NaN,"Percina,Percina caprodes"
114,008851b16aa04124b3a9195676604f35,25,51,"https://www.wikidata.org/wiki/Q1462862,https:/...",NaN,"Sander,Sander vitreus"
115,008851b16aa04124b3a9195676604f35,25,53,"https://www.wikidata.org/wiki/Q536070,https://...",NaN,"Ameiurus,Ameiurus natalis"
116,008851b16aa04124b3a9195676604f35,25,55,"https://www.wikidata.org/wiki/Q6417895,https:/...",NaN,"Nocomis,Nocomis micropogon"
117,008851b16aa04124b3a9195676604f35,25,65,"https://www.wikidata.org/wiki/Q2165302,https:/...",NaN,"Etheostoma,Etheostoma zonale"
118,008851b16aa04124b3a9195676604f35,25,66,"https://www.wikidata.org/wiki/Q143432,https://...",NaN,"Ictiobus,Ictiobus bubalus"
119,008851b16aa04124b3a9195676604f35,25,67,"https://www.wikidata.org/wiki/Q1543413,https:/...",NaN,"Lepomis,Lepomis cyanellus"
120,008851b16aa04124b3a9195676604f35,25,72,"https://www.wikidata.org/wiki/Q2341801,https:/...",NaN,"Cottus,Cottus bairdii"
121,008851b16aa04124b3a9195676604f35,25,73,"https://www.wikidata.org/wiki/Q81110,https://w...",NaN,"Cyprinus,Cyprinus carpio"
122,008851b16aa04124b3a9195676604f35,25,74,"https://www.wikidata.org/wiki/Q93596,https://w...",NaN,"Esox,Esox niger"
123,008851b16aa04124b3a9195676604f35,25,78,"https://www.wikidata.org/wiki/Q2178257,https:/...",NaN,"Rhinichthys,Rhinichthys cataractae"
124,008851b16aa04124b3a9195676604f35,25,80,"https://www.wikidata.org/wiki/Q3763094,https:/...",NaN,"Luxilus,Luxilus cornutus"
125,008851b16aa04124b3a9195676604f35,25,82,"https://www.wikidata.org/wiki/Q2857311,https:/...",NaN,"Salmo,Salmo trutta"
126,008851b16aa04124b3a9195676604f35,25,84,"https://www.wikidata.org/wiki/Q3757818,https:/...",NaN,"Semotilus,Semotilus corporalis"
127,008851b16aa04124b3a9195676604f35,25,86,"https://www.wikidata.org/wiki/Q610177,https://...",NaN,"Cottus,Cottus cognatus"
128,008851b16aa04124b3a9195676604f35,25,87,"https://www.wikidata.org/wiki/Q3766704,https:/...",NaN,"Cyprinella,Cyprinella spiloptera"
129,008851b16aa04124b3a9195676604f35,25,88,"https://www.wikidata.org/wiki/Q606436,https://...",NaN,"Etheostoma,Etheostoma olmstedi"
130,008851b16aa04124b3a9195676604f35,25,90,"https://www.wikidata.org/wiki/Q6406968,https:/...",NaN,"Hypentelium,Hypentelium roanokense"
131,008851b16aa04124b3a9195676604f35,25,91,"https://www.wikidata.org/wiki/Q723654,https://...",NaN,"Salvelinus,Salvelinus fontinalis"
133,008851b16aa04124b3a9195676604f35,28,0,https://www.wikidata.org/wiki/Q11500,NaN,ws_area

In [20]:
nan_values[nan_values["Cell Value"] == "Nocomis,Nocomis micropogon"]["Target Annotation"].values

array(['https://www.wikidata.org/wiki/Q6417895,https://www.wikidata.org/wiki/Q7046391'],
      dtype=object)

In [21]:
nan_values[nan_values["Cell Value"] == "Nocomis,Nocomis micropogon"]["Cell Value"].values

array(['Nocomis,Nocomis micropogon'], dtype=object)

In [22]:
nan_values[nan_values["Cell Value"] == "Salmo,Salmo trutta"]["Target Annotation"].values

array(['https://www.wikidata.org/wiki/Q2857311,https://www.wikidata.org/wiki/Q310436'],
      dtype=object)

In [23]:
nan_values[nan_values["Cell Value"] == "Salmo,Salmo trutta"]["Cell Value"].values

array(['Salmo,Salmo trutta'], dtype=object)

## Investigating on wrong annotations

In [213]:
wrong_retrieval = wrong_retrieval[wrong_retrieval["Retrieved Annotation"].notna()]

In [214]:
wrong_retrieval[:10]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
47,008851b16aa04124b3a9195676604f35,2,17,https://www.wikidata.org/wiki/Q1143718,https://www.wikidata.org/wiki/Q23360,Cumberland
48,008851b16aa04124b3a9195676604f35,2,26,https://www.wikidata.org/wiki/Q1544834,https://www.wikidata.org/wiki/Q1603,Kentucky
49,008851b16aa04124b3a9195676604f35,2,42,https://www.wikidata.org/wiki/Q1544834,https://www.wikidata.org/wiki/Q6841510,Middle Ohio
50,008851b16aa04124b3a9195676604f35,2,52,https://www.wikidata.org/wiki/Q859238,https://www.wikidata.org/wiki/Q958894,Big Sandy
51,008851b16aa04124b3a9195676604f35,2,55,https://www.wikidata.org/wiki/Q918867,https://www.wikidata.org/wiki/Q1931806,Kanawha
52,008851b16aa04124b3a9195676604f35,2,60,https://www.wikidata.org/wiki/Q179444,https://www.wikidata.org/wiki/Q755844,Potomac
53,008851b16aa04124b3a9195676604f35,2,62,https://www.wikidata.org/wiki/Q1544834,https://www.wikidata.org/wiki/Q7898836,Upper Ohio
54,008851b16aa04124b3a9195676604f35,2,66,https://www.wikidata.org/wiki/Q643780,https://www.wikidata.org/wiki/Q267927,Monongahela
56,008851b16aa04124b3a9195676604f35,2,77,https://www.wikidata.org/wiki/Q686021,https://www.wikidata.org/wiki/Q1752800,Allegheny
57,008851b16aa04124b3a9195676604f35,2,79,https://www.wikidata.org/wiki/Q143762,https://www.wikidata.org/wiki/Q1393,Delaware

In [215]:
# For example let's look at the row with the Cell Value Kanawha for second column in table 008851b16aa04124b3a9195676604f35.csv
dfs["008851b16aa04124b3a9195676604f35.csv"].iloc[55, :]

species                  Notropis buccatus
state                                   WV
hucname                            Kanawha
common_name                            NaN
dataset                               WVDE
station_date           KE-00089-9.3_2009_1
site_id                       KE-00089-9.3
year                                  2009
month                                    8
ecoregl3                                69
lat_dd                             38.3485
lon_dd                              -81.13
huc                                    505
bighuc                                 500
fe                                     130
mn                                       9
tp                                      20
ca                                 862.273
so4                                214.908
no3                                    328
cl                                 141.031
alk                                859.356
do                                    8.36
temp                                 22.35
rbpscore                               140
genus           Notropis,Notropis buccatus
abund                                    1
sumcount                               294
ws_area                             12.052
lwskm2                             1.08106
num                                    NaN
mg                                 361.974
na                                     NaN
k                                      NaN
hco3                                855.85
tn                                     928
al                                      20
se                                       1
cadmium                                NaN
calcium                                NaN
yearmonth                          2009-08
Name: 55, dtype: object

In [216]:
wrong_retrieval[-20:-10]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1547,a407fa84d55d4072945ac61346150d03,6,9,https://www.wikidata.org/wiki/Q483752,https://www.wikidata.org/wiki/Q180341,Methionine
1548,a407fa84d55d4072945ac61346150d03,6,10,https://www.wikidata.org/wiki/Q22124685,https://www.wikidata.org/wiki/Q484940,Isoleucine
1549,a407fa84d55d4072945ac61346150d03,6,11,https://www.wikidata.org/wiki/Q484940,https://www.wikidata.org/wiki/Q483745,Leucine
1550,a407fa84d55d4072945ac61346150d03,6,12,https://www.wikidata.org/wiki/Q483745,https://www.wikidata.org/wiki/Q188017,Tyrosine
1551,a407fa84d55d4072945ac61346150d03,6,13,https://www.wikidata.org/wiki/Q188017,https://www.wikidata.org/wiki/Q170545,Phenylalanine
1552,a407fa84d55d4072945ac61346150d03,6,14,https://www.wikidata.org/wiki/Q170545,https://www.wikidata.org/wiki/Q18553706,Gamma amino butyric acid
1696,bce62d5597764148ae822175f250a215,4,0,https://www.wikidata.org/wiki/Q10926413,https://www.wikidata.org/wiki/Q190087,type
1697,bce62d5597764148ae822175f250a215,2,0,https://www.wikidata.org/wiki/Q36477,https://www.wikidata.org/wiki/Q211,lat
1698,bce62d5597764148ae822175f250a215,3,0,https://www.wikidata.org/wiki/Q34027,https://www.wikidata.org/wiki/Q114870393,long
1774,cdb29eaf5d6145d6978fd9c9d474a11d,8,7,"https://www.wikidata.org/wiki/Q120,https://www...",https://www.wikidata.org/wiki/Q3038746,Jun-2013

In [217]:
dfs["a407fa84d55d4072945ac61346150d03.csv"].iloc[:50]

,SampleID,Object,Plot_ID,Exploratory,Date,Bee_Species,Name_of_acid,Concentration
0,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Asparagine acid,13.154261
1,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Threonine,4.100810
2,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Serine,6.646743
3,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Glutamic acid,10.291269
4,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Proline,13.742940
5,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Glycine,6.468108
6,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Alanine,7.636598
7,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Valine,2.420476
8,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Methionine,1.064587
9,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Isoleucine,2.093678
10,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Leucine,9.843696
11,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Tyrosine,2.213917
12,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Phenylalanine,3.152016
13,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Gamma amino butyric acid,1.016656
14,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Ammoniumsulfat,17.174746
15,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Lysin,5.875409
16,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Histidine,1.887340
17,PNUTOB17180001,Pollen,AEG2,Alb,2017-06-09,Osmia bicornis,Arginine,5.564645
18,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Asparagine acid,19.584020
19,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Threonine,5.514611
20,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Serine,7.202552
21,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Glutamic acid,15.335394
22,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Proline,16.371541
23,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Glycine,7.394893
24,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Alanine,9.675145
25,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Valine,3.505710
26,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Methionine,1.752939
27,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Isoleucine,2.774120
28,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Leucine,9.546193
29,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Tyrosine,2.302485
30,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Phenylalanine,4.902526
31,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Gamma amino butyric acid,2.030192
32,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Ammoniumsulfat,17.628941
33,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Lysin,7.988788
34,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Histidine,4.264355
35,PNUTOB17180002,Pollen,AEG4,Alb,2017-06-09,Osmia bicornis,Arginine,7.802802
36,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Asparagine acid,9.344653
37,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Threonine,3.364547
38,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Serine,5.730967
39,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Glutamic acid,7.668652
40,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Proline,13.327686
41,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Glycine,5.318273
42,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Alanine,6.661839
43,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Valine,2.422855
44,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Methionine,1.552224
45,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Isoleucine,2.008564
46,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Leucine,6.591735
47,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Tyrosine,1.663544
48,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Phenylalanine,3.356553
49,PNUTOB17180003,Pollen,AEG5,Alb,2017-06-07,Osmia bicornis,Gamma amino butyric acid,1.157764

In [218]:
nan_values[50:80]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
133,008851b16aa04124b3a9195676604f35,28,0,https://www.wikidata.org/wiki/Q11500,NaN,ws_area
307,0bc67e05a4d14011a2cf3fca2f869495,8,32,https://www.wikidata.org/wiki/Q29887753,NaN,Bartonella cf. apis*
308,0bc67e05a4d14011a2cf3fca2f869495,8,36,https://www.wikidata.org/wiki/Q6784651,NaN,Massilia cf. aurea*
310,0bc67e05a4d14011a2cf3fca2f869495,8,39,https://www.wikidata.org/wiki/Q60617228,NaN,Snodgrassella cf. alvi*
321,0bc67e05a4d14011a2cf3fca2f869495,8,85,https://www.wikidata.org/wiki/Q3241189,NaN,Acinetobacter cf. baumannii*
322,0bc67e05a4d14011a2cf3fca2f869495,8,86,https://www.wikidata.org/wiki/Q16825002,NaN,Acinetobacter cf. nectaris*
324,0bc67e05a4d14011a2cf3fca2f869495,8,89,https://www.wikidata.org/wiki/Q7255078,NaN,Pseudomonas cf. oryzihabitans / psychrotolerans*
327,0bc67e05a4d14011a2cf3fca2f869495,8,96,https://www.wikidata.org/wiki/Q3966882,NaN,Spiroplasma cf. melliferum*
329,0bc67e05a4d14011a2cf3fca2f869495,9,0,https://www.wikidata.org/wiki/Q855769,NaN,strain_isolate
331,0bc67e05a4d14011a2cf3fca2f869495,11,0,https://www.wikidata.org/wiki/Q145911,NaN,sequence_length_bp
431,0be7652b187b45f5b111d51905c3c25b,1,1,https://www.wikidata.org/wiki/Q104483357,NaN,David Eichenberg (University of Halle-Wittenberg)
432,0be7652b187b45f5b111d51905c3c25b,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber (Universität Hamburg)
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119,NaN,Christian Ristok (German Centre for Integrativ...
473,0be7652b187b45f5b111d51905c3c25b,3,0,"https://www.wikidata.org/wiki/Q3186692,https:/...",NaN,Year_Collected
475,0be7652b187b45f5b111d51905c3c25b,3,11,https://www.wikidata.org/wiki/Q1990,NaN,2012.0
497,0be7652b187b45f5b111d51905c3c25b,38,0,https://www.wikidata.org/wiki/Q29539,NaN,stomata.density
498,0be7652b187b45f5b111d51905c3c25b,39,0,https://www.wikidata.org/wiki/Q36253,NaN,average.length
499,0be7652b187b45f5b111d51905c3c25b,40,0,https://www.wikidata.org/wiki/Q35059,NaN,average.width
502,0dc3add04e344228bb140d5392399521,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber
504,0ffeda696bba402284a382ab877bb9e7,0,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites rupestris,Ambloplites"
505,0ffeda696bba402284a382ab877bb9e7,0,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma anomalum,Campostoma"
506,0ffeda696bba402284a382ab877bb9e7,0,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus commersonii,Catostomus"
507,0ffeda696bba402284a382ab877bb9e7,0,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus erythrogaster,Chrosomus"
508,0ffeda696bba402284a382ab877bb9e7,0,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus funduloides,Clinostomus"
509,0ffeda696bba402284a382ab877bb9e7,0,6,"https://www.wikidata.org/wiki/Q217560,https://...",NaN,"Etheostoma caeruleum,Etheostoma"
510,0ffeda696bba402284a382ab877bb9e7,0,7,"https://www.wikidata.org/wiki/Q3756770,https:/...",NaN,"Notropis buccatus,Notropis"
511,0ffeda696bba402284a382ab877bb9e7,0,8,"https://www.wikidata.org/wiki/Q3046026,https:/...",NaN,"Pimephales notatus,Pimephales"
512,0ffeda696bba402284a382ab877bb9e7,0,9,"https://www.wikidata.org/wiki/Q1102705,https:/...",NaN,"Rhinichthys obtusus,Rhinichthys"
513,0ffeda696bba402284a382ab877bb9e7,0,10,"https://www.wikidata.org/wiki/Q3133554,https:/...",NaN,"Semotilus atromaculatus,Semotilus"
514,0ffeda696bba402284a382ab877bb9e7,0,14,"https://www.wikidata.org/wiki/Q3753866,https:/...",NaN,"Etheostoma blennioides,Etheostoma"

### Experiment 3: 
#### Handling Parenthesis
Handling strings with "," as well as strings with not needed part. For example: 
* Wenzel Kroeber (Universität Hamburg) => Wenzel Kroeber
* David Eichenberg (University of Halle-Wittenberg) => David Eichenberg
* Christian Ristok (German Centre for Integrativ... => Christian Ristok

In [219]:
import re
def has_brackets_with_words(input_string):
    # Define a regular expression pattern to match opening and closing brackets with words inside
    pattern = r'\([^()]+\)'  # Matches anything inside parentheses, excluding nested parentheses
    
    # Search for the pattern in the input_string
    match = re.search(pattern, input_string)
    
    # If a match is found, return True; otherwise, return False
    return match is not None

print(has_brackets_with_words("David Eichenberg (University of Halle-Wittenberg)"))  # Output: True
print(has_brackets_with_words("strain_isolate"))  # Output: False

True
False

In [220]:
# Extracting the cell values with parenthesis
mask = nan_values["Cell Value"].apply(lambda row: has_brackets_with_words(row))
# Use the mask to filter and store the values that returned True
nested_values_with_parenthesis = nan_values.loc[mask, :]
nested_values_with_parenthesis

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
431,0be7652b187b45f5b111d51905c3c25b,1,1,https://www.wikidata.org/wiki/Q104483357,NaN,David Eichenberg (University of Halle-Wittenberg)
432,0be7652b187b45f5b111d51905c3c25b,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber (Universität Hamburg)
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119,NaN,Christian Ristok (German Centre for Integrativ...
551,1104b09c7f1f434a89a30a977b052c53,1,62,https://www.wikidata.org/wiki/Q1206134,NaN,German Centre for Integrative Biodiversity Res...
1008,39a2d36769294a0a846cc209c45234e4,4,1,https://www.wikidata.org/wiki/Q123,NaN,2015 (September)
1009,39a2d36769294a0a846cc209c45234e4,4,2,https://www.wikidata.org/wiki/Q121,NaN,2015 (July)
1010,39a2d36769294a0a846cc209c45234e4,4,3,https://www.wikidata.org/wiki/Q122,NaN,2015 (August)
1011,39a2d36769294a0a846cc209c45234e4,4,4,https://www.wikidata.org/wiki/Q123,NaN,2016 (September)
1094,5a71350927ed44ca979498a5b7719a68,0,42,https://www.wikidata.org/wiki/Q375790,NaN,"Cassowary, Southern (Double-wattled),Casuarius..."
1296,5f50cabcafd1482e98d9dc446d735f5e,0,42,https://www.wikidata.org/wiki/Q375790,NaN,"Cassowary, Southern (Double-wattled)"
1436,89e72a749d764c1aacd9284e01c412a4,4,1,https://www.wikidata.org/wiki/Q2002,NaN,2015 (September)
1437,89e72a749d764c1aacd9284e01c412a4,4,2,https://www.wikidata.org/wiki/Q2002,NaN,2015 (July)
1438,89e72a749d764c1aacd9284e01c412a4,4,3,https://www.wikidata.org/wiki/Q2002,NaN,2015 (August)
1439,89e72a749d764c1aacd9284e01c412a4,4,4,https://www.wikidata.org/wiki/Q25245,NaN,2016 (September)
1657,b0edc48006d5454dae3ca3e41f33e280,12,1,"https://www.wikidata.org/wiki/Q1384,https://ww...",NaN,New York (United States)
1658,b0edc48006d5454dae3ca3e41f33e280,12,2,"https://www.wikidata.org/wiki/Q1439,https://ww...",NaN,Texas (United States)
1659,b0edc48006d5454dae3ca3e41f33e280,12,3,"https://www.wikidata.org/wiki/Q1588,https://ww...",NaN,Louisiana (United States)
1660,b0edc48006d5454dae3ca3e41f33e280,12,4,"https://www.wikidata.org/wiki/Q1223,https://ww...",NaN,Washington (United States)
1661,b0edc48006d5454dae3ca3e41f33e280,12,5,"https://www.wikidata.org/wiki/Q1370,https://ww...",NaN,Virginia (United States)
1662,b0edc48006d5454dae3ca3e41f33e280,12,6,https://www.wikidata.org/wiki/Q30,NaN,nan (United States)
1663,b0edc48006d5454dae3ca3e41f33e280,12,7,"https://www.wikidata.org/wiki/Q1393,https://ww...",NaN,Delaware (United States)
1664,b0edc48006d5454dae3ca3e41f33e280,12,8,"https://www.wikidata.org/wiki/Q61,https://www....",NaN,DC (United States)
1665,b0edc48006d5454dae3ca3e41f33e280,12,9,"https://www.wikidata.org/wiki/Q1428,https://ww...",NaN,Georgia (United States)
1666,b0edc48006d5454dae3ca3e41f33e280,12,10,"https://www.wikidata.org/wiki/Q812,https://www...",NaN,Florida (United States)
1667,b0edc48006d5454dae3ca3e41f33e280,12,11,"https://www.wikidata.org/wiki/Q99,https://www....",NaN,California (United States)
1668,b0edc48006d5454dae3ca3e41f33e280,12,12,"https://www.wikidata.org/wiki/Q1204,https://ww...",NaN,Illinois (United States)
1669,b0edc48006d5454dae3ca3e41f33e280,12,13,"https://www.wikidata.org/wiki/Q779,https://www...",NaN,Connecticut (United States)
1670,b0edc48006d5454dae3ca3e41f33e280,12,14,"https://www.wikidata.org/wiki/Q1581,https://ww...",NaN,Missouri (United States)
1671,b0edc48006d5454dae3ca3e41f33e280,12,15,"https://www.wikidata.org/wiki/Q1387,https://ww...",NaN,Rhode Island (United States)
1672,b0edc48006d5454dae3ca3e41f33e280,12,17,"https://www.wikidata.org/wiki/Q782,https://www...",NaN,Hawaii (United States)
1673,b0edc48006d5454dae3ca3e41f33e280,12,18,"https://www.wikidata.org/wiki/Q816,https://www...",NaN,Arizona (United States)
1674,b0edc48006d5454dae3ca3e41f33e280,12,19,"https://www.wikidata.org/wiki/Q1509,https://ww...",NaN,Tennessee (United States)
1675,b0edc48006d5454dae3ca3e41f33e280,12,20,"https://www.wikidata.org/wiki/Q1456,https://ww...",NaN,South Carolina (United States)
1676,b0edc48006d5454dae3ca3e41f33e280,12,24,"https://www.wikidata.org/wiki/Q1211,https://ww...",NaN,South Dakota (United States)
1677,b0edc48006d5454dae3ca3e41f33e280,12,25,"https://www.wikidata.org/wiki/Q1408,https://ww...",NaN,New Jersey (United States)
1678,b0edc48006d5454dae3ca3e41f33e280,12,26,"https://www.wikidata.org/wiki/Q1261,https://ww...",NaN,Colorado (United States)
1679,b0edc48006d5454dae3ca3e41f33e280,12,27,"https://www.wikidata.org/wiki/Q1527,https://ww...",NaN,Minnesota (United States)
1680,b0edc48006d5454dae3ca3e41f33e280,12,31,"https://www.wikidata.org/wiki/Q173,https://www...",NaN,Alabama (United States)

In [221]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Cell Value"] == "New York (United States)"].values

array([['b0edc48006d5454dae3ca3e41f33e280', 12, 1,
        'https://www.wikidata.org/wiki/Q1384,https://www.wikidata.org/wiki/Q30',
        nan, 'New York (United States)']], dtype=object)

All the values that has not United States, have only one annotation. Therefore, an approach could be to delete the ones with words inside parenthesis if the value is different from "United States". Otherwise, we provide double annotation with one for the string outside the parenthesis and the other for the one inside the parenthesis.

In [222]:
print(f"The number of values with words inside parenthesis is: {nested_values_with_parenthesis.shape[0]}")

The number of values with words inside parenthesis is: 38

In [223]:
get_text_outside_brackets("David Eichenberg (University of Halle-Wittenberg)")

NameError: name 'get_text_outside_brackets' is not defined

In [224]:
has_brackets_with_words("David Eichenberg (University of Halle-Wittenberg)")

True

In [225]:
# Apply annotation for those values and compare
import requests
def get_text_inside_brackets(input_string):
    # Define a regular expression pattern to match opening and closing brackets with words inside
    pattern = r'\(([^()]+)\)'  # Using parentheses to capture the content inside
    
    # Find all occurrences of the pattern in the input_string
    matches = re.findall(pattern, input_string)
    
    # If matches are found, return the list of strings inside parentheses; otherwise, return an empty list
    return matches[0]


def get_text_outside_brackets(input_string):
    # Define a regular expression pattern to match opening and closing brackets with words inside
    pattern = r'\([^()]+\)'  # Matches anything inside parentheses, excluding nested parentheses
    
    # Split the input_string based on the pattern
    parts = re.split(pattern, input_string)
    
    # Remove any empty strings resulting from the split and join the remaining parts into a single string
    result = ''.join(filter(None, parts))
    
    return result

def get_wikidata_entity(table_name, row_index, column_index):
    print(table_name)
    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]
    print(cell_value)
    
    cell_value_1 = None
    cell_value_2 = None
    
    if has_brackets_with_words(cell_value):
        cell_value_1 = get_text_outside_brackets(cell_value)
        if (get_text_inside_brackets(cell_value) == "United States"):
            cell_value_2 = "United States"
       
    print(cell_value_1)
    print(cell_value_2)
    returned_value = ""
    # Get entity for the first value
    # No preprocessing, request the API with the same given cell input
    params = {
        "action": "wbsearchentities",
        "format": "json",
        "language": "en",
        "search": cell_value_1
    }
    
    try:
        response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
        data = response.json()

        if "search" in data:
            # If the API find an associated entity for the input
            if len(data["search"]) != 0:
                returned_value = returned_value + "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))
    
    # Get entity for the second value
    if (cell_value_2 is not None): 
        # No preprocessing, request the API with the same given cell input
        params = {
            "action": "wbsearchentities",
            "format": "json",
            "language": "en",
            "search": cell_value_2
        }

        try:
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    if (returned_value != ""):
                        returned_value = returned_value + "," + "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
                    else:
                        returned_value = "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]

        except requests.exceptions.RequestException as e:
            print("An error occurred while connecting to the Wikidata API:", str(e))

    return returned_value

nested_values_with_parenthesis["Retrieved Annotation"] = nested_values_with_parenthesis.apply(lambda row: get_wikidata_entity(row["Table Name"], row["Row Index"], row["Column Index"]), axis=1)

0be7652b187b45f5b111d51905c3c25b
David Eichenberg (University of Halle-Wittenberg)
David Eichenberg
None
0be7652b187b45f5b111d51905c3c25b
David Eichenberg (University of Halle-Wittenberg)
David Eichenberg
None

NameError: ("name 'WIKIDATA_API_ENDPOINT' is not defined", 'occurred at index 431')

In [ ]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Retrieved Annotation"] == nested_values_with_parenthesis["Target Annotation"]].shape[0]

#### Handling Nested Annotations

In [84]:
# Number of nested Target annotations
def has_more_than_one_annotation(annotation):
    if ("," in annotation):
        return True
    return False

# Extracting the cell values with parenthesis
mask = nan_values["Target Annotation"].apply(lambda annotation: has_more_than_one_annotation(annotation))
# Use the mask to filter and store the values that returned True
nested_annotations = nan_values.loc[mask, :]
nested_annotations

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
87,008851b16aa04124b3a9195676604f35,25,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma,Campostoma anomalum"
88,008851b16aa04124b3a9195676604f35,25,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus,Catostomus commersonii"
89,008851b16aa04124b3a9195676604f35,25,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus,Chrosomus erythrogaster"
90,008851b16aa04124b3a9195676604f35,25,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus,Clinostomus funduloides"
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [85]:
nan_values[150:250]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
585,11a0fb6a86ba4fef9dbb904fa851066b,1,34,"https://www.wikidata.org/wiki/Q1267582,https:/...",NaN,"Aves,Lophotis gindiana"
586,11a0fb6a86ba4fef9dbb904fa851066b,1,35,"https://www.wikidata.org/wiki/Q1265346,https:/...",NaN,"Aves,Turnix nigricollis"
587,11a0fb6a86ba4fef9dbb904fa851066b,1,36,"https://www.wikidata.org/wiki/Q206273,https://...",NaN,"Mammalia,Callimico goeldii"
588,11a0fb6a86ba4fef9dbb904fa851066b,1,37,"https://www.wikidata.org/wiki/Q132922,https://...",NaN,"Mammalia,Camelus bactrianus"
589,11a0fb6a86ba4fef9dbb904fa851066b,1,38,"https://www.wikidata.org/wiki/Q131538,https://...",NaN,"Mammalia,Hydrochaeris hydrochaeris"
...,...,...,...,...,...,...
681,18389aef970147c4982d160c7a2d42f9,7,53,"https://www.wikidata.org/wiki/Q146,https://www...",NaN,Inact FemaledCat
682,18389aef970147c4982d160c7a2d42f9,7,55,"https://www.wikidata.org/wiki/Q146,https://www...",NaN,fpayed Femle Cpt
683,18389aef970147c4982d160c7a2d42f9,7,57,"https://www.wikidata.org/wiki/Q146,https://www...",NaN,Netelew Male Cat
684,18389aef970147c4982d160c7a2d42f9,7,59,"https://www.wikidata.org/wiki/Q146,https://www...",NaN,Scayed Femag Cat
685,18389aef970147c4982d160c7a2d42f9,7,61,"https://www.wikidata.org/wiki/Q144,https://www...",NaN,lpayedFemale Deg

#### Handling Other Problems
Problem with table: d5542ea1fddf44c39d2bb70dc436ddf8.csv : Species column has the following structure: 
* species:first_name sub: second_name. E.g. species:Calypogeia sub:fissa, species:Conocephallum sub:saleborosum

Problem with table: b02af14b8cf34c43bac84325d6f1e912.csv: Complex name: 
* Sr_Strontium_Gr_GEMAS_AquaRegia => Strontium
* Cr_Chromium_Ap_AquaRegia => Chromium

Problemm with table: 9136f9e37ec94669a82e28df799553bf.csv: Wrong names (we can use google search query in this case)
* Albeluvkso => Albeluvisol
* Lvisll => Luvisol 

Problem with Abbreviations in 8249f8533f764f6dbd195a872c18fd6d.csv and 74fc7b22dac0461a8a522480483bae4a.csv

Problem with 5f50cabcafd1482e98d9dc446d735f5e.csv we should start with second word then first one:
* Dove, Jambu Fruit => Jambu Fruit Dove

Problem with 5a71350927ed44ca979498a5b7719a68.csv we should start with second word then first one and eliminate third word:
* Dove, Black-naped Fruit,Ptilinopus melanospilus => Black-naped Fruit Dove

Problem with 2504d3d1356b4e0b85f10170bdbaeaf1.csv, can be solved using google search queries (except some like C-500)

Problem with 18389aef970147c4982d160c7a2d42f9.csv, should remove last word: 
* Australian Cattle Dog Mix => Australian Cattle Dog
* Brown Tabby => Brown

Problems without solution for 18389aef970147c4982d160c7a2d42f9.csv

Some strings has an * in the end of the string
* Snodgrassella cf. alvi*
* Acinetobacter cf. baumannii*

In [86]:
Problem with

SyntaxError: invalid syntax (<ipython-input-86-ad445e075691>, line 1)

In [89]:
# Number of nested Target annotations
def has_more_than_one_annotation(annotation):
    if ("," in annotation):
        return False
    return True

# Extracting the cell values with parenthesis
mask = nan_values["Target Annotation"].apply(lambda annotation: has_more_than_one_annotation(annotation))
# Use the mask to filter and store the values that returned True
nested_annotations1 = nan_values.loc[mask, :]
nested_annotations1

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
58,008851b16aa04124b3a9195676604f35,2,89,https://www.wikidata.org/wiki/Q841782,NaN,Chowan -
59,008851b16aa04124b3a9195676604f35,2,91,https://www.wikidata.org/wiki/Q143762,NaN,Delaware-Mid Atlantic Coastal
75,008851b16aa04124b3a9195676604f35,10,0,https://www.wikidata.org/wiki/Q34027,NaN,lat_dd
76,008851b16aa04124b3a9195676604f35,11,0,https://www.wikidata.org/wiki/Q36477,NaN,lon_dd
133,008851b16aa04124b3a9195676604f35,28,0,https://www.wikidata.org/wiki/Q11500,NaN,ws_area
...,...,...,...,...,...,...
1861,d5542ea1fddf44c39d2bb70dc436ddf8,1,22,https://www.wikidata.org/wiki/Q15322955,NaN,species:Pogonatum sub:inflexum
1862,d5542ea1fddf44c39d2bb70dc436ddf8,1,23,https://www.wikidata.org/wiki/Q15248395,NaN,species:Thuidium sub:glaucinoides
1863,d5542ea1fddf44c39d2bb70dc436ddf8,1,24,https://www.wikidata.org/wiki/Q10958230,NaN,species:Trachycystis sub:microphylla
1864,d5542ea1fddf44c39d2bb70dc436ddf8,1,25,https://www.wikidata.org/wiki/Q2452682,NaN,species:Trichostomum sub:crispulum
1874,d55f605fbcfe42eaa90dba52e3763f07,2,89,https://www.wikidata.org/wiki/Q841782,NaN,Chowan - River

In [90]:
nested_annotations1[:50]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
58,008851b16aa04124b3a9195676604f35,2,89,https://www.wikidata.org/wiki/Q841782,NaN,Chowan -
59,008851b16aa04124b3a9195676604f35,2,91,https://www.wikidata.org/wiki/Q143762,NaN,Delaware-Mid Atlantic Coastal
75,008851b16aa04124b3a9195676604f35,10,0,https://www.wikidata.org/wiki/Q34027,NaN,lat_dd
76,008851b16aa04124b3a9195676604f35,11,0,https://www.wikidata.org/wiki/Q36477,NaN,lon_dd
133,008851b16aa04124b3a9195676604f35,28,0,https://www.wikidata.org/wiki/Q11500,NaN,ws_area
307,0bc67e05a4d14011a2cf3fca2f869495,8,32,https://www.wikidata.org/wiki/Q29887753,NaN,Bartonella cf. apis*
308,0bc67e05a4d14011a2cf3fca2f869495,8,36,https://www.wikidata.org/wiki/Q6784651,NaN,Massilia cf. aurea*
310,0bc67e05a4d14011a2cf3fca2f869495,8,39,https://www.wikidata.org/wiki/Q60617228,NaN,Snodgrassella cf. alvi*
321,0bc67e05a4d14011a2cf3fca2f869495,8,85,https://www.wikidata.org/wiki/Q3241189,NaN,Acinetobacter cf. baumannii*
322,0bc67e05a4d14011a2cf3fca2f869495,8,86,https://www.wikidata.org/wiki/Q16825002,NaN,Acinetobacter cf. nectaris*
324,0bc67e05a4d14011a2cf3fca2f869495,8,89,https://www.wikidata.org/wiki/Q7255078,NaN,Pseudomonas cf. oryzihabitans / psychrotolerans*
327,0bc67e05a4d14011a2cf3fca2f869495,8,96,https://www.wikidata.org/wiki/Q3966882,NaN,Spiroplasma cf. melliferum*
329,0bc67e05a4d14011a2cf3fca2f869495,9,0,https://www.wikidata.org/wiki/Q855769,NaN,strain_isolate
331,0bc67e05a4d14011a2cf3fca2f869495,11,0,https://www.wikidata.org/wiki/Q145911,NaN,sequence_length_bp
431,0be7652b187b45f5b111d51905c3c25b,1,1,https://www.wikidata.org/wiki/Q104483357,NaN,David Eichenberg (University of Halle-Wittenberg)
432,0be7652b187b45f5b111d51905c3c25b,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber (Universität Hamburg)
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119,NaN,Christian Ristok (German Centre for Integrativ...
475,0be7652b187b45f5b111d51905c3c25b,3,11,https://www.wikidata.org/wiki/Q1990,NaN,2012.0
497,0be7652b187b45f5b111d51905c3c25b,38,0,https://www.wikidata.org/wiki/Q29539,NaN,stomata.density
498,0be7652b187b45f5b111d51905c3c25b,39,0,https://www.wikidata.org/wiki/Q36253,NaN,average.length
499,0be7652b187b45f5b111d51905c3c25b,40,0,https://www.wikidata.org/wiki/Q35059,NaN,average.width
502,0dc3add04e344228bb140d5392399521,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber
550,1104b09c7f1f434a89a30a977b052c53,1,1,https://www.wikidata.org/wiki/Q32120,NaN,University of Halle-Wittenberg - David Eichenberg
551,1104b09c7f1f434a89a30a977b052c53,1,62,https://www.wikidata.org/wiki/Q1206134,NaN,German Centre for Integrative Biodiversity Res...
703,18389aef970147c4982d160c7a2d42f9,8,1,https://www.wikidata.org/wiki/Q6581097,NaN,Neupered Mao
704,18389aef970147c4982d160c7a2d42f9,8,2,https://www.wikidata.org/wiki/Q6581097,NaN,Neutered Male
705,18389aef970147c4982d160c7a2d42f9,8,3,https://www.wikidata.org/wiki/Q6581072,NaN,Spuye Female
707,18389aef970147c4982d160c7a2d42f9,8,7,https://www.wikidata.org/wiki/Q6581072,NaN,ntact Male
708,18389aef970147c4982d160c7a2d42f9,8,8,https://www.wikidata.org/wiki/Q6581072,NaN,Spayed Female
709,18389aef970147c4982d160c7a2d42f9,8,9,https://www.wikidata.org/wiki/Q6581072,NaN,Iotacj Mae
710,18389aef970147c4982d160c7a2d42f9,8,11,https://www.wikidata.org/wiki/Q6581072,NaN,lpayed gemae
711,18389aef970147c4982d160c7a2d42f9,8,13,https://www.wikidata.org/wiki/Q6581097,NaN,NutepedwMale
712,18389aef970147c4982d160c7a2d42f9,8,14,https://www.wikidata.org/wiki/Q6581072,NaN,Intact Male
713,18389aef970147c4982d160c7a2d42f9,8,15,https://www.wikidata.org/wiki/Q6581072,NaN,sjtat Male
714,18389aef970147c4982d160c7a2d42f9,8,17,https://www.wikidata.org/wiki/Q6581072,NaN,intft Male
715,18389aef970147c4982d160c7a2d42f9,8,19,https://www.wikidata.org/wiki/Q6581097,NaN,Neuteed bkle
716,18389aef970147c4982d160c7a2d42f9,8,21,https://www.wikidata.org/wiki/Q6581072,NaN,SpayedrFeare
717,18389aef970147c4982d160c7a2d42f9,8,23,https://www.wikidata.org/wiki/Q6581097,NaN,Neutered wae
718,18389aef970147c4982d160c7a2d42f9,8,25,https://www.wikidata.org/wiki/Q6581072,NaN,Spayet semle
719,18389aef970147c4982d160c7a2d42f9,8,27,https://www.wikidata.org/wiki/Q6581072,NaN,Insca Male
720,18389aef970147c4982d160c7a2d42f9,8,29,https://www.wikidata.org/wiki/Q6581097,NaN,Iazact Femle
721,18389aef970147c4982d160c7a2d42f9,8,33,https://www.wikidata.org/wiki/Q6581072,NaN,Intacw Mae
722,18389aef970147c4982d160c7a2d42f9,8,35,https://www.wikidata.org/wiki/Q6581072,NaN,Spaye terale
723,18389aef970147c4982d160c7a2d42f9,8,39,https://www.wikidata.org/wiki/Q6581072,NaN,Spaed Fzmane
724,18389aef970147c4982d160c7a2d42f9,8,41,https://www.wikidata.org/wiki/Q6581072,NaN,Spahed Fmale
725,18389aef970147c4982d160c7a2d42f9,8,43,https://www.wikidata.org/wiki/Q6581072,NaN,ntact pale
726,18389aef970147c4982d160c7a2d42f9,8,49,https://www.wikidata.org/wiki/Q6581072,NaN,SpayedeFemll
727,18389aef970147c4982d160c7a2d42f9,8,51,https://www.wikidata.org/wiki/Q6581097,NaN,eutered nole
728,18389aef970147c4982d160c7a2d42f9,8,53,https://www.wikidata.org/wiki/Q6581097,NaN,ntact Femaoe
729,18389aef970147c4982d160c7a2d42f9,8,55,https://www.wikidata.org/wiki/Q6581072,NaN,Spand Femald

In [91]:
nan_values[["Cell Value", "Target Annotation"]]

,Cell Value,Target Annotation
58,Chowan -,https://www.wikidata.org/wiki/Q841782
59,Delaware-Mid Atlantic Coastal,https://www.wikidata.org/wiki/Q143762
75,lat_dd,https://www.wikidata.org/wiki/Q34027
76,lon_dd,https://www.wikidata.org/wiki/Q36477
86,"Ambloplites,Ambloplites rupestris","https://www.wikidata.org/wiki/Q2093287,https:/..."
...,...,...
2004,"Phoenicopterus chilensis,Aves","https://www.wikidata.org/wiki/Q317220,https://..."
2005,"Phoenicopterus ruber roseus,Aves","https://www.wikidata.org/wiki/Q179863,https://..."
2006,"Phoeniconaias minor,Aves","https://www.wikidata.org/wiki/Q242369,https://..."
2007,"Pteropus hypomelanus,Mammalia","https://www.wikidata.org/wiki/Q583116,https://..."
2008,"Pteropus vampyrus,Mammalia","https://www.wikidata.org/wiki/Q649684,https://..."

In [92]:
# Count number of nan_values strings with a ","
def detect_more_than_one_word_string(row):
    if "," in row["Target Annotation"] and row["Cell Value"].count(",") == 1:
        return True
    return False

# Apply the lambda function to identify True values
mask = nan_values[["Cell Value", "Target Annotation"]].apply(lambda row: detect_more_than_one_word_string(row), axis=1)

# Use the mask to filter and store the values that returned True
composed_values = nan_values.loc[mask, :]

In [93]:
composed_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
87,008851b16aa04124b3a9195676604f35,25,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma,Campostoma anomalum"
88,008851b16aa04124b3a9195676604f35,25,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus,Catostomus commersonii"
89,008851b16aa04124b3a9195676604f35,25,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus,Chrosomus erythrogaster"
90,008851b16aa04124b3a9195676604f35,25,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus,Clinostomus funduloides"
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [94]:
composed_values[["Target Annotation", "Cell Value"]].values

array([['https://www.wikidata.org/wiki/Q2093287,https://www.wikidata.org/wiki/Q290487',
        'Ambloplites,Ambloplites rupestris'],
       ['https://www.wikidata.org/wiki/Q8261255,https://www.wikidata.org/wiki/Q857855',
        'Campostoma,Campostoma anomalum'],
       ['https://www.wikidata.org/wiki/Q2942992,https://www.wikidata.org/wiki/Q2271225',
        'Catostomus,Catostomus commersonii'],
       ['https://www.wikidata.org/wiki/Q1105092,https://www.wikidata.org/wiki/Q1028723',
        'Chrosomus,Chrosomus erythrogaster'],
       ['https://www.wikidata.org/wiki/Q5133901,https://www.wikidata.org/wiki/Q5133903',
        'Clinostomus,Clinostomus funduloides'],
       ['https://www.wikidata.org/wiki/Q217560,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma caeruleum'],
       ['https://www.wikidata.org/wiki/Q3756770,https://www.wikidata.org/wiki/Q2521639',
        'Notropis,Notropis buccatus'],
       ['https://www.wikidata.org/wiki/Q3046026,https://www.wikidata.org/wiki/Q2707506',
        'Pimephales,Pimephales notatus'],
       ['https://www.wikidata.org/wiki/Q1102705,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys,Rhinichthys obtusus'],
       ['https://www.wikidata.org/wiki/Q3133554,https://www.wikidata.org/wiki/Q3768522',
        'Semotilus,Semotilus atromaculatus'],
       ['https://www.wikidata.org/wiki/Q3753866,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma blennioides'],
       ['https://www.wikidata.org/wiki/Q3752556,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma flabellare'],
       ['https://www.wikidata.org/wiki/Q2236034,https://www.wikidata.org/wiki/Q1028723',
        'Chrosomus,Chrosomus cumberlandensis'],
       ['https://www.wikidata.org/wiki/Q2042960,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma kennicotti'],
       ['https://www.wikidata.org/wiki/Q217581,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma nigrum'],
       ['https://www.wikidata.org/wiki/Q2194268,https://www.wikidata.org/wiki/Q251730',
        'Lepomis,Lepomis auritus'],
       ['https://www.wikidata.org/wiki/Q1148148,https://www.wikidata.org/wiki/Q251730',
        'Lepomis,Lepomis macrochirus'],
       ['https://www.wikidata.org/wiki/Q2704889,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys,Rhinichthys atratulus'],
       ['https://www.wikidata.org/wiki/Q3643840,https://www.wikidata.org/wiki/Q654061',
        'Micropterus,Micropterus punctulatus'],
       ['https://www.wikidata.org/wiki/Q287368,https://www.wikidata.org/wiki/Q2707493',
        'Moxostoma,Moxostoma erythrurum'],
       ['https://www.wikidata.org/wiki/Q388110,https://www.wikidata.org/wiki/Q2521639',
        'Notropis,Notropis leuciodus'],
       ['https://www.wikidata.org/wiki/Q3754468,https://www.wikidata.org/wiki/Q2521639',
        'Notropis,Notropis photogenis'],
       ['https://www.wikidata.org/wiki/Q3754033,https://www.wikidata.org/wiki/Q3759463',
        'Noturus,Noturus miurus'],
       ['https://www.wikidata.org/wiki/Q4499931,https://www.wikidata.org/wiki/Q1373683',
        'Lampetra,Lampetra aepyptera'],
       ['https://www.wikidata.org/wiki/Q2269714,https://www.wikidata.org/wiki/Q251730',
        'Lepomis,Lepomis megalotis'],
       ['https://www.wikidata.org/wiki/Q6413408,https://www.wikidata.org/wiki/Q6706396',
        'Luxilus,Luxilus chrysocephalus'],
       ['https://www.wikidata.org/wiki/Q3756276,https://www.wikidata.org/wiki/Q2521639',
        'Notropis,Notropis rubellus'],
       ['https://www.wikidata.org/wiki/Q947772,https://www.wikidata.org/wiki/Q2195856',
        'Percina,Percina caprodes'],
       ['https://www.wikidata.org/wiki/Q1462862,https://www.wikidata.org/wiki/Q310386',
        'Sander,Sander vitreus'],
       ['https://www.wikidata.org/wiki/Q536070,https://www.wikidata.org/wiki/Q601085',
        'Ameiurus,Ameiurus natalis'],
       ['https://www.wikidata.org/wiki/Q6417895,https://www.wikidata.org/wiki/Q7046391',
        'Nocomis,Nocomis micropogon'],
       ['https://www.wikidata.org/wiki/Q2165302,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma zonale'],
       ['https://www.wikidata.org/wiki/Q143432,https://www.wikidata.org/wiki/Q74347',
        'Ictiobus,Ictiobus bubalus'],
       ['https://www.wikidata.org/wiki/Q1543413,https://www.wikidata.org/wiki/Q251730',
        'Lepomis,Lepomis cyanellus'],
       ['https://www.wikidata.org/wiki/Q2341801,https://www.wikidata.org/wiki/Q134913',
        'Cottus,Cottus bairdii'],
       ['https://www.wikidata.org/wiki/Q81110,https://www.wikidata.org/wiki/Q134653',
        'Cyprinus,Cyprinus carpio'],
       ['https://www.wikidata.org/wiki/Q93596,https://www.wikidata.org/wiki/Q191674',
        'Esox,Esox niger'],
       ['https://www.wikidata.org/wiki/Q2178257,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys,Rhinichthys cataractae'],
       ['https://www.wikidata.org/wiki/Q3763094,https://www.wikidata.org/wiki/Q6706396',
        'Luxilus,Luxilus cornutus'],
       ['https://www.wikidata.org/wiki/Q2857311,https://www.wikidata.org/wiki/Q310436',
        'Salmo,Salmo trutta'],
       ['https://www.wikidata.org/wiki/Q3757818,https://www.wikidata.org/wiki/Q3768522',
        'Semotilus,Semotilus corporalis'],
       ['https://www.wikidata.org/wiki/Q610177,https://www.wikidata.org/wiki/Q134913',
        'Cottus,Cottus cognatus'],
       ['https://www.wikidata.org/wiki/Q3766704,https://www.wikidata.org/wiki/Q770535',
        'Cyprinella,Cyprinella spiloptera'],
       ['https://www.wikidata.org/wiki/Q606436,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma,Etheostoma olmstedi'],
       ['https://www.wikidata.org/wiki/Q6406968,https://www.wikidata.org/wiki/Q5957481',
        'Hypentelium,Hypentelium roanokense'],
       ['https://www.wikidata.org/wiki/Q723654,https://www.wikidata.org/wiki/Q548682',
        'Salvelinus,Salvelinus fontinalis'],
       ['https://www.wikidata.org/wiki/Q2093287,https://www.wikidata.org/wiki/Q290487',
        'Ambloplites rupestris,Ambloplites'],
       ['https://www.wikidata.org/wiki/Q8261255,https://www.wikidata.org/wiki/Q857855',
        'Campostoma anomalum,Campostoma'],
       ['https://www.wikidata.org/wiki/Q2942992,https://www.wikidata.org/wiki/Q2271225',
        'Catostomus commersonii,Catostomus'],
       ['https://www.wikidata.org/wiki/Q1105092,https://www.wikidata.org/wiki/Q1028723',
        'Chrosomus erythrogaster,Chrosomus'],
       ['https://www.wikidata.org/wiki/Q5133901,https://www.wikidata.org/wiki/Q5133903',
        'Clinostomus funduloides,Clinostomus'],
       ['https://www.wikidata.org/wiki/Q217560,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma caeruleum,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q3756770,https://www.wikidata.org/wiki/Q2521639',
        'Notropis buccatus,Notropis'],
       ['https://www.wikidata.org/wiki/Q3046026,https://www.wikidata.org/wiki/Q2707506',
        'Pimephales notatus,Pimephales'],
       ['https://www.wikidata.org/wiki/Q1102705,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys obtusus,Rhinichthys'],
       ['https://www.wikidata.org/wiki/Q3133554,https://www.wikidata.org/wiki/Q3768522',
        'Semotilus atromaculatus,Semotilus'],
       ['https://www.wikidata.org/wiki/Q3753866,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma blennioides,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q3752556,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma flabellare,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q2236034,https://www.wikidata.org/wiki/Q1028723',
        'Chrosomus cumberlandensis,Chrosomus'],
       ['https://www.wikidata.org/wiki/Q2042960,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma kennicotti,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q217581,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma nigrum,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q2194268,https://www.wikidata.org/wiki/Q251730',
        'Lepomis auritus,Lepomis'],
       ['https://www.wikidata.org/wiki/Q1148148,https://www.wikidata.org/wiki/Q251730',
        'Lepomis macrochirus,Lepomis'],
       ['https://www.wikidata.org/wiki/Q2704889,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys atratulus,Rhinichthys'],
       ['https://www.wikidata.org/wiki/Q3643840,https://www.wikidata.org/wiki/Q654061',
        'Micropterus punctulatus,Micropterus'],
       ['https://www.wikidata.org/wiki/Q287368,https://www.wikidata.org/wiki/Q2707493',
        'Moxostoma erythrurum,Moxostoma'],
       ['https://www.wikidata.org/wiki/Q388110,https://www.wikidata.org/wiki/Q2521639',
        'Notropis leuciodus,Notropis'],
       ['https://www.wikidata.org/wiki/Q3754468,https://www.wikidata.org/wiki/Q2521639',
        'Notropis photogenis,Notropis'],
       ['https://www.wikidata.org/wiki/Q3754033,https://www.wikidata.org/wiki/Q3759463',
        'Noturus miurus,Noturus'],
       ['https://www.wikidata.org/wiki/Q4499931,https://www.wikidata.org/wiki/Q1373683',
        'Lampetra aepyptera,Lampetra'],
       ['https://www.wikidata.org/wiki/Q2269714,https://www.wikidata.org/wiki/Q251730',
        'Lepomis megalotis,Lepomis'],
       ['https://www.wikidata.org/wiki/Q6413408,https://www.wikidata.org/wiki/Q6706396',
        'Luxilus chrysocephalus,Luxilus'],
       ['https://www.wikidata.org/wiki/Q3756276,https://www.wikidata.org/wiki/Q2521639',
        'Notropis rubellus,Notropis'],
       ['https://www.wikidata.org/wiki/Q947772,https://www.wikidata.org/wiki/Q2195856',
        'Percina caprodes,Percina'],
       ['https://www.wikidata.org/wiki/Q1462862,https://www.wikidata.org/wiki/Q310386',
        'Sander vitreus,Sander'],
       ['https://www.wikidata.org/wiki/Q536070,https://www.wikidata.org/wiki/Q601085',
        'Ameiurus natalis,Ameiurus'],
       ['https://www.wikidata.org/wiki/Q6417895,https://www.wikidata.org/wiki/Q7046391',
        'Nocomis micropogon,Nocomis'],
       ['https://www.wikidata.org/wiki/Q2165302,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma zonale,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q143432,https://www.wikidata.org/wiki/Q74347',
        'Ictiobus bubalus,Ictiobus'],
       ['https://www.wikidata.org/wiki/Q1543413,https://www.wikidata.org/wiki/Q251730',
        'Lepomis cyanellus,Lepomis'],
       ['https://www.wikidata.org/wiki/Q2341801,https://www.wikidata.org/wiki/Q134913',
        'Cottus bairdii,Cottus'],
       ['https://www.wikidata.org/wiki/Q81110,https://www.wikidata.org/wiki/Q134653',
        'Cyprinus carpio,Cyprinus'],
       ['https://www.wikidata.org/wiki/Q93596,https://www.wikidata.org/wiki/Q191674',
        'Esox niger,Esox'],
       ['https://www.wikidata.org/wiki/Q2178257,https://www.wikidata.org/wiki/Q2716403',
        'Rhinichthys cataractae,Rhinichthys'],
       ['https://www.wikidata.org/wiki/Q3763094,https://www.wikidata.org/wiki/Q6706396',
        'Luxilus cornutus,Luxilus'],
       ['https://www.wikidata.org/wiki/Q2857311,https://www.wikidata.org/wiki/Q310436',
        'Salmo trutta,Salmo'],
       ['https://www.wikidata.org/wiki/Q3757818,https://www.wikidata.org/wiki/Q3768522',
        'Semotilus corporalis,Semotilus'],
       ['https://www.wikidata.org/wiki/Q610177,https://www.wikidata.org/wiki/Q134913',
        'Cottus cognatus,Cottus'],
       ['https://www.wikidata.org/wiki/Q3766704,https://www.wikidata.org/wiki/Q770535',
        'Cyprinella spiloptera,Cyprinella'],
       ['https://www.wikidata.org/wiki/Q606436,https://www.wikidata.org/wiki/Q2112610',
        'Etheostoma olmstedi,Etheostoma'],
       ['https://www.wikidata.org/wiki/Q6406968,https://www.wikidata.org/wiki/Q5957481',
        'Hypentelium roanokense,Hypentelium'],
       ['https://www.wikidata.org/wiki/Q723654,https://www.wikidata.org/wiki/Q548682',
        'Salvelinus fontinalis,Salvelinus'],
       ['https://www.wikidata.org/wiki/Q190154,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Addax nasomaculatus'],
       ['https://www.wikidata.org/wiki/Q775170,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Dasyprocta leporina'],
       ['https://www.wikidata.org/wiki/Q194422,https://www.wikidata.org/wiki/Q10811',
        'Reptilia,Alligator sinensis'],
       ['https://www.wikidata.org/wiki/Q317393,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Bubalus depressicornis'],
       ['https://www.wikidata.org/wiki/Q203033,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Myrmecophaga tridactyla'],
       ['https://www.wikidata.org/wiki/Q471785,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Hippotragus equinus'],
       ['https://www.wikidata.org/wiki/Q239381,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Hippotragus niger'],
       ['https://www.wikidata.org/wiki/Q1067850,https://www.wikidata.org/wiki/Q5113',
        'Aves,Pteroglossus viridis'],
       ['https://www.wikidata.org/wiki/Q652266,https://www.wikidata.org/wiki/Q5113',
        'Aves,Argusianus argusï¿½'],
       ['NIL,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Tolypeutes matacas'],
       ['https://www.wikidata.org/wiki/Q189484,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Papio hamadryas'],
       ['https://www.wikidata.org/wiki/Q506308,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Rucervus duvaucelii'],
       ['https://www.wikidata.org/wiki/Q267565,https://www.wikidata.org/wiki/Q5113',
        'Aves,Trachyphonus erythrocephalus'],
       ['https://www.wikidata.org/wiki/Q1091763,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Pteropus rodricensis'],
       ['https://www.wikidata.org/wiki/Q33108,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Eidolon helvum'],
       ['https://www.wikidata.org/wiki/Q137641,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Tremarctos ornatus'],
       ['https://www.wikidata.org/wiki/Q124410,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Ursus thibetanus'],
       ['https://www.wikidata.org/wiki/Q36341,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Ursus arctos'],
       ['https://www.wikidata.org/wiki/Q33609,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Ursus maritimus'],
       ['https://www.wikidata.org/wiki/Q145016,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Melursus ursinus'],
       ['https://www.wikidata.org/wiki/Q144923,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Helarctos malayanus'],
       ['https://www.wikidata.org/wiki/Q210070,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Bettongia penicillata'],
       ['https://www.wikidata.org/wiki/Q213141,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Arctictis binturong'],
       ['https://www.wikidata.org/wiki/Q749577,https://www.wikidata.org/wiki/Q5113',
        'Aves,Paradisaea raggiana'],
       ['https://www.wikidata.org/wiki/Q605846,https://www.wikidata.org/wiki/Q5113',
        'Aves,Irena puella'],
       ['https://www.wikidata.org/wiki/Q2383035,https://www.wikidata.org/wiki/Q10811',
        'Reptilia,Chilabothrus subflavus'],
       ['https://www.wikidata.org/wiki/Q131907,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Lynx rufus'],
       ['https://www.wikidata.org/wiki/Q40678778,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Tragelaphus eurycerus isaaci'],
       ['https://www.wikidata.org/wiki/Q19537,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Pan paniscus'],
       ['NIL,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Damaliscus pygargus pygarus'],
       ['https://www.wikidata.org/wiki/Q160042,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Syncerus caffer'],
       ['https://www.wikidata.org/wiki/Q1143192,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Galago moholi'],
       ['https://www.wikidata.org/wiki/Q53741,https://www.wikidata.org/wiki/Q10811',
        'Reptilia,Lachesis muta'],
       ['https://www.wikidata.org/wiki/Q1267582,https://www.wikidata.org/wiki/Q5113',
        'Aves,Lophotis gindiana'],
       ['https://www.wikidata.org/wiki/Q1265346,https://www.wikidata.org/wiki/Q5113',
        'Aves,Turnix nigricollis'],
       ['https://www.wikidata.org/wiki/Q206273,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Callimico goeldii'],
       ['https://www.wikidata.org/wiki/Q132922,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Camelus bactrianus'],
       ['https://www.wikidata.org/wiki/Q131538,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Hydrochaeris hydrochaeris'],
       ['https://www.wikidata.org/wiki/Q30847,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Caracal caracal'],
       ['https://www.wikidata.org/wiki/Q2668125,https://www.wikidata.org/wiki/Q5113',
        'Aves,Paroaria gularis'],
       ['https://www.wikidata.org/wiki/Q720526,https://www.wikidata.org/wiki/Q5113',
        'Aves,Paroaria coronata'],
       ['https://www.wikidata.org/wiki/Q375790,https://www.wikidata.org/wiki/Q5113',
        'Aves,Casuarius casuarius'],
       ['https://www.wikidata.org/wiki/Q204814,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Felis nigripes'],
       ['https://www.wikidata.org/wiki/Q190674,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Prionailurus viverrinus'],
       ['https://www.wikidata.org/wiki/Q24006022,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Felis manul'],
       ['https://www.wikidata.org/wiki/Q175329,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Felis margarita'],
       ['https://www.wikidata.org/wiki/Q3315420,https://www.wikidata.org/wiki/Q5113',
        'Aves,Cossypha niveicapilla'],
       ['https://www.wikidata.org/wiki/Q23907,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Acinonyx jubatus'],
       ['https://www.wikidata.org/wiki/Q586092,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Tragulus napu'],
       ['https://www.wikidata.org/wiki/Q4126704,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Pan troglodytes'],
       ['https://www.wikidata.org/wiki/Q754992,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Nasua narica'],
       ['https://www.wikidata.org/wiki/Q541813,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Colobus angolensis'],
       ['https://www.wikidata.org/wiki/Q628239,https://www.wikidata.org/wiki/Q7377',
        'Mammalia,Colobus guereza'],
       ['https://www.wikidata.org/wiki/Q170598,https://www.wikidata.org/wiki/Q5113',
        'Aves,Vultur gryphus'],
       ['https://www.wikidata.org/wiki/Q775300,https://www.wikidata.org/wiki/Q5113',
        'Aves,Guarouba guarouba'],
       ['https://www.wikidata.org/wiki/Q28106640,https://www.wikidata.org/wiki/Q5113',
        'Aves,Zapornia flavirostra'],
       ['https://www.wikidata.org/wiki/Q379761,https://www.wikidata.org/wiki/Q5113',
        'Aves,Balearica pavonina'],
       ['https://www.wikidata.org/wiki/Q40651447,https://www.wikidata.org/wiki/Q5113',
        'Aves,Anthropoides paradisea'],
       ['https://www.wikidata.org/wiki/Q191683,https://www.wikidata.org/wiki/Q5113',
        'Aves,Anthropoides virgo'],
       ['https://www.wikidata.org/wiki/Q335992,https://www.wikidata.org/wiki/Q5113',
        'Aves,Balearica regulorum'],
       ['https://www.wikidata.org/wiki/Q494983,https://www.wikidata.org/wiki/Q5113',
        'Aves,Grus monacha'],
       ['https://www.wikidata.org/wiki/Q232906,https://www.wikidata.org/wiki/Q5113',
        'Aves,Grus japonensis'],
       ['https://www.wikidata.org/wiki/Q494635,https://www.wikidata.org/wiki/Q5113',
        'Aves,Grus vipio'],
       ['https://www.wikidata.org/wiki/Q457477,https://www.wikidata.org/wiki/Q5113',
        'Aves,Grus americana'],
       ['https://www.wikidata.org/wiki/Q767354,https://www.wikidata.org/wiki/Q5113',
        'Aves,Pauxi pauxi'],
       ['https://www.wikidata.org/wiki/Q1043312,https://www.wikidata.org/wiki/Q5113',
        'Aves,Crax globulosa'],

In [226]:
# Count number of nan_values strings with a ","
def detect_abbreviation_in_string(row):
    if row["Cell Value"].count(".") == 1:
        return True
    return False

# Apply the lambda function to identify True values
mask = nan_values[["Cell Value", "Target Annotation"]].apply(lambda row: detect_abbreviation_in_string(row), axis=1)

# Use the mask to filter and store the values that returned True
abbreviation_values = nan_values.loc[mask, :]
abbreviation_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
307,0bc67e05a4d14011a2cf3fca2f869495,8,32,https://www.wikidata.org/wiki/Q29887753,NaN,Bartonella cf. apis*
308,0bc67e05a4d14011a2cf3fca2f869495,8,36,https://www.wikidata.org/wiki/Q6784651,NaN,Massilia cf. aurea*
310,0bc67e05a4d14011a2cf3fca2f869495,8,39,https://www.wikidata.org/wiki/Q60617228,NaN,Snodgrassella cf. alvi*
321,0bc67e05a4d14011a2cf3fca2f869495,8,85,https://www.wikidata.org/wiki/Q3241189,NaN,Acinetobacter cf. baumannii*
322,0bc67e05a4d14011a2cf3fca2f869495,8,86,https://www.wikidata.org/wiki/Q16825002,NaN,Acinetobacter cf. nectaris*
...,...,...,...,...,...,...
1431,8249f8533f764f6dbd195a872c18fd6d,0,86,https://www.wikidata.org/wiki/Q610177,NaN,C.cognatus
1432,8249f8533f764f6dbd195a872c18fd6d,0,87,https://www.wikidata.org/wiki/Q3766704,NaN,C.spiloptera
1433,8249f8533f764f6dbd195a872c18fd6d,0,88,https://www.wikidata.org/wiki/Q606436,NaN,E.olmstedi
1434,8249f8533f764f6dbd195a872c18fd6d,0,90,https://www.wikidata.org/wiki/Q6406968,NaN,H.roanokense
1435,8249f8533f764f6dbd195a872c18fd6d,0,91,https://www.wikidata.org/wiki/Q723654,NaN,S.fontinalis

In [240]:
abbreviation_values.iloc[11:, :]["Cell Value"].values

array(['D.glaucifolia', 'C.glauca', 'L.glaber', 'Q.serrata',
       'C.sclerophylla', 'L.formosana', 'R.chinensis', 'C.fargesii',
       'Ca. eyrei', 'Ch. axillaris', 'Ac. davidii', 'Li. formosana',
       'Ci. camphora', 'Tr. cochinchinensis', 'Sc. superba', 'Ca. henryi',
       'Cy. glauca', 'Di. japonica', 'Da. oldhamii', 'Di. myricoides',
       'Pi. massoniana', 'Ca. fargesii', 'Ma. thunbergii',
       'It. chinensis', 'Ko. bipinnata', 'Cy. myrsinifolia',
       'Ca. carlesii', 'Qu. serrata', 'Rh. indica', 'Sa. saponaria',
       'Ny. sinensis', 'Qu. fabri', 'Qu. acutissima', 'Li. glaber',
       'Rh. chinensis', 'El. japonicus', 'Al. fortunei', 'El. chinensis',
       'Ma. fordiana', 'Tr. sebifera', 'Me. flexuosa', 'Ma. grijsii',
       'Me. azedarach', 'Qu. phillyreoides', 'Cu. lanceolata',
       'Ca. sclerophylla', 'A.rupestris', 'C.anomalum', 'C.commersonii',
       'C.erythrogaster', 'C.funduloides', 'E.caeruleum', 'N.buccatus',
       'P.notatus', 'R.obtusus', 'S.atromaculatus', 'E.blennioides',
       'E.flabellare', 'C.cumberlandensis', 'E.kennicotti', 'E.nigrum',
       'L.auritus', 'L.macrochirus', 'R.atratulus', 'M.punctulatus',
       'M.erythrurum', 'N.leuciodus', 'N.photogenis', 'N.miurus',
       'L.aepyptera', 'L.megalotis', 'L.chrysocephalus', 'N.rubellus',
       'P.caprodes', 'S.vitreus', 'A.natalis', 'N.micropogon', 'E.zonale',
       'I.bubalus', 'L.cyanellus', 'C.bairdii', 'C.carpio', 'E.niger',
       'R.cataractae', 'L.cornutus', 'S.trutta', 'S.corporalis',
       'C.cognatus', 'C.spiloptera', 'E.olmstedi', 'H.roanokense',
       'S.fontinalis'], dtype=object)

In [96]:
# # Get the "instance of" property value for all the abbreviations
# from SPARQLWrapper import SPARQLWrapper, JSON
# import time 
# sparql_endpoint_url = "https://query.wikidata.org/sparql"

# def get_instance_of_value(annotation):
#     entity = annotation.split("/")[-1]
#     sparql_query = """
#     SELECT ?instanceOfLabel ?description
#     WHERE {{
#         wd:%s wdt:P31 ?instanceOf.
#         ?entity schema:description ?description .
#         SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
#     }}
#     """ % (entity)
    
#     instance_of_value = None
# #     while instance_of_value == None:
#     try:
#         sparql = SPARQLWrapper(sparql_endpoint_url, agent='example-UA (https://example.com/; mail@example.com)')
#         sparql.setQuery(sparql_query)
#         sparql.setReturnFormat(JSON)
#         instance_of_value = sparql.query().convert()
#         print(instance_of_value)
#         if 'results' not in instance_of_value:
#             instance_of_value = None
#         else:
#             return instance_of_value["results"]["bindings"][0]["instanceOfLabel"]["value"]
#     except:
# #         time.sleep(10)
# #         continue
#         print("error")
                        
# abbreviation_values["Instance Of"] = abbreviation_values.apply(lambda row: get_instance_of_value(row["Target Annotation"]), axis=1)

In [97]:
abbreviation_values["Instance Of"].value_counts()

KeyError: 'Instance Of'

In [98]:
df = dfs["8249f8533f764f6dbd195a872c18fd6d.csv"]
df[df["species"] == "S.fontinalis"]

,species,state,hucname,common_name,dataset,station_date,site_id,year,month,ecoregl3,...,mg,na,k,hco3,tn,al,se,cadmium,calcium,yearmonth
90,S.fontinalis,PA,Delaware-Mid Atlantic Coastal,Brook Trout - Hatchery,PaFBC,PaFBC0771_2013_5,PaFBC0771,2013,7,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07

In [99]:
df[df["species"] == "C.spiloptera"].values

array([['C.spiloptera', 'PA', 'Susquehanna', nan, 'MAIA',
        'MAIA97-086_1997_1', 'MAIA97-086', 1997, 8, 67, 41.06353,
        -76.337906, 205, 205, nan, nan, 24.0, 640.9384645, 104.7680807,
        3109.823036, 249.28322169999998, 747.7833795, 7.5, 20.5, 110.0,
        'Cyprinella', 1.0, 982.0, 11.1656, 1.047882065, nan, 218.1767912,
        252.3731207, 28.90150495, 740.9955143999999, 1564.0, 16.0, nan,
        nan, nan, '1997-08']], dtype=object)

In [100]:
df.columns

Index(['species', 'state', 'hucname', 'common_name', 'dataset', 'station_date',
       'site_id', 'year', 'month', 'ecoregl3', 'lat_dd', 'lon_dd', 'huc',
       'bighuc', 'fe', 'mn', 'tp', 'ca', 'so4', 'no3', 'cl', 'alk', 'do',
       'temp', 'rbpscore', 'genus', 'abund', 'sumcount', 'ws_area', 'lwskm2',
       'num', 'mg', 'na', 'k', 'hco3', 'tn', 'al', 'se', 'cadmium', 'calcium',
       'yearmonth'],
      dtype='object')

In [101]:
df[df["species"] == "C.spiloptera"].iloc[:, 20:]

,cl,alk,do,temp,rbpscore,genus,abund,sumcount,ws_area,lwskm2,...,mg,na,k,hco3,tn,al,se,cadmium,calcium,yearmonth
86,249.283222,747.78338,7.5,20.5,110.0,Cyprinella,1.0,982.0,11.1656,1.047882,...,218.176791,252.373121,28.901505,740.995514,1564.0,16.0,NaN,NaN,NaN,1997-08

In [50]:
# Count number of nan_values strings with a ","
def detect_more_than_one_word_string(string):
    if string.count(",") > 1:
        return True
    return False

# Apply the lambda function to identify True values
mask = nan_values["Cell Value"].apply(lambda value: detect_more_than_one_word_string(value))

# Use the mask to filter and store the values that returned True
values_with_more_than_two_words = nan_values.loc[mask, "Cell Value"].tolist()

In [51]:
len(values_with_more_than_two_words)

84

In [52]:
values_with_more_than_two_words

['Agouti, Brazilian,Dasyprocta leporina',
 'Alligator, Chinese,Alligator sinensis',
 'Anoa, Lowland,Bubalus depressicornis',
 'Anteater, Giant,Myrmecophaga tridactyla',
 'Antelope, Roan,Hippotragus equinus',
 'Antelope, Sable,Hippotragus niger',
 'Aracari, Green,Pteroglossus viridis',
 'Argus, Great,Argusianus argusï¿½',
 'Baboon, Hamadryas,Papio hamadryas',
 'Barbet, Red and Yellow,Trachyphonus erythrocephalus',
 'Bat, Rodrigues Fruit,Pteropus rodricensis',
 'Bat, Straw-Colored Fruit,Eidolon helvum',
 'Bear, Andean Spectacled,Tremarctos ornatus',
 'Bear, Asiatic Black,Ursus thibetanus',
 'Bear, Brown ,Ursus arctos',
 'Bear, Polar,Ursus maritimus',
 'Bear, Sloth,Melursus ursinus',
 'Bear, Sun,Helarctos malayanus',
 'Bettong, Brush-tailed,Bettongia penicillata',
 'Bird-of-paradise, Raggiana,Paradisaea raggiana',
 'Bluebird, Fairy,Irena puella',
 'Boa, Jamaican,Chilabothrus subflavus',
 'Bongo, Eastern,Tragelaphus eurycerus isaaci',
 'Buffalo, African Savannah,Syncerus caffer',
 'Bushbaby, Moholi,Galago moholi',
 'Bushmaster, South American,Lachesis muta',
 'Bustard, Buff-crested,Lophotis gindiana',
 'Buttonquail, Madagascar,Turnix nigricollis',
 'Camel, Bactrian ,Camelus bactrianus',
 'Cardinal, Red-capped,Paroaria gularis',
 'Cardinal, Red-crested,Paroaria coronata',
 'Cassowary, Southern (Double-wattled),Casuarius casuarius',
 'Cat, Black-footed,Felis nigripes',
 'Cat, Fishing,Prionailurus viverrinus',
 "Cat, Pallas',Felis manul",
 'Cat, Sand,Felis margarita',
 'Chat, Snowy-Headed Robin,Cossypha niveicapilla',
 'Chevrotain, Greater Malayan,Tragulus napu',
 'Coati, White-Nosed,Nasua narica',
 'Colobus, Angolan,Colobus angolensis',
 'Colobus, Guereza,Colobus guereza',
 'Condor, Andean,Vultur gryphus',
 'Conure, Golden,Guarouba guarouba',
 'Crake, Black,Zapornia flavirostra',
 'Crane, Black-crowned,Balearica pavonina',
 'Crane, Blue,Anthropoides paradisea',
 'Crane, Demoiselle,Anthropoides virgo',
 'Crane, Grey-crowned,Balearica regulorum',
 'Crane, Hooded,Grus monacha',
 'Crane, Red-crowned,Grus japonensis',
 'Crane, White-naped,Grus vipio',
 'Crane, Whooping,Grus americana',
 'Curassow, Helmeted,Pauxi pauxi',
 'Curassow, Wattled,Crax globulosa',
 "Deer, Eld's,Rucervus eldii thamin",
 'Deer, Mexican Red Brocket,Mazama temama',
 'Deer, Pï¿½re Davidï¿½s,Elaphurus davidianus',
 "Dik-dik, Kirk's,Madoqua kirkii",
 'Dikkop, Spotted,Burhinus capensis',
 'Dog, African Painted,Lycaon pictus',
 'Dog, Bush,Speothos venaticus',
 "Dove, Bartlett's Bleeding Heart,Gallicolumba criniger",
 'Dove, Beautiful Fruit,Ptilinopus pulchellus',
 'Dove, Black-naped Fruit,Ptilinopus melanospilus',
 'Dove, Grey-capped Emerald,Chalcophaps indica',
 'Dove, Jambu Fruit,Ptilinopus jambu',
 'Dove, Luzon Bleeding Heart,Gallicolumba luzonica',
 'Dove, Mariana Fruit,Ptilinopus roseicapilla',
 'Dragon, Komodo,Varanus komodoensis',
 'Duck, Spotted Whistling,Dendrocygna guttata',
 'Duck, West Indian Whistling,Dendrocygna arborea',
 'Duck, White-winged Wood,Asarcornis scutulata',
 'Duiker, Blue,Philantomba monticola',
 'Duiker, Yellow-backed,Cephalophus silvicultor',
 'Eland, Common,Taurotragus oryx',
 'Elephant, African,Loxodonta africana',
 'Elephant, Asian,Elephas maximus',
 'Falcon, African Pygmy,Polihierax semitorquatus',
 'Flamingo, Caribbean,Phoenicopterus ruber',
 'Flamingo, Chilean,Phoenicopterus chilensis',
 'Flamingo, Greater,Phoenicopterus ruber roseus',
 'Flamingo, Lesser,Phoeniconaias minor',
 'Flying Fox, Island,Pteropus hypomelanus',
 'Flying Fox, Large,Pteropus vampyrus']

In [187]:
merged_df[merged_df["Cell Value"] == "species:Calypogeia sub:fissa"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1841,d5542ea1fddf44c39d2bb70dc436ddf8,1,1,https://www.wikidata.org/wiki/Q1307515,NaN,species:Calypogeia sub:fissa

# Analyse Findings

### First Finding: Nested Entities: 
Wenzel Kroeber (Universität Hamburg)

Notropis buccatus,Notropis

In [191]:
# Extracting the cell values with parenthesis
mask = nan_values["Cell Value"].apply(lambda row: has_brackets_with_words(row))
# Use the mask to filter and store the values that returned True
nested_values_with_parenthesis = nan_values.loc[mask, :]
nested_values_with_parenthesis

NameError: name 'has_brackets_with_words' is not defined

In [52]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Table Name"] == "0be7652b187b45f5b111d51905c3c25b"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
431,0be7652b187b45f5b111d51905c3c25b,1,1,https://www.wikidata.org/wiki/Q104483357,NaN,David Eichenberg (University of Halle-Wittenberg)
432,0be7652b187b45f5b111d51905c3c25b,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber (Universität Hamburg)
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119,NaN,Christian Ristok (German Centre for Integrativ...

In [36]:
dfs["0be7652b187b45f5b111d51905c3c25b.csv"]

,Samplecode,Sample.Collector,Species,Year_Collected,Exp_Site,Exp_vicinity,Exp_Plot,Exp_Plot_Position,TAG,neighbour.tree_TAG,...,Cu,Pb,Sr,Cr,Ni,stomata.density,average.length,average.width,Phenolics,Tannin
0,A-13-B34,David Eichenberg (University of Halle-Wittenberg),Castanopsis eyrei,2011.0,A,NaN,B34,212.0,t102340010212,NaN,...,0.020,0.0,0.040,0.010,0.000,NaN,NaN,NaN,NaN,NaN
1,A-4-B34,David Eichenberg (University of Halle-Wittenberg),Choerospondias axillaris,2011.0,A,NaN,B34,505.0,t102340010505,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.441,61.523
2,A-27-B34,David Eichenberg (University of Halle-Wittenberg),Acer davidii,2011.0,A,NaN,B34,704.0,t102340010704,NaN,...,0.002,0.0,0.071,0.003,0.001,NaN,NaN,NaN,NaN,NaN
3,A-6-B34,David Eichenberg (University of Halle-Wittenberg),Liquidambar formosana,2011.0,A,NaN,B34,1009.0,t102340011009,NaN,...,0.016,0.0,0.038,0.007,0.015,NaN,NaN,NaN,99.027,96.394
4,A-17-B34,David Eichenberg (University of Halle-Wittenberg),Cinnamomum camphora,2011.0,A,NaN,B34,1011.0,t102340011011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.041,34.478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,A_L21_04_choaxi,Wenzel Kroeber (Universität Hamburg),Choerospondias axillaris,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,A.L21.01.cashen V,Wenzel Kroeber (Universität Hamburg),Castanea henryi,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,29.706,19.774,NaN,NaN
95,A.L21.14.cassel,Wenzel Kroeber (Universität Hamburg),Castanopsis sclerophylla,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,20.774,14.030,NaN,NaN
96,A_L21_06_liqfor,Wenzel Kroeber (Universität Hamburg),Liquidambar formosana,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,A.L21.03.schsup V,Wenzel Kroeber (Universität Hamburg),Schima superba,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,28.717,20.366,NaN,NaN

In [37]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Table Name"] == "89e72a749d764c1aacd9284e01c412a4"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1436,89e72a749d764c1aacd9284e01c412a4,4,1,https://www.wikidata.org/wiki/Q2002,NaN,2015 (September)
1437,89e72a749d764c1aacd9284e01c412a4,4,2,https://www.wikidata.org/wiki/Q2002,NaN,2015 (July)
1438,89e72a749d764c1aacd9284e01c412a4,4,3,https://www.wikidata.org/wiki/Q2002,NaN,2015 (August)
1439,89e72a749d764c1aacd9284e01c412a4,4,4,https://www.wikidata.org/wiki/Q25245,NaN,2016 (September)

In [38]:
dfs["89e72a749d764c1aacd9284e01c412a4.csv"]

,Samplenr,Seedlingnr,Plot,Record,Year,Planted_Species,Density,Treatment,Dead,Height_P,Height_G,Leaves_Liv,Leaves_Dam,Leaves_Dead,Damage_pro,Biomass_Above,Biomass_Below
0,1.01.2,1.01,1,2,2015 (September),D.glaucifolia,1,Light,0,43.9,43.9,23.0,15.0,0.0,2.0,NaN,NaN
1,1.01.0,1.01,1,0,2015 (July),D.glaucifolia,1,Light,0,15.2,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2,1.01.1,1.01,1,1,2015 (August),D.glaucifolia,1,Light,0,NaN,35.2,17.0,NaN,NaN,NaN,NaN,NaN
3,1.01.3,1.01,1,3,2016 (September),D.glaucifolia,1,Light,0,162.0,NaN,136.0,136.0,NaN,30.0,138.04,66.13
4,2.01.0,2.01,2,0,2015 (July),C.glauca,4,Shadow,0,14.6,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,58.07.1,58.07,58,1,2015 (August),Q.serrata,25,Shadow,0,NaN,22.0,8.0,NaN,NaN,NaN,NaN,NaN
140,58.07.0,58.07,58,0,2015 (July),Q.serrata,25,Shadow,0,19.9,NaN,9.0,NaN,NaN,NaN,NaN,NaN
141,58.07.3,58.07,58,3,2016 (September),Q.serrata,25,Shadow,0,50.0,NaN,30.0,30.0,NaN,60.0,3.53,1.90
142,58.07.2,58.07,58,2,2015 (September),Q.serrata,25,Shadow,0,22.0,22.0,11.0,11.0,0.0,85.0,NaN,NaN
143,58.08.2,58.08,58,2,2015 (September),Q.serrata,25,Shadow,0,25.0,25.0,6.0,6.0,0.0,60.0,NaN,NaN

In [39]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Table Name"] == "b0edc48006d5454dae3ca3e41f33e280"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1657,b0edc48006d5454dae3ca3e41f33e280,12,1,"https://www.wikidata.org/wiki/Q1384,https://ww...",NaN,New York (United States)
1658,b0edc48006d5454dae3ca3e41f33e280,12,2,"https://www.wikidata.org/wiki/Q1439,https://ww...",NaN,Texas (United States)
1659,b0edc48006d5454dae3ca3e41f33e280,12,3,"https://www.wikidata.org/wiki/Q1588,https://ww...",NaN,Louisiana (United States)
1660,b0edc48006d5454dae3ca3e41f33e280,12,4,"https://www.wikidata.org/wiki/Q1223,https://ww...",NaN,Washington (United States)
1661,b0edc48006d5454dae3ca3e41f33e280,12,5,"https://www.wikidata.org/wiki/Q1370,https://ww...",NaN,Virginia (United States)
1662,b0edc48006d5454dae3ca3e41f33e280,12,6,https://www.wikidata.org/wiki/Q30,NaN,nan (United States)
1663,b0edc48006d5454dae3ca3e41f33e280,12,7,"https://www.wikidata.org/wiki/Q1393,https://ww...",NaN,Delaware (United States)
1664,b0edc48006d5454dae3ca3e41f33e280,12,8,"https://www.wikidata.org/wiki/Q61,https://www....",NaN,DC (United States)
1665,b0edc48006d5454dae3ca3e41f33e280,12,9,"https://www.wikidata.org/wiki/Q1428,https://ww...",NaN,Georgia (United States)
1666,b0edc48006d5454dae3ca3e41f33e280,12,10,"https://www.wikidata.org/wiki/Q812,https://www...",NaN,Florida (United States)
1667,b0edc48006d5454dae3ca3e41f33e280,12,11,"https://www.wikidata.org/wiki/Q99,https://www....",NaN,California (United States)
1668,b0edc48006d5454dae3ca3e41f33e280,12,12,"https://www.wikidata.org/wiki/Q1204,https://ww...",NaN,Illinois (United States)
1669,b0edc48006d5454dae3ca3e41f33e280,12,13,"https://www.wikidata.org/wiki/Q779,https://www...",NaN,Connecticut (United States)
1670,b0edc48006d5454dae3ca3e41f33e280,12,14,"https://www.wikidata.org/wiki/Q1581,https://ww...",NaN,Missouri (United States)
1671,b0edc48006d5454dae3ca3e41f33e280,12,15,"https://www.wikidata.org/wiki/Q1387,https://ww...",NaN,Rhode Island (United States)
1672,b0edc48006d5454dae3ca3e41f33e280,12,17,"https://www.wikidata.org/wiki/Q782,https://www...",NaN,Hawaii (United States)
1673,b0edc48006d5454dae3ca3e41f33e280,12,18,"https://www.wikidata.org/wiki/Q816,https://www...",NaN,Arizona (United States)
1674,b0edc48006d5454dae3ca3e41f33e280,12,19,"https://www.wikidata.org/wiki/Q1509,https://ww...",NaN,Tennessee (United States)
1675,b0edc48006d5454dae3ca3e41f33e280,12,20,"https://www.wikidata.org/wiki/Q1456,https://ww...",NaN,South Carolina (United States)
1676,b0edc48006d5454dae3ca3e41f33e280,12,24,"https://www.wikidata.org/wiki/Q1211,https://ww...",NaN,South Dakota (United States)
1677,b0edc48006d5454dae3ca3e41f33e280,12,25,"https://www.wikidata.org/wiki/Q1408,https://ww...",NaN,New Jersey (United States)
1678,b0edc48006d5454dae3ca3e41f33e280,12,26,"https://www.wikidata.org/wiki/Q1261,https://ww...",NaN,Colorado (United States)
1679,b0edc48006d5454dae3ca3e41f33e280,12,27,"https://www.wikidata.org/wiki/Q1527,https://ww...",NaN,Minnesota (United States)
1680,b0edc48006d5454dae3ca3e41f33e280,12,31,"https://www.wikidata.org/wiki/Q173,https://www...",NaN,Alabama (United States)

In [40]:
nested_values_with_parenthesis[nested_values_with_parenthesis["Table Name"] == "b0edc48006d5454dae3ca3e41f33e280"].shape

(24, 6)

In [41]:
dfs["b0edc48006d5454dae3ca3e41f33e280.csv"]

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_make_model,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_sent_to_smithsonian,remarks,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23T00:00:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,False,30736,1500,0,True
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25T00:00:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,True,0,0,0,False
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14T00:00:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,False,0,50,0,False
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05T00:00:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,True,0,50,0,True
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23T00:00:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,False,0,50,0,False
5,218432,Airplane,GUAYAQUIL/S BOLIVAR,< 1000 ft,A-300,Over 100,537,None,2003-07-24T00:00:00,No damage,...,False,NO DMG. BIRD REMAINS ON F/O WINDSCREEN.,Small,No Cloud,Unknown bird - small,False,0,0,0,False
6,221697,Airplane,NEW CASTLE COUNTY,< 1000 ft,LEARJET-25,Over 100,227,Other,2003-08-17T00:00:00,Caused damage,...,True,NaN,Small,No Cloud,European starling,False,1481711,150,0,False
7,236635,Airplane,WASHINGTON DULLES INTL ARPT,< 1000 ft,A-320,Over 100,320,Other,2006-03-01T00:00:00,Caused damage,...,False,WS ASSISTED IN CLEAN-UP OF 273 STARLINGS AND 1...,Small,Some Cloud,European starling,True,1483141,100,0,False
8,207369,Airplane,ATLANTA INTL,< 1000 ft,DC-9-30,2 to 10,9,Aborted Take-off,2000-01-06T00:00:00,No damage,...,False,NaN,Small,Some Cloud,Rock pigeon,False,0,0,0,False
9,204371,Airplane,ORLANDO SANFORD INTL AIRPORT,< 1000 ft,A-330,2 to 10,4,None,2000-01-07T00:00:00,No damage,...,False,FLT 057,Small,Some Cloud,Unknown bird - small,False,0,0,0,False
10,201589,Airplane,ONTARIO INTL ARPT,< 1000 ft,A-320,2 to 10,3,None,2000-01-08T00:00:00,No damage,...,False,FLEW THRU A FLOCK OF ABOUT 30 BIRDS. INGESTED ...,Small,Some Cloud,Rock pigeon,False,0,200,0,False
11,205958,Airplane,CHICAGO O'HARE INTL ARPT,> 1000 ft,FOKKER F100,2 to 10,9,None,2000-01-20T00:00:00,Caused damage,...,False,"JUST OUTSIDE OF WILLT ON VISUAL APCH, WE FLEW ...",Large,No Cloud,Canada goose,False,0,1700,0,False
12,200220,Airplane,GROTON-NEW LONDON AR,< 1000 ft,C-421,2 to 10,2,None,2000-01-30T00:00:00,No damage,...,False,NaN,Small,Overcast,Unknown bird - small,False,0,0,0,False
13,200219,Airplane,SPIRIT OF ST LOUIS,> 1000 ft,C-560,2 to 10,2,None,2000-01-30T00:00:00,No damage,...,False,HIT FLAP,Small,Overcast,Unknown bird - small,False,0,1800,0,False
14,203756,Airplane,THEODORE FRANCIS GREEN STATE,< 1000 ft,B-737-200,2 to 10,5,None,2000-01-30T00:00:00,No damage,...,False,FLT 2634. PILOT STATED HE HEARD 3 SMALL HITS &...,Small,No Cloud,European starling,False,0,50,0,True
15,204061,Airplane,KANSAS CITY INTL,< 1000 ft,MD-80,2 to 10,5,None,2000-02-01T00:00:00,No damage,...,False,"BIRD ID BY DAN, WS MO. 3/17/00. FLT 345",Large,Some Cloud,Snow goose,True,0,500,0,False
16,202604,Airplane,LIHUE ARPT,< 1000 ft,DC-9-50,2 to 10,9,None,2000-02-11T00:00:00,No damage,...,False,FLT 138.,Small,No Cloud,Black-headed munia,True,0,0,0,False
17,201044,Airplane,PHOENIX SKY HARBOR,< 1000 ft,B-737,2 to 10,9,None,2000-02-12T00:00:00,No damage,...,False,5 BIRD REMOVED FROM RWY 8L/26R AT A-2 INSN,Small,Overcast,Rock pigeon,False,0,0,0,True
18,202254,Airplane,NASHVILLE INTL,< 1000 ft,B-737-400,2 to 10,5,None,2000-02-18T00:00:00,No damage,...,False,"SML, STARLING TYPE BIRDS HIT F/O WINDSHLD & UN...",Small,Some Cloud,European starling,False,0,800,0,True
19,205346,Airplane,JIM HAMILTON L B OWENS ARPT,< 1000 ft,C-560,2 to 10,6,None,2000-02-23T00:00:00,Caused damage,...,False,"LE RT WING DENTED, BASEBALL SIZE.",Small,Some Cloud,Rock pigeon,False,0,500,0,False
20,201610,Airplane,CHICAGO O'HARE INTL ARPT,> 1000 ft,B-737-300,2 to 10,7,None,2000-02-25T00:00:00,No damage,...,False,FLT 580 ORD-MBS,Medium,Overcast,Unknown bird - medium,False,0,5000,0,True
21,202454,Airplane,WASHINGTON DULLES INTL ARPT,> 1000 ft,B-737-200,2 to 10,7,Precautionary Landing,2000-02-29T00:00:00,No damage,...,False,FLT 2307 INGESTED A BIRD. SMELL OF BURNING IN ...,Medium,No Cloud,Ring-billed gull,True,0,1500,0,True
22,201013,Airplane,SOUTHWEST FLORIDA INTL ARPT,< 1000 ft,B-737-400,2 to 10,4,None,2000-02-29T00:00:00,No damage,...,False,FLT 522,Large,Some Cloud,Sandhill crane,True,0,0,0,True
23,205771,Airplane,ABERDEEN REGIONAL AR,> 1000 ft,SAAB-340,2 to 10,8,None,2000-03-04T00:00:00,No damage,...,False,HEARD 2 THUMPS. FOUND STRIKES ON POST FLT INSP...,Small,Some Cloud,Unknown bird - small,False,0,2000,0,False
24,202226,Airplane,NEWARK LIBERTY INTL ARPT,< 1000 ft,MD-82,2 to 10,5,None,2000-03-06T00:00:00,No damage,...,False,"# BIRDS STRUCK NOT REPTD, ASSUME 2-10, SAME AS...",Small,No Cloud,Unknown bird - small,True,0,0,0,False
25,204404,Airplane,ASPEN-PITKIN CO/SARD,< 1000 ft,HAWKER 800,2 to 10,3,None,2000-03-06T00:00:00,No damage,...,False,"SAW SML FLOCK FLYING UPON LDG FLARE, ACROSS RW...",Small,No Cloud,Unknown bird - small,False,8600,20,0,False
26,202138,Airplane,ROCHESTER INTL,< 1000 ft,FOKKER F28 MK 1000,2 to 10,4,Precautionary Landing,2000-03-06T00:00:00,No damage,...,False,FLT 1788. ABOUT 20-30 BIRDS CROSSED FLT PATH J...,Small,No Cloud,Unknown bird - small,False,0,200,0,False
27,201983,Airplane,MINNEAPOLIS-ST PAUL INTL,< 1000 ft,B-757-200,2 to 10,4,None,2000-03-07T00:00:00,No damage,...,False,NaN,Small,Overcast,Unknown bird - small,False,0,75,0,True
28,200247,Airplane,PUEBLO MEMORIAL ARPT,< 1000 ft,HAWKER 800,2 to 10,5,None,2000-03-11T00:00:00,No damage,...,False,PILOT SAW ABOUT 30 BIRDS WHILE FLARING OUT. HE...,Small,No Cloud,Western meadowlark,False,0,10,0,False
29,201387,Airplane,WESTCHESTER COUNTY ARPT,< 1000 ft,EMB-135,2 to 10,5,None,2000-03-13T00:00:00,No damage,...,False,2 BIRD HIT. CONTD TO KCLE. UNKN WHAT PART WAS ...,Medium,No Cloud,Ring-billed gull,True,0,10,0,False
30,200542,Airplane,BIRMINGHAM-SHUTTLESWORTH INTL,> 1000 ft,DC-9-40,2 to 10,6,None,2000-03-13T00:00:00,No damage,...,False,HIT BIRDS BETWEEN 4000-6000 FT DURING DESCENT....,Small,No Cloud,Unknown bird - small,False,0,5000,0,False
31,202076,Airplane,ATLANTA INTL,< 1000 ft,DC-9-30,2 to 10,8,None,2000-03-14T00:00:00,No damage,...,False,"BIRDS HIT BOTH MAIN GEAR, L WING & LWR FUSELAG...",Medium,No Cloud,Mallard,False,0,1000,0,False
32,204836,Airplane,LAGUARDIA NY,> 1000 ft,B-727-200,2 to 10,10,None,2000-03-15T00:00:00,Caused damage,...,False,"SAW FLASH IN LIGHTS ON RT SIDE, FOLLOWED BY LO...",Medium,No Cloud,Unknown bird - medium,False,0,1300,0,False
33,203390,Airplane,TAHITI FAAA,< 1000 ft,DC-10-30,2 to 10,7,None,2000-03-15T00:00:00,Caused damage,...,False,SEABIRD HIT F/O WINDSHLD AS NOSE CONTACTED RWY...,Medium,Some Cloud,Unknown bird - medium,False,0,0,0,True
34,203936,Airplane,ORLANDO INTL,< 1000 ft,SAAB-340,2 to 10,9,Aborted Take-off,2000-03-18T00:00:00,No damage,...,False,"(BIRD REPTD AS GULL, ASSUME RING-BILLED BASED ...",Medium,Some Cloud,Ring-billed gull,True,0,0,0,False
35,203938,Airplane,MYRTLE BEACH INTL,< 1000 ft,B-737,2 to 10,8,None,2000-03-22T00:00:00,Caused damage,...,False,FLT 2151. PILOT REPTD BIRD STRIKE AFTER LDG. B...,Large,Some Cloud,Turkey vulture,False,0,0,0,True

In [42]:
dfs["b0edc48006d5454dae3ca3e41f33e280.csv"].iloc[0,:].values

array([202152, 'Airplane', 'LAGUARDIA NY', '> 1000 ft', 'B-737-400',
       'Over 100', 859, 'Engine Shut Down', '2000-11-23T00:00:00',
       'Caused damage', 2, 'US AIRWAYS*', 'New York (United States)',
       'Climb', 'None', False, False,
       'FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN TYPE. #1 ENG WAS SHUT DOWN AND DIVERTED TO EWR. SLIGHT VIBRATION. A/C WAS OUT OF SVC FOR REPAIRS TO COWLING, FAN DUCT ACCOUSTIC PANEL. INGESTION. DENTED FAN BLADE #26 IN #1 ENG. HEAVY BLOOD STAINS ON L WINGTIP',
       'Medium', 'No Cloud', 'Unknown bird - medium', False, 30736, 1500,
       0, True], dtype=object)

In [46]:
dfs["0be7652b187b45f5b111d51905c3c25b.csv"]

,Samplecode,Sample.Collector,Species,Year_Collected,Exp_Site,Exp_vicinity,Exp_Plot,Exp_Plot_Position,TAG,neighbour.tree_TAG,...,Cu,Pb,Sr,Cr,Ni,stomata.density,average.length,average.width,Phenolics,Tannin
0,A-13-B34,David Eichenberg (University of Halle-Wittenberg),Castanopsis eyrei,2011.0,A,NaN,B34,212.0,t102340010212,NaN,...,0.020,0.0,0.040,0.010,0.000,NaN,NaN,NaN,NaN,NaN
1,A-4-B34,David Eichenberg (University of Halle-Wittenberg),Choerospondias axillaris,2011.0,A,NaN,B34,505.0,t102340010505,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.441,61.523
2,A-27-B34,David Eichenberg (University of Halle-Wittenberg),Acer davidii,2011.0,A,NaN,B34,704.0,t102340010704,NaN,...,0.002,0.0,0.071,0.003,0.001,NaN,NaN,NaN,NaN,NaN
3,A-6-B34,David Eichenberg (University of Halle-Wittenberg),Liquidambar formosana,2011.0,A,NaN,B34,1009.0,t102340011009,NaN,...,0.016,0.0,0.038,0.007,0.015,NaN,NaN,NaN,99.027,96.394
4,A-17-B34,David Eichenberg (University of Halle-Wittenberg),Cinnamomum camphora,2011.0,A,NaN,B34,1011.0,t102340011011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.041,34.478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,A_L21_04_choaxi,Wenzel Kroeber (Universität Hamburg),Choerospondias axillaris,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,A.L21.01.cashen V,Wenzel Kroeber (Universität Hamburg),Castanea henryi,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,29.706,19.774,NaN,NaN
95,A.L21.14.cassel,Wenzel Kroeber (Universität Hamburg),Castanopsis sclerophylla,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,20.774,14.030,NaN,NaN
96,A_L21_06_liqfor,Wenzel Kroeber (Universität Hamburg),Liquidambar formosana,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,A.L21.03.schsup V,Wenzel Kroeber (Universität Hamburg),Schima superba,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,28.717,20.366,NaN,NaN

In [48]:
nan_values[nan_values["Table Name"] == "0be7652b187b45f5b111d51905c3c25b"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
431,0be7652b187b45f5b111d51905c3c25b,1,1,https://www.wikidata.org/wiki/Q104483357,NaN,David Eichenberg (University of Halle-Wittenberg)
432,0be7652b187b45f5b111d51905c3c25b,1,11,https://www.wikidata.org/wiki/Q47460621,NaN,Wenzel Kroeber (Universität Hamburg)
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119,NaN,Christian Ristok (German Centre for Integrativ...
473,0be7652b187b45f5b111d51905c3c25b,3,0,"https://www.wikidata.org/wiki/Q3186692,https:/...",NaN,Year_Collected
475,0be7652b187b45f5b111d51905c3c25b,3,11,https://www.wikidata.org/wiki/Q1990,NaN,2012.0
497,0be7652b187b45f5b111d51905c3c25b,38,0,https://www.wikidata.org/wiki/Q29539,NaN,stomata.density
498,0be7652b187b45f5b111d51905c3c25b,39,0,https://www.wikidata.org/wiki/Q36253,NaN,average.length
499,0be7652b187b45f5b111d51905c3c25b,40,0,https://www.wikidata.org/wiki/Q35059,NaN,average.width

* Table "0be7652b187b45f5b111d51905c3c25b.csv": 
    * Column: sample.collector 
    * Pattern: a full name (institute holding the research) 
    * e.g. Wenzel Kroeber (Universität Hamburg)
    * Number of cells: 3
* Table "89e72a749d764c1aacd9284e01c412a4.csv": 
    * Column: Year 
    * Pattern: year (month) 
    * e.g. 2015 (September)
    * Number of cells: 4
* Table "b0edc48006d5454dae3ca3e41f33e280.csv": 
    * Column: origin_state  
    * Pattern: city (country) 
    * e.g. New York (United States)
    * Number of cells: 24

##### Try Imputing

In [78]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

# Apply annotation for those values and compare
def get_text_inside_brackets(input_string):
    # Split the input string at the first opening parenthesis
    parts = input_string.split('(', 1)
    
    # If there are two parts (before and after the first opening parenthesis), return the first part
    if len(parts) == 2:
        return parts[1][:-1].strip()
    
    # If no opening parenthesis is found, return the entire input string
    return input_string.strip()

def get_text_outside_brackets(input_string):
    # Split the input string at the first opening parenthesis
    parts = input_string.split('(', 1)
    
    # If there are two parts (before and after the first opening parenthesis), return the first part
    if len(parts) == 2:
        return parts[0].strip()
    
    # If no opening parenthesis is found, return the entire input string
    return input_string.strip()

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "0be7652b187b45f5b111d51905c3c25b" and column_index == 1 or
            table_name == "89e72a749d764c1aacd9284e01c412a4" and column_index == 4 or
            table_name == "b0edc48006d5454dae3ca3e41f33e280" and column_index == 12):
            cell_value_1 = get_text_outside_brackets(cell_value)
            cell_value_2 = get_text_inside_brackets(cell_value)
            print("------------------------")
            print(cell_value_1)
            print(cell_value_2)
            print("------------------------")
            params_1 = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value_1
            }
            
            params_2 = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value_2
            }
            
            response_1 = requests.get(WIKIDATA_API_ENDPOINT, params=params_1)
            response_2 = requests.get(WIKIDATA_API_ENDPOINT, params=params_2)
            data_1 = response_1.json()
            data_2 = response_2.json()
            string_to_be_returned = ""
            
            if "search" in data_1:
                # If the API find an associated entity for the input
                if len(data_1["search"]) != 0:
                    string_to_be_returned = string_to_be_returned + "https://www.wikidata.org/wiki/" + data_1["search"][0]["concepturi"].split("/")[-1]
            
            if "search" in data_2:
                # If the API find an associated entity for the input
                if len(data_2["search"]) != 0:
                    if string_to_be_returned == "":
                        string_to_be_returned =  "https://www.wikidata.org/wiki/" + data_2["search"][0]["concepturi"].split("/")[-1]
                    else:
                        string_to_be_returned = string_to_be_returned + ",https://www.wikidata.org/wiki/" + data_2["search"][0]["concepturi"].split("/")[-1]
                        
            return string_to_be_returned
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 0be7652b187b45f5b111d51905c3c25b
    df_annotated = df_annotated[(df_annotated[0] == "0be7652b187b45f5b111d51905c3c25b") |
                                (df_annotated[0] == "89e72a749d764c1aacd9284e01c412a4") |
                                (df_annotated[0] == "b0edc48006d5454dae3ca3e41f33e280")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
David Eichenberg
University of Halle-Wittenberg
------------------------
------------------------
Wenzel Kroeber
Universität Hamburg
------------------------
------------------------
Christian Ristok
German Centre for Integrative Biodiversity Research (iDiv)
------------------------
------------------------
2015
September
------------------------
------------------------
2015
July
------------------------
------------------------
2015
August
------------------------
------------------------
2016
September
------------------------
------------------------
New York
United States
------------------------
------------------------
Texas
United States
------------------------
------------------------
Louisiana
United States
------------------------
------------------------
Washington
United States
------------------------
------------------------
Virginia
United States
------------------------
------------------------
nan
United States
------------------------
------------------------
Delaware
United States
------------------------
------------------------
DC
United States
------------------------
------------------------
Georgia
United States
------------------------
------------------------
Florida
United States
------------------------
------------------------
California
United States
------------------------
------------------------
Illinois
United States
------------------------
------------------------
Connecticut
United States
------------------------
------------------------
Missouri
United States
------------------------
------------------------
Rhode Island
United States
------------------------
------------------------
Hawaii
United States
------------------------
------------------------
Arizona
United States
------------------------
------------------------
Tennessee
United States
------------------------
------------------------
South Carolina
United States
------------------------
------------------------
South Dakota
United States
------------------------
------------------------
New Jersey
United States
------------------------
------------------------
Colorado
United States
------------------------
------------------------
Minnesota
United States
------------------------
------------------------
Alabama
United States
------------------------

,0,1,2,3
431,0be7652b187b45f5b111d51905c3c25b,1,1,"https://www.wikidata.org/wiki/Q104483357,https..."
432,0be7652b187b45f5b111d51905c3c25b,1,11,",https://www.wikidata.org/wiki/Q665171"
433,0be7652b187b45f5b111d51905c3c25b,1,62,https://www.wikidata.org/wiki/Q56604119
434,0be7652b187b45f5b111d51905c3c25b,2,0,https://www.wikidata.org/wiki/Q7432
435,0be7652b187b45f5b111d51905c3c25b,2,1,https://www.wikidata.org/wiki/Q10912665
...,...,...,...,...
1676,b0edc48006d5454dae3ca3e41f33e280,12,24,"https://www.wikidata.org/wiki/Q1211,https://ww..."
1677,b0edc48006d5454dae3ca3e41f33e280,12,25,"https://www.wikidata.org/wiki/Q1408,https://ww..."
1678,b0edc48006d5454dae3ca3e41f33e280,12,26,"https://www.wikidata.org/wiki/Q1261,https://ww..."
1679,b0edc48006d5454dae3ca3e41f33e280,12,27,"https://www.wikidata.org/wiki/Q1527,https://ww..."
1680,b0edc48006d5454dae3ca3e41f33e280,12,31,"https://www.wikidata.org/wiki/Q173,https://www..."

### Composed values

In [102]:
composed_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
87,008851b16aa04124b3a9195676604f35,25,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma,Campostoma anomalum"
88,008851b16aa04124b3a9195676604f35,25,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus,Catostomus commersonii"
89,008851b16aa04124b3a9195676604f35,25,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus,Chrosomus erythrogaster"
90,008851b16aa04124b3a9195676604f35,25,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus,Clinostomus funduloides"
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [103]:
composed_values["Table Name"].unique()

array(['008851b16aa04124b3a9195676604f35',
       '0ffeda696bba402284a382ab877bb9e7',
       '11a0fb6a86ba4fef9dbb904fa851066b',
       'bd00b752eba94953882023490ade0978',
       'dffeec8c3593402bafa69b50f5920fa5',
       'e749786aff714981a5a7da3da0789128'], dtype=object)

#### Table: 008851b16aa04124b3a9195676604f35.csv

In [104]:
dfs["008851b16aa04124b3a9195676604f35.csv"].iloc[:, 25:]

,genus,abund,sumcount,ws_area,lwskm2,num,mg,na,k,hco3,tn,al,se,cadmium,calcium,yearmonth
0,"Ambloplites,Ambloplites rupestris",9.0,553.0,20.0000,1.301030,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
1,"Campostoma,Campostoma anomalum",58.0,553.0,20.0000,1.301030,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
2,"Catostomus,Catostomus commersonii",7.0,553.0,20.0000,1.301030,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
3,"Chrosomus,Chrosomus erythrogaster",7.0,553.0,20.0000,1.301030,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
4,"Clinostomus,Clinostomus funduloides",3.0,553.0,20.0000,1.301030,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,"Cyprinella,Cyprinella spiloptera",1.0,982.0,11.1656,1.047882,NaN,218.176791,252.373121,28.901505,740.995514,1564.0,16.0,NaN,NaN,NaN,1997-08
87,"Etheostoma,Etheostoma olmstedi",2.0,982.0,11.1656,1.047882,NaN,218.176791,252.373121,28.901505,740.995514,1564.0,16.0,NaN,NaN,NaN,1997-08
88,"Etheostoma,Etheostoma flabellare",18.0,56.0,8.3075,0.919470,NaN,353.021141,89.953053,37.853299,0.000000,119.0,5.0,NaN,NaN,NaN,1997-07
89,"Hypentelium,Hypentelium roanokense",2.0,56.0,8.3075,0.919470,NaN,353.021141,89.953053,37.853299,0.000000,119.0,5.0,NaN,NaN,NaN,1997-07
90,"Salvelinus,Salvelinus fontinalis",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07

In [63]:
dfs["008851b16aa04124b3a9195676604f35.csv"].iloc[:, 25]

0       Ambloplites,Ambloplites rupestris
1          Campostoma,Campostoma anomalum
2       Catostomus,Catostomus commersonii
3       Chrosomus,Chrosomus erythrogaster
4     Clinostomus,Clinostomus funduloides
                     ...
86       Cyprinella,Cyprinella spiloptera
87         Etheostoma,Etheostoma olmstedi
88       Etheostoma,Etheostoma flabellare
89     Hypentelium,Hypentelium roanokense
90       Salvelinus,Salvelinus fontinalis
Name: genus, Length: 91, dtype: object

In [112]:
composed_values[composed_values["Table Name"] == "008851b16aa04124b3a9195676604f35"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
86,008851b16aa04124b3a9195676604f35,25,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites,Ambloplites rupestris"
87,008851b16aa04124b3a9195676604f35,25,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma,Campostoma anomalum"
88,008851b16aa04124b3a9195676604f35,25,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus,Catostomus commersonii"
89,008851b16aa04124b3a9195676604f35,25,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus,Chrosomus erythrogaster"
90,008851b16aa04124b3a9195676604f35,25,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus,Clinostomus funduloides"
91,008851b16aa04124b3a9195676604f35,25,6,"https://www.wikidata.org/wiki/Q217560,https://...",NaN,"Etheostoma,Etheostoma caeruleum"
92,008851b16aa04124b3a9195676604f35,25,7,"https://www.wikidata.org/wiki/Q3756770,https:/...",NaN,"Notropis,Notropis buccatus"
93,008851b16aa04124b3a9195676604f35,25,8,"https://www.wikidata.org/wiki/Q3046026,https:/...",NaN,"Pimephales,Pimephales notatus"
94,008851b16aa04124b3a9195676604f35,25,9,"https://www.wikidata.org/wiki/Q1102705,https:/...",NaN,"Rhinichthys,Rhinichthys obtusus"
95,008851b16aa04124b3a9195676604f35,25,10,"https://www.wikidata.org/wiki/Q3133554,https:/...",NaN,"Semotilus,Semotilus atromaculatus"
96,008851b16aa04124b3a9195676604f35,25,14,"https://www.wikidata.org/wiki/Q3753866,https:/...",NaN,"Etheostoma,Etheostoma blennioides"
97,008851b16aa04124b3a9195676604f35,25,16,"https://www.wikidata.org/wiki/Q3752556,https:/...",NaN,"Etheostoma,Etheostoma flabellare"
98,008851b16aa04124b3a9195676604f35,25,17,"https://www.wikidata.org/wiki/Q2236034,https:/...",NaN,"Chrosomus,Chrosomus cumberlandensis"
99,008851b16aa04124b3a9195676604f35,25,19,"https://www.wikidata.org/wiki/Q2042960,https:/...",NaN,"Etheostoma,Etheostoma kennicotti"
100,008851b16aa04124b3a9195676604f35,25,20,"https://www.wikidata.org/wiki/Q217581,https://...",NaN,"Etheostoma,Etheostoma nigrum"
101,008851b16aa04124b3a9195676604f35,25,21,"https://www.wikidata.org/wiki/Q2194268,https:/...",NaN,"Lepomis,Lepomis auritus"
102,008851b16aa04124b3a9195676604f35,25,22,"https://www.wikidata.org/wiki/Q1148148,https:/...",NaN,"Lepomis,Lepomis macrochirus"
103,008851b16aa04124b3a9195676604f35,25,24,"https://www.wikidata.org/wiki/Q2704889,https:/...",NaN,"Rhinichthys,Rhinichthys atratulus"
104,008851b16aa04124b3a9195676604f35,25,26,"https://www.wikidata.org/wiki/Q3643840,https:/...",NaN,"Micropterus,Micropterus punctulatus"
105,008851b16aa04124b3a9195676604f35,25,27,"https://www.wikidata.org/wiki/Q287368,https://...",NaN,"Moxostoma,Moxostoma erythrurum"
106,008851b16aa04124b3a9195676604f35,25,29,"https://www.wikidata.org/wiki/Q388110,https://...",NaN,"Notropis,Notropis leuciodus"
107,008851b16aa04124b3a9195676604f35,25,30,"https://www.wikidata.org/wiki/Q3754468,https:/...",NaN,"Notropis,Notropis photogenis"
108,008851b16aa04124b3a9195676604f35,25,31,"https://www.wikidata.org/wiki/Q3754033,https:/...",NaN,"Noturus,Noturus miurus"
109,008851b16aa04124b3a9195676604f35,25,36,"https://www.wikidata.org/wiki/Q4499931,https:/...",NaN,"Lampetra,Lampetra aepyptera"
110,008851b16aa04124b3a9195676604f35,25,37,"https://www.wikidata.org/wiki/Q2269714,https:/...",NaN,"Lepomis,Lepomis megalotis"
111,008851b16aa04124b3a9195676604f35,25,38,"https://www.wikidata.org/wiki/Q6413408,https:/...",NaN,"Luxilus,Luxilus chrysocephalus"
112,008851b16aa04124b3a9195676604f35,25,48,"https://www.wikidata.org/wiki/Q3756276,https:/...",NaN,"Notropis,Notropis rubellus"
113,008851b16aa04124b3a9195676604f35,25,49,"https://www.wikidata.org/wiki/Q947772,https://...",NaN,"Percina,Percina caprodes"
114,008851b16aa04124b3a9195676604f35,25,51,"https://www.wikidata.org/wiki/Q1462862,https:/...",NaN,"Sander,Sander vitreus"
115,008851b16aa04124b3a9195676604f35,25,53,"https://www.wikidata.org/wiki/Q536070,https://...",NaN,"Ameiurus,Ameiurus natalis"
116,008851b16aa04124b3a9195676604f35,25,55,"https://www.wikidata.org/wiki/Q6417895,https:/...",NaN,"Nocomis,Nocomis micropogon"
117,008851b16aa04124b3a9195676604f35,25,65,"https://www.wikidata.org/wiki/Q2165302,https:/...",NaN,"Etheostoma,Etheostoma zonale"
118,008851b16aa04124b3a9195676604f35,25,66,"https://www.wikidata.org/wiki/Q143432,https://...",NaN,"Ictiobus,Ictiobus bubalus"
119,008851b16aa04124b3a9195676604f35,25,67,"https://www.wikidata.org/wiki/Q1543413,https:/...",NaN,"Lepomis,Lepomis cyanellus"
120,008851b16aa04124b3a9195676604f35,25,72,"https://www.wikidata.org/wiki/Q2341801,https:/...",NaN,"Cottus,Cottus bairdii"
121,008851b16aa04124b3a9195676604f35,25,73,"https://www.wikidata.org/wiki/Q81110,https://w...",NaN,"Cyprinus,Cyprinus carpio"
122,008851b16aa04124b3a9195676604f35,25,74,"https://www.wikidata.org/wiki/Q93596,https://w...",NaN,"Esox,Esox niger"
123,008851b16aa04124b3a9195676604f35,25,78,"https://www.wikidata.org/wiki/Q2178257,https:/...",NaN,"Rhinichthys,Rhinichthys cataractae"
124,008851b16aa04124b3a9195676604f35,25,80,"https://www.wikidata.org/wiki/Q3763094,https:/...",NaN,"Luxilus,Luxilus cornutus"
125,008851b16aa04124b3a9195676604f35,25,82,"https://www.wikidata.org/wiki/Q2857311,https:/...",NaN,"Salmo,Salmo trutta"
126,008851b16aa04124b3a9195676604f35,25,84,"https://www.wikidata.org/wiki/Q3757818,https:/...",NaN,"Semotilus,Semotilus corporalis"
127,008851b16aa04124b3a9195676604f35,25,86,"https://www.wikidata.org/wiki/Q610177,https://...",NaN,"Cottus,Cottus cognatus"
128,008851b16aa04124b3a9195676604f35,25,87,"https://www.wikidata.org/wiki/Q3766704,https:/...",NaN,"Cyprinella,Cyprinella spiloptera"
129,008851b16aa04124b3a9195676604f35,25,88,"https://www.wikidata.org/wiki/Q606436,https://...",NaN,"Etheostoma,Etheostoma olmstedi"
130,008851b16aa04124b3a9195676604f35,25,90,"https://www.wikidata.org/wiki/Q6406968,https:/...",NaN,"Hypentelium,Hypentelium roanokense"
131,008851b16aa04124b3a9195676604f35,25,91,"https://www.wikidata.org/wiki/Q723654,https://...",NaN,"Salvelinus,Salvelinus fontinalis"

In [113]:
composed_values[composed_values["Table Name"] == "008851b16aa04124b3a9195676604f35"].shape

(46, 6)

In [67]:
dfs["008851b16aa04124b3a9195676604f35.csv"].iloc[:, [0, 25]]

                    species                                genus
0     Ambloplites rupestris    Ambloplites,Ambloplites rupestris
1       Campostoma anomalum       Campostoma,Campostoma anomalum
2    Catostomus commersonii    Catostomus,Catostomus commersonii
3   Chrosomus erythrogaster    Chrosomus,Chrosomus erythrogaster
4   Clinostomus funduloides  Clinostomus,Clinostomus funduloides
..                      ...                                  ...
86    Cyprinella spiloptera     Cyprinella,Cyprinella spiloptera
87      Etheostoma olmstedi       Etheostoma,Etheostoma olmstedi
88    Etheostoma flabellare     Etheostoma,Etheostoma flabellare
89   Hypentelium roanokense   Hypentelium,Hypentelium roanokense
90    Salvelinus fontinalis     Salvelinus,Salvelinus fontinalis

[91 rows x 2 columns]

"Clinostomus funduloides" is a species of fish belonging to the genus "Clinostomus." This genus is part of the family Centrarchidae, which includes a variety of small freshwater fish species commonly known as sunfish or bass. "Clinostomus funduloides" is commonly referred to as the rosyface shiner.

Here's a brief overview of this species:

Scientific Name: Clinostomus funduloides
Common Name: Rosyface shiner
Genus: Clinostomus
Family: Centrarchidae
The rosyface shiner is a small fish species native to North America, particularly in the eastern United States. It typically inhabits clear, slow-moving streams and rivers. Like many members of the sunfish family, it has colorful markings and is valued by some aquarists for its appearance.

Genus = genus, species


Number of cells: 46

#### Table: 0ffeda696bba402284a382ab877bb9e7.csv

In [115]:
composed_values[composed_values["Table Name"] == "0ffeda696bba402284a382ab877bb9e7"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
504,0ffeda696bba402284a382ab877bb9e7,0,1,"https://www.wikidata.org/wiki/Q2093287,https:/...",NaN,"Ambloplites rupestris,Ambloplites"
505,0ffeda696bba402284a382ab877bb9e7,0,2,"https://www.wikidata.org/wiki/Q8261255,https:/...",NaN,"Campostoma anomalum,Campostoma"
506,0ffeda696bba402284a382ab877bb9e7,0,3,"https://www.wikidata.org/wiki/Q2942992,https:/...",NaN,"Catostomus commersonii,Catostomus"
507,0ffeda696bba402284a382ab877bb9e7,0,4,"https://www.wikidata.org/wiki/Q1105092,https:/...",NaN,"Chrosomus erythrogaster,Chrosomus"
508,0ffeda696bba402284a382ab877bb9e7,0,5,"https://www.wikidata.org/wiki/Q5133901,https:/...",NaN,"Clinostomus funduloides,Clinostomus"
509,0ffeda696bba402284a382ab877bb9e7,0,6,"https://www.wikidata.org/wiki/Q217560,https://...",NaN,"Etheostoma caeruleum,Etheostoma"
510,0ffeda696bba402284a382ab877bb9e7,0,7,"https://www.wikidata.org/wiki/Q3756770,https:/...",NaN,"Notropis buccatus,Notropis"
511,0ffeda696bba402284a382ab877bb9e7,0,8,"https://www.wikidata.org/wiki/Q3046026,https:/...",NaN,"Pimephales notatus,Pimephales"
512,0ffeda696bba402284a382ab877bb9e7,0,9,"https://www.wikidata.org/wiki/Q1102705,https:/...",NaN,"Rhinichthys obtusus,Rhinichthys"
513,0ffeda696bba402284a382ab877bb9e7,0,10,"https://www.wikidata.org/wiki/Q3133554,https:/...",NaN,"Semotilus atromaculatus,Semotilus"
514,0ffeda696bba402284a382ab877bb9e7,0,14,"https://www.wikidata.org/wiki/Q3753866,https:/...",NaN,"Etheostoma blennioides,Etheostoma"
515,0ffeda696bba402284a382ab877bb9e7,0,16,"https://www.wikidata.org/wiki/Q3752556,https:/...",NaN,"Etheostoma flabellare,Etheostoma"
516,0ffeda696bba402284a382ab877bb9e7,0,17,"https://www.wikidata.org/wiki/Q2236034,https:/...",NaN,"Chrosomus cumberlandensis,Chrosomus"
517,0ffeda696bba402284a382ab877bb9e7,0,19,"https://www.wikidata.org/wiki/Q2042960,https:/...",NaN,"Etheostoma kennicotti,Etheostoma"
518,0ffeda696bba402284a382ab877bb9e7,0,20,"https://www.wikidata.org/wiki/Q217581,https://...",NaN,"Etheostoma nigrum,Etheostoma"
519,0ffeda696bba402284a382ab877bb9e7,0,21,"https://www.wikidata.org/wiki/Q2194268,https:/...",NaN,"Lepomis auritus,Lepomis"
520,0ffeda696bba402284a382ab877bb9e7,0,22,"https://www.wikidata.org/wiki/Q1148148,https:/...",NaN,"Lepomis macrochirus,Lepomis"
521,0ffeda696bba402284a382ab877bb9e7,0,24,"https://www.wikidata.org/wiki/Q2704889,https:/...",NaN,"Rhinichthys atratulus,Rhinichthys"
522,0ffeda696bba402284a382ab877bb9e7,0,26,"https://www.wikidata.org/wiki/Q3643840,https:/...",NaN,"Micropterus punctulatus,Micropterus"
523,0ffeda696bba402284a382ab877bb9e7,0,27,"https://www.wikidata.org/wiki/Q287368,https://...",NaN,"Moxostoma erythrurum,Moxostoma"
524,0ffeda696bba402284a382ab877bb9e7,0,29,"https://www.wikidata.org/wiki/Q388110,https://...",NaN,"Notropis leuciodus,Notropis"
525,0ffeda696bba402284a382ab877bb9e7,0,30,"https://www.wikidata.org/wiki/Q3754468,https:/...",NaN,"Notropis photogenis,Notropis"
526,0ffeda696bba402284a382ab877bb9e7,0,31,"https://www.wikidata.org/wiki/Q3754033,https:/...",NaN,"Noturus miurus,Noturus"
527,0ffeda696bba402284a382ab877bb9e7,0,36,"https://www.wikidata.org/wiki/Q4499931,https:/...",NaN,"Lampetra aepyptera,Lampetra"
528,0ffeda696bba402284a382ab877bb9e7,0,37,"https://www.wikidata.org/wiki/Q2269714,https:/...",NaN,"Lepomis megalotis,Lepomis"
529,0ffeda696bba402284a382ab877bb9e7,0,38,"https://www.wikidata.org/wiki/Q6413408,https:/...",NaN,"Luxilus chrysocephalus,Luxilus"
530,0ffeda696bba402284a382ab877bb9e7,0,48,"https://www.wikidata.org/wiki/Q3756276,https:/...",NaN,"Notropis rubellus,Notropis"
531,0ffeda696bba402284a382ab877bb9e7,0,49,"https://www.wikidata.org/wiki/Q947772,https://...",NaN,"Percina caprodes,Percina"
532,0ffeda696bba402284a382ab877bb9e7,0,51,"https://www.wikidata.org/wiki/Q1462862,https:/...",NaN,"Sander vitreus,Sander"
533,0ffeda696bba402284a382ab877bb9e7,0,53,"https://www.wikidata.org/wiki/Q536070,https://...",NaN,"Ameiurus natalis,Ameiurus"
534,0ffeda696bba402284a382ab877bb9e7,0,55,"https://www.wikidata.org/wiki/Q6417895,https:/...",NaN,"Nocomis micropogon,Nocomis"
535,0ffeda696bba402284a382ab877bb9e7,0,65,"https://www.wikidata.org/wiki/Q2165302,https:/...",NaN,"Etheostoma zonale,Etheostoma"
536,0ffeda696bba402284a382ab877bb9e7,0,66,"https://www.wikidata.org/wiki/Q143432,https://...",NaN,"Ictiobus bubalus,Ictiobus"
537,0ffeda696bba402284a382ab877bb9e7,0,67,"https://www.wikidata.org/wiki/Q1543413,https:/...",NaN,"Lepomis cyanellus,Lepomis"
538,0ffeda696bba402284a382ab877bb9e7,0,72,"https://www.wikidata.org/wiki/Q2341801,https:/...",NaN,"Cottus bairdii,Cottus"
539,0ffeda696bba402284a382ab877bb9e7,0,73,"https://www.wikidata.org/wiki/Q81110,https://w...",NaN,"Cyprinus carpio,Cyprinus"
540,0ffeda696bba402284a382ab877bb9e7,0,74,"https://www.wikidata.org/wiki/Q93596,https://w...",NaN,"Esox niger,Esox"
541,0ffeda696bba402284a382ab877bb9e7,0,78,"https://www.wikidata.org/wiki/Q2178257,https:/...",NaN,"Rhinichthys cataractae,Rhinichthys"
542,0ffeda696bba402284a382ab877bb9e7,0,80,"https://www.wikidata.org/wiki/Q3763094,https:/...",NaN,"Luxilus cornutus,Luxilus"
543,0ffeda696bba402284a382ab877bb9e7,0,82,"https://www.wikidata.org/wiki/Q2857311,https:/...",NaN,"Salmo trutta,Salmo"
544,0ffeda696bba402284a382ab877bb9e7,0,84,"https://www.wikidata.org/wiki/Q3757818,https:/...",NaN,"Semotilus corporalis,Semotilus"
545,0ffeda696bba402284a382ab877bb9e7,0,86,"https://www.wikidata.org/wiki/Q610177,https://...",NaN,"Cottus cognatus,Cottus"
546,0ffeda696bba402284a382ab877bb9e7,0,87,"https://www.wikidata.org/wiki/Q3766704,https:/...",NaN,"Cyprinella spiloptera,Cyprinella"
547,0ffeda696bba402284a382ab877bb9e7,0,88,"https://www.wikidata.org/wiki/Q606436,https://...",NaN,"Etheostoma olmstedi,Etheostoma"
548,0ffeda696bba402284a382ab877bb9e7,0,90,"https://www.wikidata.org/wiki/Q6406968,https:/...",NaN,"Hypentelium roanokense,Hypentelium"
549,0ffeda696bba402284a382ab877bb9e7,0,91,"https://www.wikidata.org/wiki/Q723654,https://...",NaN,"Salvelinus fontinalis,Salvelinus"

In [70]:
dfs["0ffeda696bba402284a382ab877bb9e7.csv"].iloc[:, 25]

0     Ambloplites
1      Campostoma
2      Catostomus
3       Chrosomus
4     Clinostomus
         ...
86     Cyprinella
87     Etheostoma
88     Etheostoma
89    Hypentelium
90     Salvelinus
Name: genus, Length: 91, dtype: object

In [116]:
composed_values[composed_values["Table Name"] == "0ffeda696bba402284a382ab877bb9e7"].shape

(46, 6)

The opposite for 0ffeda696bba402284a382ab877bb9e7 . Species has two and genus one. 

Number of cells: 46

#### Table: 11a0fb6a86ba4fef9dbb904fa851066b.csv

In [117]:
composed_values[composed_values["Table Name"] == "11a0fb6a86ba4fef9dbb904fa851066b"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
552,11a0fb6a86ba4fef9dbb904fa851066b,1,1,"https://www.wikidata.org/wiki/Q190154,https://...",NaN,"Mammalia,Addax nasomaculatus"
553,11a0fb6a86ba4fef9dbb904fa851066b,1,2,"https://www.wikidata.org/wiki/Q775170,https://...",NaN,"Mammalia,Dasyprocta leporina"
554,11a0fb6a86ba4fef9dbb904fa851066b,1,3,"https://www.wikidata.org/wiki/Q194422,https://...",NaN,"Reptilia,Alligator sinensis"
555,11a0fb6a86ba4fef9dbb904fa851066b,1,4,"https://www.wikidata.org/wiki/Q317393,https://...",NaN,"Mammalia,Bubalus depressicornis"
556,11a0fb6a86ba4fef9dbb904fa851066b,1,5,"https://www.wikidata.org/wiki/Q203033,https://...",NaN,"Mammalia,Myrmecophaga tridactyla"
...,...,...,...,...,...,...
646,11a0fb6a86ba4fef9dbb904fa851066b,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Aves,Phoenicopterus chilensis"
647,11a0fb6a86ba4fef9dbb904fa851066b,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Aves,Phoenicopterus ruber roseus"
648,11a0fb6a86ba4fef9dbb904fa851066b,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Aves,Phoeniconaias minor"
649,11a0fb6a86ba4fef9dbb904fa851066b,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Mammalia,Pteropus hypomelanus"
650,11a0fb6a86ba4fef9dbb904fa851066b,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Mammalia,Pteropus vampyrus"

In [119]:
composed_values[composed_values["Table Name"] == "11a0fb6a86ba4fef9dbb904fa851066b"].shape

(99, 6)

In [72]:
dfs["11a0fb6a86ba4fef9dbb904fa851066b.csv"]

,species_common_name,taxon_class,overall_sample_size,overall_mle,overall_ci_lower,overall_ci_upper,male_sample_size,male_mle,male_ci_lower,male_ci_upper,female_sample_size,female_mle,female_ci_lower,female_ci_upper,male_data_deficient,female_data_deficient
0,Addax,"Mammalia,Addax nasomaculatus",1215,13.4,12.4,14.5,558.0,12.3,10.5,14.7,656.0,14.4,13.0,15.1,NaN,NaN
1,"Agouti, Brazilian","Mammalia,Dasyprocta leporina",456,8.1,7.2,9.3,216.0,8.8,6.9,10.3,220.0,7.8,6.8,8.6,NaN,NaN
2,"Alligator, Chinese","Reptilia,Alligator sinensis",351,30.9,25.9,34.3,151.0,25.9,23.9,52.1,176.0,32.8,25.9,46.0,yes,yes
3,"Anoa, Lowland","Mammalia,Bubalus depressicornis",256,17.7,15.3,21.2,113.0,16.3,14.7,21.3,139.0,18.8,15.2,21.5,yes,yes
4,"Anteater, Giant","Mammalia,Myrmecophaga tridactyla",177,19.7,17.1,21.5,86.0,19.4,17.1,21.5,90.0,19.7,16.2,22.0,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,"Flamingo, Chilean","Aves,Phoenicopterus chilensis",3406,27.8,26.3,29.6,1299.0,30.0,27.4,32.8,1330.0,26.6,24.4,28.3,NaN,NaN
95,"Flamingo, Greater","Aves,Phoenicopterus ruber roseus",799,34.9,33.9,37.1,355.0,37.0,36.8,NaN,409.0,34.2,30.8,37.1,yes,NaN
96,"Flamingo, Lesser","Aves,Phoeniconaias minor",1249,16.3,14.9,18.4,676.0,19.9,16.3,23.8,312.0,12.5,10.5,15.0,NaN,NaN
97,"Flying Fox, Island","Mammalia,Pteropus hypomelanus",146,22.6,20.2,24.7,62.0,18.6,12.1,12.1,84.0,25.4,23.3,NaN,yes,yes
98,"Flying Fox, Large","Mammalia,Pteropus vampyrus",217,17.1,15.7,18.1,102.0,17.0,16.2,18.1,114.0,17.1,14.9,19.9,yes,yes

The term "taxon_name" typically refers to a scientific name that includes both the taxonomic rank (genus and species) and the common name of an organism. In the example you provided, "Mammalia, Addax nasomaculatus" it appears to be a combination of the class name "Mammalia" and the scientific name "Addax nasomaculatus" for a specific species.

Here's a breakdown of the components:

Mammalia: This is the class name. In the Linnaean classification system, "Mammalia" is the class to which all mammals belong. Mammals are a diverse group of warm-blooded vertebrate animals characterized by features such as having hair or fur, mammary glands for nursing their young, and typically giving birth to live offspring.

Addax nasomaculatus: This is the scientific name of a species. In binomial nomenclature, the first part of the scientific name is the genus (in this case, "Addax"), and the second part is the species epithet (in this case, "nasomaculatus"). "Addax nasomaculatus" refers to a specific species of antelope known as the addax.

So, the "taxon_name" "Mammalia, Addax nasomaculatus" is telling us that the organism being referred to belongs to the class "Mammalia" and is a specific species of antelope called "Addax nasomaculatus." This naming convention is commonly used in biological and taxonomic contexts to identify and categorize organisms based on their classification and scientific names.

Number of cells: 99

#### Table: bd00b752eba94953882023490ade0978.csv && dffeec8c3593402bafa69b50f5920fa5.csv related to Airplanes to check later

In [120]:
composed_values[composed_values["Table Name"] == "bd00b752eba94953882023490ade0978"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1700,bd00b752eba94953882023490ade0978,11,1,"https://www.wikidata.org/wiki/Q319654,https://...",NaN,"US AIRWAYS*,LAGUARDIA NY"
1701,bd00b752eba94953882023490ade0978,11,2,"https://www.wikidata.org/wiki/Q459096,https://...",NaN,"AMERICAN AIRLINES,DALLAS/FORT WORTH INTL ARPT"
1702,bd00b752eba94953882023490ade0978,11,3,"https://www.wikidata.org/wiki/Q10853543,https:...",NaN,"BUSINESS,LAKEFRONT AIRPORT"
1703,bd00b752eba94953882023490ade0978,11,4,"https://www.wikidata.org/wiki/Q14295,https://w...",NaN,"ALASKA AIRLINES,SEATTLE-TACOMA INTL"
1704,bd00b752eba94953882023490ade0978,11,5,"https://www.wikidata.org/wiki/Q49748750,https:...",NaN,"COMAIR AIRLINES,NORFOLK INTL"
1705,bd00b752eba94953882023490ade0978,11,6,"https://www.wikidata.org/wiki/Q1422154,https:/...",NaN,"AMERICAN AIRLINES,GUAYAQUIL/S BOLIVAR"
1706,bd00b752eba94953882023490ade0978,11,7,"https://www.wikidata.org/wiki/Q2876019,https:/...",NaN,"BUSINESS,NEW CASTLE COUNTY"
1707,bd00b752eba94953882023490ade0978,11,8,"https://www.wikidata.org/wiki/Q466835,https://...",NaN,"UNITED AIRLINES,WASHINGTON DULLES INTL ARPT"
1708,bd00b752eba94953882023490ade0978,11,9,"https://www.wikidata.org/wiki/Q214861,https://...",NaN,"AIRTRAN AIRWAYS,ATLANTA INTL"
1709,bd00b752eba94953882023490ade0978,11,10,"https://www.wikidata.org/wiki/Q597631,https://...",NaN,"AIRTOURS INTL,ORLANDO SANFORD INTL AIRPORT"
1710,bd00b752eba94953882023490ade0978,11,11,"https://www.wikidata.org/wiki/Q949831,https://...",NaN,"AMERICA WEST AIRLINES,ONTARIO INTL ARPT"
1711,bd00b752eba94953882023490ade0978,11,12,"https://www.wikidata.org/wiki/Q213717,https://...",NaN,"AMERICAN AIRLINES,CHICAGO O'HARE INTL ARPT"
1712,bd00b752eba94953882023490ade0978,11,13,"https://www.wikidata.org/wiki/Q5610758,https:/...",NaN,"BUSINESS,GROTON-NEW LONDON AR"
1713,bd00b752eba94953882023490ade0978,11,14,"https://www.wikidata.org/wiki/Q7578005,https:/...",NaN,"EXECUTIVE JET AVIATION,SPIRIT OF ST LOUIS"
1714,bd00b752eba94953882023490ade0978,11,15,"https://www.wikidata.org/wiki/Q787782,https://...",NaN,"US AIRWAYS*,THEODORE FRANCIS GREEN STATE"
1715,bd00b752eba94953882023490ade0978,11,16,"https://www.wikidata.org/wiki/Q1431674,https:/...",NaN,"TRANS WORLD AIRLINES,KANSAS CITY INTL"
1716,bd00b752eba94953882023490ade0978,11,17,"https://www.wikidata.org/wiki/Q1146451,https:/...",NaN,"HAWAIIAN AIR,LIHUE ARPT"
1717,bd00b752eba94953882023490ade0978,11,18,"https://www.wikidata.org/wiki/Q912916,https://...",NaN,"AMERICA WEST AIRLINES,PHOENIX SKY HARBOR"
1718,bd00b752eba94953882023490ade0978,11,19,"https://www.wikidata.org/wiki/Q1432146,https:/...",NaN,"US AIRWAYS*,NASHVILLE INTL"
1719,bd00b752eba94953882023490ade0978,11,20,"https://www.wikidata.org/wiki/Q2900627,https:/...",NaN,"BUSINESS,JIM HAMILTON L B OWENS ARPT"
1720,bd00b752eba94953882023490ade0978,11,21,"https://www.wikidata.org/wiki/Q213717,https://...",NaN,"UNITED AIRLINES,CHICAGO O'HARE INTL ARPT"
1721,bd00b752eba94953882023490ade0978,11,22,"https://www.wikidata.org/wiki/Q466835,https://...",NaN,"DELTA AIR LINES,WASHINGTON DULLES INTL ARPT"
1722,bd00b752eba94953882023490ade0978,11,23,"https://www.wikidata.org/wiki/Q1500002,https:/...",NaN,"AIR TRANSAT,SOUTHWEST FLORIDA INTL ARPT"
1723,bd00b752eba94953882023490ade0978,11,24,"https://www.wikidata.org/wiki/Q2876107,https:/...",NaN,"MESABA AIRLINES,ABERDEEN REGIONAL AR"
1724,bd00b752eba94953882023490ade0978,11,25,"https://www.wikidata.org/wiki/Q466786,https://...",NaN,"CONTINENTAL AIRLINES,NEWARK LIBERTY INTL ARPT"
1725,bd00b752eba94953882023490ade0978,11,26,"https://www.wikidata.org/wiki/Q2901709,https:/...",NaN,"EXECUTIVE JET AVIATION,ASPEN-PITKIN CO/SARD"
1726,bd00b752eba94953882023490ade0978,11,27,"https://www.wikidata.org/wiki/Q1432602,https:/...",NaN,"AMERICAN AIRLINES,ROCHESTER INTL"
1727,bd00b752eba94953882023490ade0978,11,28,"https://www.wikidata.org/wiki/Q875749,https://...",NaN,"NORTHWEST AIRLINES,MINNEAPOLIS-ST PAUL INTL"
1728,bd00b752eba94953882023490ade0978,11,29,"https://www.wikidata.org/wiki/Q7258455,https:/...",NaN,"BUSINESS,PUEBLO MEMORIAL ARPT"
1729,bd00b752eba94953882023490ade0978,11,30,"https://www.wikidata.org/wiki/Q2876027,https:/...",NaN,"CONTINENTAL AIRLINES,WESTCHESTER COUNTY ARPT"
1730,bd00b752eba94953882023490ade0978,11,31,"https://www.wikidata.org/wiki/Q865724,https://...",NaN,"ABX AIR,BIRMINGHAM-SHUTTLESWORTH INTL"
1731,bd00b752eba94953882023490ade0978,11,33,"https://www.wikidata.org/wiki/Q319654,https://...",NaN,"DELTA AIR LINES,LAGUARDIA NY"
1732,bd00b752eba94953882023490ade0978,11,34,"https://www.wikidata.org/wiki/Q1049719,https:/...",NaN,"HAWAIIAN AIR,TAHITI FAAA"
1733,bd00b752eba94953882023490ade0978,11,35,"https://www.wikidata.org/wiki/Q929859,https://...",NaN,"AMERICAN EAGLE AIRLINES,ORLANDO INTL"
1734,bd00b752eba94953882023490ade0978,11,36,"https://www.wikidata.org/wiki/Q1528300,https:/...",NaN,"US AIRWAYS*,MYRTLE BEACH INTL"

In [121]:
dfs["bd00b752eba94953882023490ade0978.csv"].iloc[:, 11]

0                          US AIRWAYS*,LAGUARDIA NY
1     AMERICAN AIRLINES,DALLAS/FORT WORTH INTL ARPT
2                        BUSINESS,LAKEFRONT AIRPORT
3               ALASKA AIRLINES,SEATTLE-TACOMA INTL
4                      COMAIR AIRLINES,NORFOLK INTL
5             AMERICAN AIRLINES,GUAYAQUIL/S BOLIVAR
6                        BUSINESS,NEW CASTLE COUNTY
7       UNITED AIRLINES,WASHINGTON DULLES INTL ARPT
8                      AIRTRAN AIRWAYS,ATLANTA INTL
9        AIRTOURS INTL,ORLANDO SANFORD INTL AIRPORT
10          AMERICA WEST AIRLINES,ONTARIO INTL ARPT
11       AMERICAN AIRLINES,CHICAGO O'HARE INTL ARPT
12                    BUSINESS,GROTON-NEW LONDON AR
13        EXECUTIVE JET AVIATION,SPIRIT OF ST LOUIS
14         US AIRWAYS*,THEODORE FRANCIS GREEN STATE
15            TRANS WORLD AIRLINES,KANSAS CITY INTL
16                          HAWAIIAN AIR,LIHUE ARPT
17         AMERICA WEST AIRLINES,PHOENIX SKY HARBOR
18                       US AIRWAYS*,NASHVILLE INTL
19             BUSINESS,JIM HAMILTON L B OWENS ARPT
20         UNITED AIRLINES,CHICAGO O'HARE INTL ARPT
21      DELTA AIR LINES,WASHINGTON DULLES INTL ARPT
22          AIR TRANSAT,SOUTHWEST FLORIDA INTL ARPT
23             MESABA AIRLINES,ABERDEEN REGIONAL AR
24    CONTINENTAL AIRLINES,NEWARK LIBERTY INTL ARPT
25      EXECUTIVE JET AVIATION,ASPEN-PITKIN CO/SARD
26                 AMERICAN AIRLINES,ROCHESTER INTL
27      NORTHWEST AIRLINES,MINNEAPOLIS-ST PAUL INTL
28                    BUSINESS,PUEBLO MEMORIAL ARPT
29     CONTINENTAL AIRLINES,WESTCHESTER COUNTY ARPT
30            ABX AIR,BIRMINGHAM-SHUTTLESWORTH INTL
31                     AIRTRAN AIRWAYS,ATLANTA INTL
32                     DELTA AIR LINES,LAGUARDIA NY
33                         HAWAIIAN AIR,TAHITI FAAA
34             AMERICAN EAGLE AIRLINES,ORLANDO INTL
35                    US AIRWAYS*,MYRTLE BEACH INTL
Name: aircraft_airline_operator, dtype: object

In [122]:
composed_values[composed_values["Table Name"] == "dffeec8c3593402bafa69b50f5920fa5"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1875,dffeec8c3593402bafa69b50f5920fa5,2,1,"https://www.wikidata.org/wiki/Q319654,https://...",NaN,"LAGUARDIA NY,US AIRWAYS*"
1876,dffeec8c3593402bafa69b50f5920fa5,2,2,"https://www.wikidata.org/wiki/Q459096,https://...",NaN,"DALLAS/FORT WORTH INTL ARPT,AMERICAN AIRLINES"
1877,dffeec8c3593402bafa69b50f5920fa5,2,3,"https://www.wikidata.org/wiki/Q10853543,https:...",NaN,"LAKEFRONT AIRPORT,BUSINESS"
1878,dffeec8c3593402bafa69b50f5920fa5,2,4,"https://www.wikidata.org/wiki/Q14295,https://w...",NaN,"SEATTLE-TACOMA INTL,ALASKA AIRLINES"
1879,dffeec8c3593402bafa69b50f5920fa5,2,5,"https://www.wikidata.org/wiki/Q49748750,https:...",NaN,"NORFOLK INTL,COMAIR AIRLINES"
1880,dffeec8c3593402bafa69b50f5920fa5,2,6,"https://www.wikidata.org/wiki/Q1422154,https:/...",NaN,"GUAYAQUIL/S BOLIVAR,AMERICAN AIRLINES"
1881,dffeec8c3593402bafa69b50f5920fa5,2,7,"https://www.wikidata.org/wiki/Q2876019,https:/...",NaN,"NEW CASTLE COUNTY,BUSINESS"
1882,dffeec8c3593402bafa69b50f5920fa5,2,8,"https://www.wikidata.org/wiki/Q466835,https://...",NaN,"WASHINGTON DULLES INTL ARPT,UNITED AIRLINES"
1883,dffeec8c3593402bafa69b50f5920fa5,2,9,"https://www.wikidata.org/wiki/Q214861,https://...",NaN,"ATLANTA INTL,AIRTRAN AIRWAYS"
1884,dffeec8c3593402bafa69b50f5920fa5,2,10,"https://www.wikidata.org/wiki/Q597631,https://...",NaN,"ORLANDO SANFORD INTL AIRPORT,AIRTOURS INTL"
1885,dffeec8c3593402bafa69b50f5920fa5,2,11,"https://www.wikidata.org/wiki/Q949831,https://...",NaN,"ONTARIO INTL ARPT,AMERICA WEST AIRLINES"
1886,dffeec8c3593402bafa69b50f5920fa5,2,12,"https://www.wikidata.org/wiki/Q213717,https://...",NaN,"CHICAGO O'HARE INTL ARPT,AMERICAN AIRLINES"
1887,dffeec8c3593402bafa69b50f5920fa5,2,13,"https://www.wikidata.org/wiki/Q5610758,https:/...",NaN,"GROTON-NEW LONDON AR,BUSINESS"
1888,dffeec8c3593402bafa69b50f5920fa5,2,14,"https://www.wikidata.org/wiki/Q7578005,https:/...",NaN,"SPIRIT OF ST LOUIS,EXECUTIVE JET AVIATION"
1889,dffeec8c3593402bafa69b50f5920fa5,2,15,"https://www.wikidata.org/wiki/Q787782,https://...",NaN,"THEODORE FRANCIS GREEN STATE,US AIRWAYS*"
1890,dffeec8c3593402bafa69b50f5920fa5,2,16,"https://www.wikidata.org/wiki/Q1431674,https:/...",NaN,"KANSAS CITY INTL,TRANS WORLD AIRLINES"
1891,dffeec8c3593402bafa69b50f5920fa5,2,17,"https://www.wikidata.org/wiki/Q1146451,https:/...",NaN,"LIHUE ARPT,HAWAIIAN AIR"
1892,dffeec8c3593402bafa69b50f5920fa5,2,18,"https://www.wikidata.org/wiki/Q912916,https://...",NaN,"PHOENIX SKY HARBOR,AMERICA WEST AIRLINES"
1893,dffeec8c3593402bafa69b50f5920fa5,2,19,"https://www.wikidata.org/wiki/Q1432146,https:/...",NaN,"NASHVILLE INTL,US AIRWAYS*"
1894,dffeec8c3593402bafa69b50f5920fa5,2,20,"https://www.wikidata.org/wiki/Q2900627,https:/...",NaN,"JIM HAMILTON L B OWENS ARPT,BUSINESS"
1895,dffeec8c3593402bafa69b50f5920fa5,2,21,"https://www.wikidata.org/wiki/Q213717,https://...",NaN,"CHICAGO O'HARE INTL ARPT,UNITED AIRLINES"
1896,dffeec8c3593402bafa69b50f5920fa5,2,22,"https://www.wikidata.org/wiki/Q466835,https://...",NaN,"WASHINGTON DULLES INTL ARPT,DELTA AIR LINES"
1897,dffeec8c3593402bafa69b50f5920fa5,2,23,"https://www.wikidata.org/wiki/Q1500002,https:/...",NaN,"SOUTHWEST FLORIDA INTL ARPT,AIR TRANSAT"
1898,dffeec8c3593402bafa69b50f5920fa5,2,24,"https://www.wikidata.org/wiki/Q2876107,https:/...",NaN,"ABERDEEN REGIONAL AR,MESABA AIRLINES"
1899,dffeec8c3593402bafa69b50f5920fa5,2,25,"https://www.wikidata.org/wiki/Q466786,https://...",NaN,"NEWARK LIBERTY INTL ARPT,CONTINENTAL AIRLINES"
1900,dffeec8c3593402bafa69b50f5920fa5,2,26,"https://www.wikidata.org/wiki/Q2901709,https:/...",NaN,"ASPEN-PITKIN CO/SARD,EXECUTIVE JET AVIATION"
1901,dffeec8c3593402bafa69b50f5920fa5,2,27,"https://www.wikidata.org/wiki/Q1432602,https:/...",NaN,"ROCHESTER INTL,AMERICAN AIRLINES"
1902,dffeec8c3593402bafa69b50f5920fa5,2,28,"https://www.wikidata.org/wiki/Q875749,https://...",NaN,"MINNEAPOLIS-ST PAUL INTL,NORTHWEST AIRLINES"
1903,dffeec8c3593402bafa69b50f5920fa5,2,29,"https://www.wikidata.org/wiki/Q7258455,https:/...",NaN,"PUEBLO MEMORIAL ARPT,BUSINESS"
1904,dffeec8c3593402bafa69b50f5920fa5,2,30,"https://www.wikidata.org/wiki/Q2876027,https:/...",NaN,"WESTCHESTER COUNTY ARPT,CONTINENTAL AIRLINES"
1905,dffeec8c3593402bafa69b50f5920fa5,2,31,"https://www.wikidata.org/wiki/Q865724,https://...",NaN,"BIRMINGHAM-SHUTTLESWORTH INTL,ABX AIR"
1906,dffeec8c3593402bafa69b50f5920fa5,2,33,"https://www.wikidata.org/wiki/Q319654,https://...",NaN,"LAGUARDIA NY,DELTA AIR LINES"
1907,dffeec8c3593402bafa69b50f5920fa5,2,34,"https://www.wikidata.org/wiki/Q1049719,https:/...",NaN,"TAHITI FAAA,HAWAIIAN AIR"
1908,dffeec8c3593402bafa69b50f5920fa5,2,35,"https://www.wikidata.org/wiki/Q929859,https://...",NaN,"ORLANDO INTL,AMERICAN EAGLE AIRLINES"
1909,dffeec8c3593402bafa69b50f5920fa5,2,36,"https://www.wikidata.org/wiki/Q1528300,https:/...",NaN,"MYRTLE BEACH INTL,US AIRWAYS*"

In [123]:
dfs["dffeec8c3593402bafa69b50f5920fa5.csv"]

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_make_model,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_sent_to_smithsonian,remarks,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,"LAGUARDIA NY,US AIRWAYS*",> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23T00:00:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,False,30736,1500,0,True
1,208159,Airplane,"DALLAS/FORT WORTH INTL ARPT,AMERICAN AIRLINES",< 1000 ft,MD-80,Over 100,424,None,2001-07-25T00:00:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,True,0,0,0,False
2,207601,Airplane,"LAKEFRONT AIRPORT,BUSINESS",< 1000 ft,C-500,Over 100,261,None,2001-09-14T00:00:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,False,0,50,0,False
3,215953,Airplane,"SEATTLE-TACOMA INTL,ALASKA AIRLINES",< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05T00:00:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,True,0,50,0,True
4,219878,Airplane,"NORFOLK INTL,COMAIR AIRLINES",< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23T00:00:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,False,0,50,0,False
5,218432,Airplane,"GUAYAQUIL/S BOLIVAR,AMERICAN AIRLINES",< 1000 ft,A-300,Over 100,537,None,2003-07-24T00:00:00,No damage,...,False,NO DMG. BIRD REMAINS ON F/O WINDSCREEN.,Small,No Cloud,Unknown bird - small,False,0,0,0,False
6,221697,Airplane,"NEW CASTLE COUNTY,BUSINESS",< 1000 ft,LEARJET-25,Over 100,227,Other,2003-08-17T00:00:00,Caused damage,...,True,NaN,Small,No Cloud,European starling,False,1481711,150,0,False
7,236635,Airplane,"WASHINGTON DULLES INTL ARPT,UNITED AIRLINES",< 1000 ft,A-320,Over 100,320,Other,2006-03-01T00:00:00,Caused damage,...,False,WS ASSISTED IN CLEAN-UP OF 273 STARLINGS AND 1...,Small,Some Cloud,European starling,True,1483141,100,0,False
8,207369,Airplane,"ATLANTA INTL,AIRTRAN AIRWAYS",< 1000 ft,DC-9-30,2 to 10,9,Aborted Take-off,2000-01-06T00:00:00,No damage,...,False,NaN,Small,Some Cloud,Rock pigeon,False,0,0,0,False
9,204371,Airplane,"ORLANDO SANFORD INTL AIRPORT,AIRTOURS INTL",< 1000 ft,A-330,2 to 10,4,None,2000-01-07T00:00:00,No damage,...,False,FLT 057,Small,Some Cloud,Unknown bird - small,False,0,0,0,False
10,201589,Airplane,"ONTARIO INTL ARPT,AMERICA WEST AIRLINES",< 1000 ft,A-320,2 to 10,3,None,2000-01-08T00:00:00,No damage,...,False,FLEW THRU A FLOCK OF ABOUT 30 BIRDS. INGESTED ...,Small,Some Cloud,Rock pigeon,False,0,200,0,False
11,205958,Airplane,"CHICAGO O'HARE INTL ARPT,AMERICAN AIRLINES",> 1000 ft,FOKKER F100,2 to 10,9,None,2000-01-20T00:00:00,Caused damage,...,False,"JUST OUTSIDE OF WILLT ON VISUAL APCH, WE FLEW ...",Large,No Cloud,Canada goose,False,0,1700,0,False
12,200220,Airplane,"GROTON-NEW LONDON AR,BUSINESS",< 1000 ft,C-421,2 to 10,2,None,2000-01-30T00:00:00,No damage,...,False,NaN,Small,Overcast,Unknown bird - small,False,0,0,0,False
13,200219,Airplane,"SPIRIT OF ST LOUIS,EXECUTIVE JET AVIATION",> 1000 ft,C-560,2 to 10,2,None,2000-01-30T00:00:00,No damage,...,False,HIT FLAP,Small,Overcast,Unknown bird - small,False,0,1800,0,False
14,203756,Airplane,"THEODORE FRANCIS GREEN STATE,US AIRWAYS*",< 1000 ft,B-737-200,2 to 10,5,None,2000-01-30T00:00:00,No damage,...,False,FLT 2634. PILOT STATED HE HEARD 3 SMALL HITS &...,Small,No Cloud,European starling,False,0,50,0,True
15,204061,Airplane,"KANSAS CITY INTL,TRANS WORLD AIRLINES",< 1000 ft,MD-80,2 to 10,5,None,2000-02-01T00:00:00,No damage,...,False,"BIRD ID BY DAN, WS MO. 3/17/00. FLT 345",Large,Some Cloud,Snow goose,True,0,500,0,False
16,202604,Airplane,"LIHUE ARPT,HAWAIIAN AIR",< 1000 ft,DC-9-50,2 to 10,9,None,2000-02-11T00:00:00,No damage,...,False,FLT 138.,Small,No Cloud,Black-headed munia,True,0,0,0,False
17,201044,Airplane,"PHOENIX SKY HARBOR,AMERICA WEST AIRLINES",< 1000 ft,B-737,2 to 10,9,None,2000-02-12T00:00:00,No damage,...,False,5 BIRD REMOVED FROM RWY 8L/26R AT A-2 INSN,Small,Overcast,Rock pigeon,False,0,0,0,True
18,202254,Airplane,"NASHVILLE INTL,US AIRWAYS*",< 1000 ft,B-737-400,2 to 10,5,None,2000-02-18T00:00:00,No damage,...,False,"SML, STARLING TYPE BIRDS HIT F/O WINDSHLD & UN...",Small,Some Cloud,European starling,False,0,800,0,True
19,205346,Airplane,"JIM HAMILTON L B OWENS ARPT,BUSINESS",< 1000 ft,C-560,2 to 10,6,None,2000-02-23T00:00:00,Caused damage,...,False,"LE RT WING DENTED, BASEBALL SIZE.",Small,Some Cloud,Rock pigeon,False,0,500,0,False
20,201610,Airplane,"CHICAGO O'HARE INTL ARPT,UNITED AIRLINES",> 1000 ft,B-737-300,2 to 10,7,None,2000-02-25T00:00:00,No damage,...,False,FLT 580 ORD-MBS,Medium,Overcast,Unknown bird - medium,False,0,5000,0,True
21,202454,Airplane,"WASHINGTON DULLES INTL ARPT,DELTA AIR LINES",> 1000 ft,B-737-200,2 to 10,7,Precautionary Landing,2000-02-29T00:00:00,No damage,...,False,FLT 2307 INGESTED A BIRD. SMELL OF BURNING IN ...,Medium,No Cloud,Ring-billed gull,True,0,1500,0,True
22,201013,Airplane,"SOUTHWEST FLORIDA INTL ARPT,AIR TRANSAT",< 1000 ft,B-737-400,2 to 10,4,None,2000-02-29T00:00:00,No damage,...,False,FLT 522,Large,Some Cloud,Sandhill crane,True,0,0,0,True
23,205771,Airplane,"ABERDEEN REGIONAL AR,MESABA AIRLINES",> 1000 ft,SAAB-340,2 to 10,8,None,2000-03-04T00:00:00,No damage,...,False,HEARD 2 THUMPS. FOUND STRIKES ON POST FLT INSP...,Small,Some Cloud,Unknown bird - small,False,0,2000,0,False
24,202226,Airplane,"NEWARK LIBERTY INTL ARPT,CONTINENTAL AIRLINES",< 1000 ft,MD-82,2 to 10,5,None,2000-03-06T00:00:00,No damage,...,False,"# BIRDS STRUCK NOT REPTD, ASSUME 2-10, SAME AS...",Small,No Cloud,Unknown bird - small,True,0,0,0,False
25,204404,Airplane,"ASPEN-PITKIN CO/SARD,EXECUTIVE JET AVIATION",< 1000 ft,HAWKER 800,2 to 10,3,None,2000-03-06T00:00:00,No damage,...,False,"SAW SML FLOCK FLYING UPON LDG FLARE, ACROSS RW...",Small,No Cloud,Unknown bird - small,False,8600,20,0,False
26,202138,Airplane,"ROCHESTER INTL,AMERICAN AIRLINES",< 1000 ft,FOKKER F28 MK 1000,2 to 10,4,Precautionary Landing,2000-03-06T00:00:00,No damage,...,False,FLT 1788. ABOUT 20-30 BIRDS CROSSED FLT PATH J...,Small,No Cloud,Unknown bird - small,False,0,200,0,False
27,201983,Airplane,"MINNEAPOLIS-ST PAUL INTL,NORTHWEST AIRLINES",< 1000 ft,B-757-200,2 to 10,4,None,2000-03-07T00:00:00,No damage,...,False,NaN,Small,Overcast,Unknown bird - small,False,0,75,0,True
28,200247,Airplane,"PUEBLO MEMORIAL ARPT,BUSINESS",< 1000 ft,HAWKER 800,2 to 10,5,None,2000-03-11T00:00:00,No damage,...,False,PILOT SAW ABOUT 30 BIRDS WHILE FLARING OUT. HE...,Small,No Cloud,Western meadowlark,False,0,10,0,False
29,201387,Airplane,"WESTCHESTER COUNTY ARPT,CONTINENTAL AIRLINES",< 1000 ft,EMB-135,2 to 10,5,None,2000-03-13T00:00:00,No damage,...,False,2 BIRD HIT. CONTD TO KCLE. UNKN WHAT PART WAS ...,Medium,No Cloud,Ring-billed gull,True,0,10,0,False
30,200542,Airplane,"BIRMINGHAM-SHUTTLESWORTH INTL,ABX AIR",> 1000 ft,DC-9-40,2 to 10,6,None,2000-03-13T00:00:00,No damage,...,False,HIT BIRDS BETWEEN 4000-6000 FT DURING DESCENT....,Small,No Cloud,Unknown bird - small,False,0,5000,0,False
31,202076,Airplane,"ATLANTA INTL,AIRTRAN AIRWAYS",< 1000 ft,DC-9-30,2 to 10,8,None,2000-03-14T00:00:00,No damage,...,False,"BIRDS HIT BOTH MAIN GEAR, L WING & LWR FUSELAG...",Medium,No Cloud,Mallard,False,0,1000,0,False
32,204836,Airplane,"LAGUARDIA NY,DELTA AIR LINES",> 1000 ft,B-727-200,2 to 10,10,None,2000-03-15T00:00:00,Caused damage,...,False,"SAW FLASH IN LIGHTS ON RT SIDE, FOLLOWED BY LO...",Medium,No Cloud,Unknown bird - medium,False,0,1300,0,False
33,203390,Airplane,"TAHITI FAAA,HAWAIIAN AIR",< 1000 ft,DC-10-30,2 to 10,7,None,2000-03-15T00:00:00,Caused damage,...,False,SEABIRD HIT F/O WINDSHLD AS NOSE CONTACTED RWY...,Medium,Some Cloud,Unknown bird - medium,False,0,0,0,True
34,203936,Airplane,"ORLANDO INTL,AMERICAN EAGLE AIRLINES",< 1000 ft,SAAB-340,2 to 10,9,Aborted Take-off,2000-03-18T00:00:00,No damage,...,False,"(BIRD REPTD AS GULL, ASSUME RING-BILLED BASED ...",Medium,Some Cloud,Ring-billed gull,True,0,0,0,False
35,203938,Airplane,"MYRTLE BEACH INTL,US AIRWAYS*",< 1000 ft,B-737,2 to 10,8,None,2000-03-22T00:00:00,Caused damage,...,False,FLT 2151. PILOT REPTD BIRD STRIKE AFTER LDG. B...,Large,Some Cloud,Turkey vulture,False,0,0,0,True

#### Table: e749786aff714981a5a7da3da0789128.csv

In [124]:
composed_values[composed_values["Table Name"] == "e749786aff714981a5a7da3da0789128"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1910,e749786aff714981a5a7da3da0789128,1,1,"https://www.wikidata.org/wiki/Q190154,https://...",NaN,"Addax nasomaculatus,Mammalia"
1911,e749786aff714981a5a7da3da0789128,1,2,"https://www.wikidata.org/wiki/Q775170,https://...",NaN,"Dasyprocta leporina,Mammalia"
1912,e749786aff714981a5a7da3da0789128,1,3,"https://www.wikidata.org/wiki/Q194422,https://...",NaN,"Alligator sinensis,Reptilia"
1913,e749786aff714981a5a7da3da0789128,1,4,"https://www.wikidata.org/wiki/Q317393,https://...",NaN,"Bubalus depressicornis,Mammalia"
1914,e749786aff714981a5a7da3da0789128,1,5,"https://www.wikidata.org/wiki/Q203033,https://...",NaN,"Myrmecophaga tridactyla,Mammalia"
...,...,...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://...",NaN,"Phoenicopterus chilensis,Aves"
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://...",NaN,"Phoenicopterus ruber roseus,Aves"
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://...",NaN,"Phoeniconaias minor,Aves"
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://...",NaN,"Pteropus hypomelanus,Mammalia"
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://...",NaN,"Pteropus vampyrus,Mammalia"

In [125]:
composed_values[composed_values["Table Name"] == "e749786aff714981a5a7da3da0789128"].shape

(99, 6)

In [82]:
dfs["e749786aff714981a5a7da3da0789128.csv"]

,species_common_name,species,overall_sample_size,overall_mle,overall_ci_lower,overall_ci_upper,male_sample_size,male_mle,male_ci_lower,male_ci_upper,female_sample_size,female_mle,female_ci_lower,female_ci_upper,male_data_deficient,female_data_deficient
0,Addax,"Addax nasomaculatus,Mammalia",1215,13.4,12.4,14.5,558.0,12.3,10.5,14.7,656.0,14.4,13.0,15.1,NaN,NaN
1,"Agouti, Brazilian","Dasyprocta leporina,Mammalia",456,8.1,7.2,9.3,216.0,8.8,6.9,10.3,220.0,7.8,6.8,8.6,NaN,NaN
2,"Alligator, Chinese","Alligator sinensis,Reptilia",351,30.9,25.9,34.3,151.0,25.9,23.9,52.1,176.0,32.8,25.9,46.0,yes,yes
3,"Anoa, Lowland","Bubalus depressicornis,Mammalia",256,17.7,15.3,21.2,113.0,16.3,14.7,21.3,139.0,18.8,15.2,21.5,yes,yes
4,"Anteater, Giant","Myrmecophaga tridactyla,Mammalia",177,19.7,17.1,21.5,86.0,19.4,17.1,21.5,90.0,19.7,16.2,22.0,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,"Flamingo, Chilean","Phoenicopterus chilensis,Aves",3406,27.8,26.3,29.6,1299.0,30.0,27.4,32.8,1330.0,26.6,24.4,28.3,NaN,NaN
95,"Flamingo, Greater","Phoenicopterus ruber roseus,Aves",799,34.9,33.9,37.1,355.0,37.0,36.8,NaN,409.0,34.2,30.8,37.1,yes,NaN
96,"Flamingo, Lesser","Phoeniconaias minor,Aves",1249,16.3,14.9,18.4,676.0,19.9,16.3,23.8,312.0,12.5,10.5,15.0,NaN,NaN
97,"Flying Fox, Island","Pteropus hypomelanus,Mammalia",146,22.6,20.2,24.7,62.0,18.6,12.1,12.1,84.0,25.4,23.3,NaN,yes,yes
98,"Flying Fox, Large","Pteropus vampyrus,Mammalia",217,17.1,15.7,18.1,102.0,17.0,16.2,18.1,114.0,17.1,14.9,19.9,yes,yes

In the species name "Addax nasomaculatus, Mammalia," the two terms separated by the comma have different meanings:

Addax nasomaculatus: This part of the name refers to the scientific name of a specific species of animal, the addax. In biological classification, the scientific name consists of two parts: the genus name (in this case, "Addax") and the species name (in this case, "nasomaculatus"). Together, they form the binomial nomenclature, a standardized system used to uniquely identify and classify species. The addax (Addax nasomaculatus) is a desert antelope native to North Africa.

Mammalia: The term "Mammalia" refers to the class within the animal kingdom to which the addax belongs. In the Linnaean classification system, organisms are grouped into various taxonomic ranks, and "Mammalia" is the class that includes all mammals. Mammals are characterized by features such as having mammary glands, giving birth to live young, and having hair or fur.

So, to summarize, "Addax nasomaculatus" is the specific scientific name of a species (the addax), and "Mammalia" is the higher taxonomic class to which this species belongs.

Number of cells: 99

##### Try Imputing

In [106]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

# Apply annotation for those values and compare
def get_text_inside_brackets(input_string):
    # Split the input string at the first opening parenthesis
    parts = input_string.split('(', 1)
    
    # If there are two parts (before and after the first opening parenthesis), return the first part
    if len(parts) == 2:
        return parts[1][:-1].strip()
    
    # If no opening parenthesis is found, return the entire input string
    return input_string.strip()

def get_text_outside_brackets(input_string):
    # Split the input string at the first opening parenthesis
    parts = input_string.split('(', 1)
    
    # If there are two parts (before and after the first opening parenthesis), return the first part
    if len(parts) == 2:
        return parts[0].strip()
    
    # If no opening parenthesis is found, return the entire input string
    return input_string.strip()

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "008851b16aa04124b3a9195676604f35" and column_index == 25 or 
            table_name == "0ffeda696bba402284a382ab877bb9e7" and column_index == 0 or
            table_name == "11a0fb6a86ba4fef9dbb904fa851066b" and column_index == 1 or
            table_name == "e749786aff714981a5a7da3da0789128" and column_index == 1):
            cell_values = cell_value.split(",")
            cell_value_1 = cell_values[0]
            cell_value_2 = cell_values[1]
            print("------------------------")
            print(cell_value_1)
            print(cell_value_2)
            print("------------------------")
            params_1 = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value_1
            }
            
            params_2 = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value_2
            }
            
            response_1 = requests.get(WIKIDATA_API_ENDPOINT, params=params_1)
            response_2 = requests.get(WIKIDATA_API_ENDPOINT, params=params_2)
            data_1 = response_1.json()
            data_2 = response_2.json()
            string_to_be_returned = ""
            
            if "search" in data_1:
                # If the API find an associated entity for the input
                if len(data_1["search"]) != 0:
                    string_to_be_returned = string_to_be_returned + "https://www.wikidata.org/wiki/" + data_1["search"][0]["concepturi"].split("/")[-1]
            
            if "search" in data_2:
                # If the API find an associated entity for the input
                if len(data_2["search"]) != 0:
                    if (string_to_be_returned == ""):
                        string_to_be_returned = "https://www.wikidata.org/wiki/" + data_2["search"][0]["concepturi"].split("/")[-1]
                    else:
                        string_to_be_returned = string_to_be_returned + ",https://www.wikidata.org/wiki/" + data_2["search"][0]["concepturi"].split("/")[-1]
            return string_to_be_returned
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "008851b16aa04124b3a9195676604f35") | 
                                (df_annotated[0] == "0ffeda696bba402284a382ab877bb9e7") |
                                (df_annotated[0] == "11a0fb6a86ba4fef9dbb904fa851066b") | 
                                (df_annotated[0] == "e749786aff714981a5a7da3da0789128")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
Ambloplites rupestris
Ambloplites
------------------------
------------------------
Campostoma anomalum
Campostoma
------------------------
------------------------
Catostomus commersonii
Catostomus
------------------------
------------------------
Chrosomus erythrogaster
Chrosomus
------------------------
------------------------
Clinostomus funduloides
Clinostomus
------------------------
------------------------
Etheostoma caeruleum
Etheostoma
------------------------
------------------------
Notropis buccatus
Notropis
------------------------
------------------------
Pimephales notatus
Pimephales
------------------------
------------------------
Rhinichthys obtusus
Rhinichthys
------------------------
------------------------
Semotilus atromaculatus
Semotilus
------------------------
------------------------
Etheostoma blennioides
Etheostoma
------------------------
------------------------
Etheostoma flabellare
Etheostoma
------------------------
------------------------
Chrosomus cumberlandensis
Chrosomus
------------------------
------------------------
Etheostoma kennicotti
Etheostoma
------------------------
------------------------
Etheostoma nigrum
Etheostoma
------------------------
------------------------
Lepomis auritus
Lepomis
------------------------
------------------------
Lepomis macrochirus
Lepomis
------------------------
------------------------
Rhinichthys atratulus
Rhinichthys
------------------------
------------------------
Micropterus punctulatus
Micropterus
------------------------
------------------------
Moxostoma erythrurum
Moxostoma
------------------------
------------------------
Notropis leuciodus
Notropis
------------------------
------------------------
Notropis photogenis
Notropis
------------------------
------------------------
Noturus miurus
Noturus
------------------------
------------------------
Lampetra aepyptera
Lampetra
------------------------
------------------------
Lepomis megalotis
Lepomis
------------------------
------------------------
Luxilus chrysocephalus
Luxilus
------------------------
------------------------
Notropis rubellus
Notropis
------------------------
------------------------
Percina caprodes
Percina
------------------------
------------------------
Sander vitreus
Sander
------------------------
------------------------
Ameiurus natalis
Ameiurus
------------------------
------------------------
Nocomis micropogon
Nocomis
------------------------
------------------------
Etheostoma zonale
Etheostoma
------------------------
------------------------
Ictiobus bubalus
Ictiobus
------------------------
------------------------
Lepomis cyanellus
Lepomis
------------------------
------------------------
Cottus bairdii
Cottus
------------------------
------------------------
Cyprinus carpio
Cyprinus
------------------------
------------------------
Esox niger
Esox
------------------------
------------------------
Rhinichthys cataractae
Rhinichthys
------------------------
------------------------
Luxilus cornutus
Luxilus
------------------------
------------------------
Salmo trutta
Salmo
------------------------
------------------------
Semotilus corporalis
Semotilus
------------------------
------------------------
Cottus cognatus
Cottus
------------------------
------------------------
Cyprinella spiloptera
Cyprinella
------------------------
------------------------
Etheostoma olmstedi
Etheostoma
------------------------
------------------------
Hypentelium roanokense
Hypentelium
------------------------
------------------------
Salvelinus fontinalis
Salvelinus
------------------------
------------------------
Mammalia
Addax nasomaculatus
------------------------
------------------------
Mammalia
Dasyprocta leporina
------------------------
------------------------
Reptilia
Alligator sinensis
------------------------
------------------------
Mammalia
Bubalus depressicornis
------------------------
------------------------
Mammalia
Myrmecophaga tridactyla
------------------------
------------------------
Mammalia
Hippotragus equinus
------------------------
------------------------
Mammalia
Hippotragus niger
------------------------
------------------------
Aves
Pteroglossus viridis
------------------------
------------------------
Aves
Argusianus argusï¿½
------------------------
------------------------
Mammalia
Tolypeutes matacas
------------------------
------------------------
Mammalia
Papio hamadryas
------------------------
------------------------
Mammalia
Rucervus duvaucelii
------------------------
------------------------
Aves
Trachyphonus erythrocephalus
------------------------
------------------------
Mammalia
Pteropus rodricensis
------------------------
------------------------
Mammalia
Eidolon helvum
------------------------
------------------------
Mammalia
Tremarctos ornatus
------------------------
------------------------
Mammalia
Ursus thibetanus
------------------------
------------------------
Mammalia
Ursus arctos
------------------------
------------------------
Mammalia
Ursus maritimus
------------------------
------------------------
Mammalia
Melursus ursinus
------------------------
------------------------
Mammalia
Helarctos malayanus
------------------------
------------------------
Mammalia
Bettongia penicillata
------------------------
------------------------
Mammalia
Arctictis binturong
------------------------
------------------------
Aves
Paradisaea raggiana
------------------------
------------------------
Aves
Irena puella
------------------------
------------------------
Reptilia
Chilabothrus subflavus
------------------------
------------------------
Mammalia
Lynx rufus
------------------------
------------------------
Mammalia
Tragelaphus eurycerus isaaci
------------------------
------------------------
Mammalia
Pan paniscus
------------------------
------------------------
Mammalia
Damaliscus pygargus pygarus
------------------------
------------------------
Mammalia
Syncerus caffer
------------------------
------------------------
Mammalia
Galago moholi
------------------------
------------------------
Reptilia
Lachesis muta
------------------------
------------------------
Aves
Lophotis gindiana
------------------------
------------------------
Aves
Turnix nigricollis
------------------------
------------------------
Mammalia
Callimico goeldii
------------------------
------------------------
Mammalia
Camelus bactrianus
------------------------
------------------------
Mammalia
Hydrochaeris hydrochaeris
------------------------
------------------------
Mammalia
Caracal caracal
------------------------
------------------------
Aves
Paroaria gularis
------------------------
------------------------
Aves
Paroaria coronata
------------------------
------------------------
Aves
Casuarius casuarius
------------------------
------------------------
Mammalia
Felis nigripes
------------------------
------------------------
Mammalia
Prionailurus viverrinus
------------------------
------------------------
Mammalia
Felis manul
------------------------
------------------------
Mammalia
Felis margarita
------------------------
------------------------
Aves
Cossypha niveicapilla
------------------------
------------------------
Mammalia
Acinonyx jubatus
------------------------
------------------------
Mammalia
Tragulus napu
------------------------
------------------------
Mammalia
Pan troglodytes
------------------------
------------------------
Mammalia
Nasua narica
------------------------
------------------------
Mammalia
Colobus angolensis
------------------------
------------------------
Mammalia
Colobus guereza
------------------------
------------------------
Aves
Vultur gryphus
------------------------
------------------------
Aves
Guarouba guarouba
------------------------
------------------------
Aves
Zapornia flavirostra
------------------------
------------------------
Aves
Balearica pavonina
------------------------
------------------------
Aves
Anthropoides paradisea
------------------------
------------------------
Aves
Anthropoides virgo
------------------------
------------------------
Aves
Balearica regulorum
------------------------

------------------------
Aves
Grus monacha
------------------------
------------------------
Aves
Grus japonensis
------------------------
------------------------
Aves
Grus vipio
------------------------
------------------------
Aves
Grus americana
------------------------
------------------------
Aves
Pauxi pauxi
------------------------
------------------------
Aves
Crax globulosa
------------------------
------------------------
Mammalia
Rucervus eldii thamin
------------------------
------------------------
Mammalia
Mazama temama
------------------------
------------------------
Mammalia
Elaphurus davidianus
------------------------
------------------------
Mammalia
Elaphodus cehalophus
------------------------
------------------------
Mammalia
Madoqua kirkii
------------------------
------------------------
Aves
Burhinus capensis
------------------------
------------------------
Mammalia
Lycaon pictus
------------------------
------------------------
Mammalia
Speothos venaticus
------------------------
------------------------
Aves
Gallicolumba criniger
------------------------
------------------------
Aves
Ptilinopus pulchellus
------------------------
------------------------
Aves
Ptilinopus melanospilus
------------------------
------------------------
Aves
Chalcophaps indica
------------------------
------------------------
Aves
Ptilinopus jambu
------------------------
------------------------
Aves
Gallicolumba luzonica
------------------------
------------------------
Aves
Ptilinopus roseicapilla
------------------------
------------------------
Reptilia
Varanus komodoensis
------------------------
------------------------
Aves
Dendrocygna guttata
------------------------
------------------------
Aves
Dendrocygna arborea
------------------------
------------------------
Aves
Asarcornis scutulata
------------------------
------------------------
Mammalia
Cephalopus niger
------------------------
------------------------
Mammalia
Philantomba monticola
------------------------
------------------------
Mammalia
Cephalophus silvicultor
------------------------
------------------------
Aves
Haliaeetus leucoephalus
------------------------
------------------------
Mammalia
Taurotragus oryx
------------------------
------------------------
Mammalia
Loxodonta africana
------------------------
------------------------
Mammalia
Elephas maximus
------------------------
------------------------
Aves
Polihierax semitorquatus
------------------------
------------------------
Aves
Phoenicopterus ruber
------------------------
------------------------
Aves
Phoenicopterus chilensis
------------------------
------------------------
Aves
Phoenicopterus ruber roseus
------------------------
------------------------
Aves
Phoeniconaias minor
------------------------
------------------------
Mammalia
Pteropus hypomelanus
------------------------
------------------------
Mammalia
Pteropus vampyrus
------------------------
------------------------
Addax nasomaculatus
Mammalia
------------------------
------------------------
Dasyprocta leporina
Mammalia
------------------------
------------------------
Alligator sinensis
Reptilia
------------------------
------------------------
Bubalus depressicornis
Mammalia
------------------------
------------------------
Myrmecophaga tridactyla
Mammalia
------------------------
------------------------
Hippotragus equinus
Mammalia
------------------------
------------------------
Hippotragus niger
Mammalia
------------------------
------------------------
Pteroglossus viridis
Aves
------------------------
------------------------
Argusianus argusï¿½
Aves
------------------------
------------------------
Tolypeutes matacas
Mammalia
------------------------
------------------------
Papio hamadryas
Mammalia
------------------------
------------------------
Rucervus duvaucelii
Mammalia
------------------------
------------------------
Trachyphonus erythrocephalus
Aves
------------------------
------------------------
Pteropus rodricensis
Mammalia
------------------------
------------------------
Eidolon helvum
Mammalia
------------------------
------------------------
Tremarctos ornatus
Mammalia
------------------------
------------------------
Ursus thibetanus
Mammalia
------------------------
------------------------
Ursus arctos
Mammalia
------------------------
------------------------
Ursus maritimus
Mammalia
------------------------
------------------------
Melursus ursinus
Mammalia
------------------------
------------------------
Helarctos malayanus
Mammalia
------------------------
------------------------
Bettongia penicillata
Mammalia
------------------------
------------------------
Arctictis binturong
Mammalia
------------------------
------------------------
Paradisaea raggiana
Aves
------------------------
------------------------
Irena puella
Aves
------------------------
------------------------
Chilabothrus subflavus
Reptilia
------------------------
------------------------
Lynx rufus
Mammalia
------------------------
------------------------
Tragelaphus eurycerus isaaci
Mammalia
------------------------
------------------------
Pan paniscus
Mammalia
------------------------
------------------------
Damaliscus pygargus pygarus
Mammalia
------------------------
------------------------
Syncerus caffer
Mammalia
------------------------
------------------------
Galago moholi
Mammalia
------------------------
------------------------
Lachesis muta
Reptilia
------------------------
------------------------
Lophotis gindiana
Aves
------------------------
------------------------
Turnix nigricollis
Aves
------------------------
------------------------
Callimico goeldii
Mammalia
------------------------
------------------------
Camelus bactrianus
Mammalia
------------------------
------------------------
Hydrochaeris hydrochaeris
Mammalia
------------------------
------------------------
Caracal caracal
Mammalia
------------------------
------------------------
Paroaria gularis
Aves
------------------------
------------------------
Paroaria coronata
Aves
------------------------
------------------------
Casuarius casuarius
Aves
------------------------
------------------------
Felis nigripes
Mammalia
------------------------
------------------------
Prionailurus viverrinus
Mammalia
------------------------
------------------------
Felis manul
Mammalia
------------------------
------------------------
Felis margarita
Mammalia
------------------------
------------------------
Cossypha niveicapilla
Aves
------------------------
------------------------
Acinonyx jubatus
Mammalia
------------------------
------------------------
Tragulus napu
Mammalia
------------------------
------------------------
Pan troglodytes
Mammalia
------------------------
------------------------
Nasua narica
Mammalia
------------------------
------------------------
Colobus angolensis
Mammalia
------------------------
------------------------
Colobus guereza
Mammalia
------------------------
------------------------
Vultur gryphus
Aves
------------------------
------------------------
Guarouba guarouba
Aves
------------------------
------------------------
Zapornia flavirostra
Aves
------------------------
------------------------
Balearica pavonina
Aves
------------------------
------------------------
Anthropoides paradisea
Aves
------------------------
------------------------
Anthropoides virgo
Aves
------------------------
------------------------
Balearica regulorum
Aves
------------------------
------------------------
Grus monacha
Aves
------------------------
------------------------
Grus japonensis
Aves
------------------------
------------------------
Grus vipio
Aves
------------------------
------------------------
Grus americana
Aves
------------------------
------------------------
Pauxi pauxi
Aves
------------------------
------------------------
Crax globulosa
Aves
------------------------
------------------------
Rucervus eldii thamin
Mammalia
------------------------
------------------------
Mazama temama
Mammalia
------------------------
------------------------
Elaphurus davidianus
Mammalia
------------------------

------------------------
Elaphodus cehalophus
Mammalia
------------------------
------------------------
Madoqua kirkii
Mammalia
------------------------
------------------------
Burhinus capensis
Aves
------------------------
------------------------
Lycaon pictus
Mammalia
------------------------
------------------------
Speothos venaticus
Mammalia
------------------------
------------------------
Gallicolumba criniger
Aves
------------------------
------------------------
Ptilinopus pulchellus
Aves
------------------------
------------------------
Ptilinopus melanospilus
Aves
------------------------
------------------------
Chalcophaps indica
Aves
------------------------
------------------------
Ptilinopus jambu
Aves
------------------------
------------------------
Gallicolumba luzonica
Aves
------------------------
------------------------
Ptilinopus roseicapilla
Aves
------------------------
------------------------
Varanus komodoensis
Reptilia
------------------------
------------------------
Dendrocygna guttata
Aves
------------------------
------------------------
Dendrocygna arborea
Aves
------------------------
------------------------
Asarcornis scutulata
Aves
------------------------
------------------------
Cephalopus niger
Mammalia
------------------------
------------------------
Philantomba monticola
Mammalia
------------------------
------------------------
Cephalophus silvicultor
Mammalia
------------------------
------------------------
Haliaeetus leucoephalus
Aves
------------------------
------------------------
Taurotragus oryx
Mammalia
------------------------
------------------------
Loxodonta africana
Mammalia
------------------------
------------------------
Elephas maximus
Mammalia
------------------------
------------------------
Polihierax semitorquatus
Aves
------------------------
------------------------
Phoenicopterus ruber
Aves
------------------------
------------------------
Phoenicopterus chilensis
Aves
------------------------
------------------------
Phoenicopterus ruber roseus
Aves
------------------------
------------------------
Phoeniconaias minor
Aves
------------------------
------------------------
Pteropus hypomelanus
Mammalia
------------------------
------------------------
Pteropus vampyrus
Mammalia
------------------------

,0,1,2,3
0,008851b16aa04124b3a9195676604f35,0,0,https://www.wikidata.org/wiki/Q7432
1,008851b16aa04124b3a9195676604f35,0,1,https://www.wikidata.org/wiki/Q2093287
2,008851b16aa04124b3a9195676604f35,0,2,https://www.wikidata.org/wiki/Q8261255
3,008851b16aa04124b3a9195676604f35,0,3,https://www.wikidata.org/wiki/Q2942992
4,008851b16aa04124b3a9195676604f35,0,4,https://www.wikidata.org/wiki/Q1105092
...,...,...,...,...
2004,e749786aff714981a5a7da3da0789128,1,95,"https://www.wikidata.org/wiki/Q317220,https://..."
2005,e749786aff714981a5a7da3da0789128,1,96,"https://www.wikidata.org/wiki/Q179863,https://..."
2006,e749786aff714981a5a7da3da0789128,1,97,"https://www.wikidata.org/wiki/Q242369,https://..."
2007,e749786aff714981a5a7da3da0789128,1,98,"https://www.wikidata.org/wiki/Q583116,https://..."
2008,e749786aff714981a5a7da3da0789128,1,99,"https://www.wikidata.org/wiki/Q649684,https://..."

### Special format: species:x_name sub:y_name

#### Table: d5542ea1fddf44c39d2bb70dc436ddf8

In [126]:
nan_values[nan_values["Table Name"] == "d5542ea1fddf44c39d2bb70dc436ddf8"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1841,d5542ea1fddf44c39d2bb70dc436ddf8,1,1,https://www.wikidata.org/wiki/Q1307515,NaN,species:Calypogeia sub:fissa
1842,d5542ea1fddf44c39d2bb70dc436ddf8,1,2,https://www.wikidata.org/wiki/Q17301436,NaN,species:Conocephallum sub:saleborosum
1843,d5542ea1fddf44c39d2bb70dc436ddf8,1,3,https://www.wikidata.org/wiki/Q15346862,NaN,species:Heteroscyphus sub:zollingeri
1844,d5542ea1fddf44c39d2bb70dc436ddf8,1,4,https://www.wikidata.org/wiki/Q17296595,NaN,species:Marchantia sub:emarginata
1845,d5542ea1fddf44c39d2bb70dc436ddf8,1,5,https://www.wikidata.org/wiki/Q15312587,NaN,species:Notoscyphus sub:lutescens
1846,d5542ea1fddf44c39d2bb70dc436ddf8,1,6,https://www.wikidata.org/wiki/Q15327455,NaN,species:Atrichum sub:subserratum
1847,d5542ea1fddf44c39d2bb70dc436ddf8,1,7,https://www.wikidata.org/wiki/Q1519347,NaN,species:Barbula sub:unguiculata
1848,d5542ea1fddf44c39d2bb70dc436ddf8,1,8,https://www.wikidata.org/wiki/Q1937687,NaN,species:Bryum sub:argenteum
1849,d5542ea1fddf44c39d2bb70dc436ddf8,1,9,https://www.wikidata.org/wiki/Q15323474,NaN,species:Campylopus sub:atrovirens
1850,d5542ea1fddf44c39d2bb70dc436ddf8,1,10,https://www.wikidata.org/wiki/Q310449,NaN,species:Dicranella sub:heteromalla
1851,d5542ea1fddf44c39d2bb70dc436ddf8,1,11,https://www.wikidata.org/wiki/Q15339929,NaN,species:Didymodon sub:constrictus
1852,d5542ea1fddf44c39d2bb70dc436ddf8,1,12,https://www.wikidata.org/wiki/Q15338757,NaN,species:Didymodon sub:ditrichoides
1853,d5542ea1fddf44c39d2bb70dc436ddf8,1,13,https://www.wikidata.org/wiki/Q11176619,NaN,species:Ditrichum sub:pallidum
1854,d5542ea1fddf44c39d2bb70dc436ddf8,1,15,https://www.wikidata.org/wiki/Q245867,NaN,species:Hypnum sub:cupressiforme
1855,d5542ea1fddf44c39d2bb70dc436ddf8,1,16,https://www.wikidata.org/wiki/Q15249252,NaN,species:Hypnum sub:macrogynum
1856,d5542ea1fddf44c39d2bb70dc436ddf8,1,17,https://www.wikidata.org/wiki/Q11063497,NaN,species:Leucobryum sub:juniperoideum
1857,d5542ea1fddf44c39d2bb70dc436ddf8,1,18,https://www.wikidata.org/wiki/Q17208308,NaN,species:Philonotis sub:marchica
1858,d5542ea1fddf44c39d2bb70dc436ddf8,1,19,https://www.wikidata.org/wiki/Q11108537,NaN,species:Philonotis sub:mollis
1859,d5542ea1fddf44c39d2bb70dc436ddf8,1,20,https://www.wikidata.org/wiki/Q15251128,NaN,species:Philonotis sub:roylei
1860,d5542ea1fddf44c39d2bb70dc436ddf8,1,21,https://www.wikidata.org/wiki/Q15250737,NaN,species:Plagiomnium sub:acutum
1861,d5542ea1fddf44c39d2bb70dc436ddf8,1,22,https://www.wikidata.org/wiki/Q15322955,NaN,species:Pogonatum sub:inflexum
1862,d5542ea1fddf44c39d2bb70dc436ddf8,1,23,https://www.wikidata.org/wiki/Q15248395,NaN,species:Thuidium sub:glaucinoides
1863,d5542ea1fddf44c39d2bb70dc436ddf8,1,24,https://www.wikidata.org/wiki/Q10958230,NaN,species:Trachycystis sub:microphylla
1864,d5542ea1fddf44c39d2bb70dc436ddf8,1,25,https://www.wikidata.org/wiki/Q2452682,NaN,species:Trichostomum sub:crispulum

In [83]:
dfs["d5542ea1fddf44c39d2bb70dc436ddf8.csv"]

,Family,Species,Sub,Author
0,Calypogeiaceae,species:Calypogeia sub:fissa,fissa,(L.) Raddi
1,Conocephalaceae,species:Conocephallum sub:saleborosum,salebrosum,"Szweyk., Buczk. et Odrzyk."
2,Lophocoleaceae,species:Heteroscyphus sub:zollingeri,zollingeri,(Gottsche) Schiffn.
3,Marchantiaceae,species:Marchantia sub:emarginata,emarginata,"Reinw., Blume et Nees"
4,Acrobolbaceae,species:Notoscyphus sub:lutescens,lutescens,(Lehm. et Lindenb.) Mitt.
5,Polytrichaceae,species:Atrichum sub:subserratum,subserratum,(Harv. et Hook. f.) Mitt.
6,Pottiaceae,species:Barbula sub:unguiculata,unguiculata,Hedw.
7,Bryaceae,species:Bryum sub:argenteum,argenteum,Hedw.
8,Leucobryaceae,species:Campylopus sub:atrovirens,atrovirens,De Not.
9,Dicranellaceae,species:Dicranella sub:heteromalla,heteromalla,(Hedw.) Schimp.
10,Pottiaceae,species:Didymodon sub:constrictus,constrictus,(Mitt.) K. Saito
11,Pottiaceae,species:Didymodon sub:ditrichoides,ditrichoides,(Broth.) X.J. Li et S. He
12,Ditrichaceae,species:Ditrichum sub:pallidum,pallidum,(Hedw.) Hampe
13,Entodontaceae,species:Entodon sub:spec.,spec.,sterile
14,Hypnaceae,species:Hypnum sub:cupressiforme,cupressiforme,Hedw.
15,Hypnaceae,species:Hypnum sub:macrogynum,macrogynum,Besch.
16,Leucobryaceae,species:Leucobryum sub:juniperoideum,juniperoideum,(Brid.) MÃ¼ll. Hal.
17,Bartramiaceae,species:Philonotis sub:marchica,marchica,(Hedw.) Brid.
18,Bartramiaceae,species:Philonotis sub:mollis,mollis,(Dozy et Molk.) Mitt.
19,Bartramiaceae,species:Philonotis sub:roylei,roylei,(Hook. f.) Mitt.
20,Mniaceae,species:Plagiomnium sub:acutum,acutum,(Lindb.) T.J. Kop.
21,Polytrichaceae,species:Pogonatum sub:inflexum,inflexum,(Lindb.) Sande Lac.
22,Thuidiaceae,species:Thuidium sub:glaucinoides,glaucinoides,Broth.
23,Mniaceae,species:Trachycystis sub:microphylla,microphylla,(Dozy et Molk.) Lindb.
24,Pottiaceae,species:Trichostomum sub:crispulum,crispulum,Bruch

In [127]:
nan_values[nan_values["Table Name"] == "d5542ea1fddf44c39d2bb70dc436ddf8"].shape

(24, 6)

The term "species:Calypogeia sub:fissa" appears to be a taxonomic classification or naming convention used in biology to categorize a particular organism. Let me break it down for you:

"Species": This part of the term indicates that you are referring to a specific species of organism. In biological classification, a species is the most basic unit, and it typically consists of individuals that can interbreed and produce fertile offspring.

"Calypogeia": This is the genus name. In the hierarchical system of biological classification, the genus is a higher-level grouping that includes one or more species that are closely related to each other. Multiple species can belong to the same genus.

"sub": This is short for "subspecies." A subspecies is a further subdivision of a species. Subspecies are populations of a species that may have distinct characteristics or geographic variations but can still interbreed with other populations of the same species.

"fissa": This appears to be the specific name or epithet for the subspecies. In biological nomenclature, this is the second part of the species name and is used to differentiate one subspecies from another within the same species.

So, "Calypogeia sub:fissa" likely represents a subspecies within the genus Calypogeia. Without more information, it's challenging to provide specific details about this particular subspecies or its characteristics. It would be necessary to consult a scientific database or reference for more information on Calypogeia sub:fissa, such as its distribution, characteristics, and any unique features that distinguish it from other subspecies within the same species.

Number of cells: 24

##### Try Imputing

In [108]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

import re

def extract_species_and_sub(input_string):
    # Define regular expressions to match "species" and "sub" followed by text
    species_pattern = r'species:(\w+)'
    sub_pattern = r'sub:(\w+)'

    # Use re.search to find matches in the input_string
    species_match = re.search(species_pattern, input_string)
    sub_match = re.search(sub_pattern, input_string)

    # Initialize variables to store the extracted values
    species = None
    sub = None

    # Check if "species" was found and extract the value
    if species_match:
        species = species_match.group(1)

    # Check if "sub" was found and extract the value
    if sub_match:
        sub = sub_match.group(1)

    return species, sub

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "d5542ea1fddf44c39d2bb70dc436ddf8" and column_index == 1):
            species, sub = extract_species_and_sub(cell_value)
            new_cell_value = species + " " + sub
            print("------------------------")
            print(new_cell_value)
            print("------------------------")
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": new_cell_value
            }
            
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()
            
            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            
            return ""
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "d5542ea1fddf44c39d2bb70dc436ddf8")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
Calypogeia fissa
------------------------
------------------------
Conocephallum saleborosum
------------------------
------------------------
Heteroscyphus zollingeri
------------------------
------------------------
Marchantia emarginata
------------------------
------------------------
Notoscyphus lutescens
------------------------
------------------------
Atrichum subserratum
------------------------
------------------------
Barbula unguiculata
------------------------
------------------------
Bryum argenteum
------------------------
------------------------
Campylopus atrovirens
------------------------
------------------------
Dicranella heteromalla
------------------------
------------------------
Didymodon constrictus
------------------------
------------------------
Didymodon ditrichoides
------------------------
------------------------
Ditrichum pallidum
------------------------
------------------------
Hypnum cupressiforme
------------------------
------------------------
Hypnum macrogynum
------------------------
------------------------
Leucobryum juniperoideum
------------------------
------------------------
Philonotis marchica
------------------------
------------------------
Philonotis mollis
------------------------
------------------------
Philonotis roylei
------------------------
------------------------
Plagiomnium acutum
------------------------
------------------------
Pogonatum inflexum
------------------------
------------------------
Thuidium glaucinoides
------------------------
------------------------
Trachycystis microphylla
------------------------
------------------------
Trichostomum crispulum
------------------------

,0,1,2,3
1824,d5542ea1fddf44c39d2bb70dc436ddf8,0,0,https://www.wikidata.org/wiki/Q8436
1825,d5542ea1fddf44c39d2bb70dc436ddf8,0,1,https://www.wikidata.org/wiki/Q1027838
1826,d5542ea1fddf44c39d2bb70dc436ddf8,0,2,https://www.wikidata.org/wiki/Q17118357
1827,d5542ea1fddf44c39d2bb70dc436ddf8,0,3,https://www.wikidata.org/wiki/Q17276674
1828,d5542ea1fddf44c39d2bb70dc436ddf8,0,4,https://www.wikidata.org/wiki/Q138798
1829,d5542ea1fddf44c39d2bb70dc436ddf8,0,5,https://www.wikidata.org/wiki/Q4675300
1830,d5542ea1fddf44c39d2bb70dc436ddf8,0,6,https://www.wikidata.org/wiki/Q133627
1831,d5542ea1fddf44c39d2bb70dc436ddf8,0,7,https://www.wikidata.org/wiki/Q150302
1832,d5542ea1fddf44c39d2bb70dc436ddf8,0,8,https://www.wikidata.org/wiki/Q140324
1833,d5542ea1fddf44c39d2bb70dc436ddf8,0,9,https://www.wikidata.org/wiki/Q655047
1834,d5542ea1fddf44c39d2bb70dc436ddf8,0,10,https://www.wikidata.org/wiki/Q1210284
1835,d5542ea1fddf44c39d2bb70dc436ddf8,0,13,https://www.wikidata.org/wiki/Q1230319
1836,d5542ea1fddf44c39d2bb70dc436ddf8,0,14,https://www.wikidata.org/wiki/Q1309246
1837,d5542ea1fddf44c39d2bb70dc436ddf8,0,15,https://www.wikidata.org/wiki/Q146237
1838,d5542ea1fddf44c39d2bb70dc436ddf8,0,18,https://www.wikidata.org/wiki/Q640977
1839,d5542ea1fddf44c39d2bb70dc436ddf8,0,21,https://www.wikidata.org/wiki/Q446766
1840,d5542ea1fddf44c39d2bb70dc436ddf8,0,23,https://www.wikidata.org/wiki/Q150292
1841,d5542ea1fddf44c39d2bb70dc436ddf8,1,1,https://www.wikidata.org/wiki/Q1307515
1842,d5542ea1fddf44c39d2bb70dc436ddf8,1,2,
1843,d5542ea1fddf44c39d2bb70dc436ddf8,1,3,https://www.wikidata.org/wiki/Q15346862
1844,d5542ea1fddf44c39d2bb70dc436ddf8,1,4,https://www.wikidata.org/wiki/Q17296595
1845,d5542ea1fddf44c39d2bb70dc436ddf8,1,5,https://www.wikidata.org/wiki/Q15312587
1846,d5542ea1fddf44c39d2bb70dc436ddf8,1,6,https://www.wikidata.org/wiki/Q15327455
1847,d5542ea1fddf44c39d2bb70dc436ddf8,1,7,https://www.wikidata.org/wiki/Q1519347
1848,d5542ea1fddf44c39d2bb70dc436ddf8,1,8,https://www.wikidata.org/wiki/Q1937687
1849,d5542ea1fddf44c39d2bb70dc436ddf8,1,9,https://www.wikidata.org/wiki/Q15323474
1850,d5542ea1fddf44c39d2bb70dc436ddf8,1,10,https://www.wikidata.org/wiki/Q310449
1851,d5542ea1fddf44c39d2bb70dc436ddf8,1,11,https://www.wikidata.org/wiki/Q15339929
1852,d5542ea1fddf44c39d2bb70dc436ddf8,1,12,https://www.wikidata.org/wiki/Q15338757
1853,d5542ea1fddf44c39d2bb70dc436ddf8,1,13,https://www.wikidata.org/wiki/Q11176619
1854,d5542ea1fddf44c39d2bb70dc436ddf8,1,15,https://www.wikidata.org/wiki/Q245867
1855,d5542ea1fddf44c39d2bb70dc436ddf8,1,16,https://www.wikidata.org/wiki/Q15249252
1856,d5542ea1fddf44c39d2bb70dc436ddf8,1,17,https://www.wikidata.org/wiki/Q11063497
1857,d5542ea1fddf44c39d2bb70dc436ddf8,1,18,https://www.wikidata.org/wiki/Q17208308
1858,d5542ea1fddf44c39d2bb70dc436ddf8,1,19,https://www.wikidata.org/wiki/Q11108537
1859,d5542ea1fddf44c39d2bb70dc436ddf8,1,20,https://www.wikidata.org/wiki/Q15251128
1860,d5542ea1fddf44c39d2bb70dc436ddf8,1,21,https://www.wikidata.org/wiki/Q15250737
1861,d5542ea1fddf44c39d2bb70dc436ddf8,1,22,https://www.wikidata.org/wiki/Q15322955
1862,d5542ea1fddf44c39d2bb70dc436ddf8,1,23,https://www.wikidata.org/wiki/Q15248395
1863,d5542ea1fddf44c39d2bb70dc436ddf8,1,24,https://www.wikidata.org/wiki/Q10958230
1864,d5542ea1fddf44c39d2bb70dc436ddf8,1,25,https://www.wikidata.org/wiki/Q2452682

### Pattern: Last Name, First Name

#### Table: 5f50cabcafd1482e98d9dc446d735f5e

In [128]:
dfs["5f50cabcafd1482e98d9dc446d735f5e.csv"]

,species_common_name,scientific_name,taxonclass,overall_sample_size,overall_mle,overall_ci_lower,overall_ci_upper,male_sample_size,male_mle,male_ci_lower,male_ci_upper,female_sample_size,female_mle,female_ci_lower,female_ci_upper,male_data_deficient,female_data_deficient
0,Addax,Addax nasomaculatus,Mammalia,1215,13.4,12.4,14.5,558.0,12.3,10.5,14.7,656.0,14.4,13.0,15.1,NaN,NaN
1,"Agouti, Brazilian",Dasyprocta leporina,Mammalia,456,8.1,7.2,9.3,216.0,8.8,6.9,10.3,220.0,7.8,6.8,8.6,NaN,NaN
2,"Alligator, Chinese",Alligator sinensis,Reptilia,351,30.9,25.9,34.3,151.0,25.9,23.9,52.1,176.0,32.8,25.9,46.0,yes,yes
3,"Anoa, Lowland",Bubalus depressicornis,Mammalia,256,17.7,15.3,21.2,113.0,16.3,14.7,21.3,139.0,18.8,15.2,21.5,yes,yes
4,"Anteater, Giant",Myrmecophaga tridactyla,Mammalia,177,19.7,17.1,21.5,86.0,19.4,17.1,21.5,90.0,19.7,16.2,22.0,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,"Flamingo, Chilean",Phoenicopterus chilensis,Aves,3406,27.8,26.3,29.6,1299.0,30.0,27.4,32.8,1330.0,26.6,24.4,28.3,NaN,NaN
95,"Flamingo, Greater",Phoenicopterus ruber roseus,Aves,799,34.9,33.9,37.1,355.0,37.0,36.8,NaN,409.0,34.2,30.8,37.1,yes,NaN
96,"Flamingo, Lesser",Phoeniconaias minor,Aves,1249,16.3,14.9,18.4,676.0,19.9,16.3,23.8,312.0,12.5,10.5,15.0,NaN,NaN
97,"Flying Fox, Island",Pteropus hypomelanus,Mammalia,146,22.6,20.2,24.7,62.0,18.6,12.1,12.1,84.0,25.4,23.3,NaN,yes,yes
98,"Flying Fox, Large",Pteropus vampyrus,Mammalia,217,17.1,15.7,18.1,102.0,17.0,16.2,18.1,114.0,17.1,14.9,19.9,yes,yes

In [87]:
nan_values[nan_values["Cell Value"] == "Dove, Jambu Fruit"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1332,5f50cabcafd1482e98d9dc446d735f5e,0,79,https://www.wikidata.org/wiki/Q586480,NaN,"Dove, Jambu Fruit"

In [129]:
nan_values[nan_values["Table Name"] == "5f50cabcafd1482e98d9dc446d735f5e"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1171,5f50cabcafd1482e98d9dc446d735f5e,1,9,https://www.wikidata.org/wiki/Q652266,NaN,Argusianus argusï¿½
1258,5f50cabcafd1482e98d9dc446d735f5e,0,2,https://www.wikidata.org/wiki/Q775170,NaN,"Agouti, Brazilian"
1259,5f50cabcafd1482e98d9dc446d735f5e,0,3,https://www.wikidata.org/wiki/Q194422,NaN,"Alligator, Chinese"
1260,5f50cabcafd1482e98d9dc446d735f5e,0,4,https://www.wikidata.org/wiki/Q317393,NaN,"Anoa, Lowland"
1261,5f50cabcafd1482e98d9dc446d735f5e,0,5,https://www.wikidata.org/wiki/Q203033,NaN,"Anteater, Giant"
...,...,...,...,...,...,...
1346,5f50cabcafd1482e98d9dc446d735f5e,0,95,https://www.wikidata.org/wiki/Q317220,NaN,"Flamingo, Chilean"
1347,5f50cabcafd1482e98d9dc446d735f5e,0,96,https://www.wikidata.org/wiki/Q179863,NaN,"Flamingo, Greater"
1348,5f50cabcafd1482e98d9dc446d735f5e,0,97,https://www.wikidata.org/wiki/Q242369,NaN,"Flamingo, Lesser"
1349,5f50cabcafd1482e98d9dc446d735f5e,0,98,https://www.wikidata.org/wiki/Q583116,NaN,"Flying Fox, Island"
1350,5f50cabcafd1482e98d9dc446d735f5e,0,99,https://www.wikidata.org/wiki/Q649684,NaN,"Flying Fox, Large"

In [130]:
nan_values[nan_values["Table Name"] == "5f50cabcafd1482e98d9dc446d735f5e"].shape

(85, 6)

The "last_name, first_name" format appears to be a reversed and unconventional way of presenting the common name, and it is not a standard practice in biological taxonomy. It may be used informally or for specific purposes, but it does not follow the established conventions for naming species in the scientific community.

Column: species_common_name

Number of cells: 84

##### Try Imputing

In [116]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

import re

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "5f50cabcafd1482e98d9dc446d735f5e" and column_index == 0 and "," in cell_value):
            values = cell_value.split(",")
            new_cell_value = values[1].strip() + " " + values[0].strip()
            print("------------------------")
            print(new_cell_value)
            print("------------------------")
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": new_cell_value
            }
            
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()
            
            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            
            return ""
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "5f50cabcafd1482e98d9dc446d735f5e")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
Brazilian Agouti
------------------------
------------------------
Chinese Alligator
------------------------
------------------------
Lowland Anoa
------------------------
------------------------
Giant Anteater
------------------------
------------------------
Roan Antelope
------------------------
------------------------
Sable Antelope
------------------------
------------------------
Green Aracari
------------------------
------------------------
Great Argus
------------------------
------------------------
Hamadryas Baboon
------------------------
------------------------
Red and Yellow Barbet
------------------------
------------------------
Rodrigues Fruit Bat
------------------------
------------------------
Straw-Colored Fruit Bat
------------------------
------------------------
Andean Spectacled Bear
------------------------
------------------------
Asiatic Black Bear
------------------------
------------------------
Brown Bear
------------------------
------------------------
Polar Bear
------------------------
------------------------
Sloth Bear
------------------------
------------------------
Sun Bear
------------------------
------------------------
Brush-tailed Bettong
------------------------
------------------------
Raggiana Bird-of-paradise
------------------------
------------------------
Fairy Bluebird
------------------------
------------------------
Jamaican Boa
------------------------
------------------------
Eastern Bongo
------------------------
------------------------
African Savannah Buffalo
------------------------
------------------------
Moholi Bushbaby
------------------------
------------------------
South American Bushmaster
------------------------
------------------------
Buff-crested Bustard
------------------------
------------------------
Madagascar Buttonquail
------------------------
------------------------
Bactrian Camel
------------------------
------------------------
Red-capped Cardinal
------------------------
------------------------
Red-crested Cardinal
------------------------
------------------------
Southern (Double-wattled) Cassowary
------------------------
------------------------
Black-footed Cat
------------------------
------------------------
Fishing Cat
------------------------
------------------------
Pallas' Cat
------------------------
------------------------
Sand Cat
------------------------
------------------------
Snowy-Headed Robin Chat
------------------------
------------------------
Greater Malayan Chevrotain
------------------------
------------------------
White-Nosed Coati
------------------------
------------------------
Angolan Colobus
------------------------
------------------------
Guereza Colobus
------------------------
------------------------
Andean Condor
------------------------
------------------------
Golden Conure
------------------------
------------------------
Black Crake
------------------------
------------------------
Black-crowned Crane
------------------------
------------------------
Blue Crane
------------------------
------------------------
Demoiselle Crane
------------------------
------------------------
Grey-crowned Crane
------------------------
------------------------
Hooded Crane
------------------------
------------------------
Red-crowned Crane
------------------------
------------------------
White-naped Crane
------------------------
------------------------
Whooping Crane
------------------------
------------------------
Helmeted Curassow
------------------------
------------------------
Wattled Curassow
------------------------
------------------------
Eld's Deer
------------------------
------------------------
Mexican Red Brocket Deer
------------------------
------------------------
Pï¿½re Davidï¿½s Deer
------------------------
------------------------
Kirk's Dik-dik
------------------------
------------------------
Spotted Dikkop
------------------------
------------------------
African Painted Dog
------------------------
------------------------
Bush Dog
------------------------
------------------------
Bartlett's Bleeding Heart Dove
------------------------
------------------------
Beautiful Fruit Dove
------------------------
------------------------
Black-naped Fruit Dove
------------------------
------------------------
Grey-capped Emerald Dove
------------------------
------------------------
Jambu Fruit Dove
------------------------
------------------------
Luzon Bleeding Heart Dove
------------------------
------------------------
Mariana Fruit Dove
------------------------
------------------------
Komodo Dragon
------------------------
------------------------
Spotted Whistling Duck
------------------------
------------------------
West Indian Whistling Duck
------------------------
------------------------
White-winged Wood Duck
------------------------
------------------------
Blue Duiker
------------------------
------------------------
Yellow-backed Duiker
------------------------
------------------------
Common Eland
------------------------
------------------------
African Elephant
------------------------
------------------------
Asian Elephant
------------------------
------------------------
African Pygmy Falcon
------------------------
------------------------
Caribbean Flamingo
------------------------
------------------------
Chilean Flamingo
------------------------
------------------------
Greater Flamingo
------------------------
------------------------
Lesser Flamingo
------------------------
------------------------
Island Flying Fox
------------------------
------------------------
Large Flying Fox
------------------------

,0,1,2,3
1162,5f50cabcafd1482e98d9dc446d735f5e,1,0,https://www.wikidata.org/wiki/Q10753560
1163,5f50cabcafd1482e98d9dc446d735f5e,1,1,https://www.wikidata.org/wiki/Q190154
1164,5f50cabcafd1482e98d9dc446d735f5e,1,2,https://www.wikidata.org/wiki/Q775170
1165,5f50cabcafd1482e98d9dc446d735f5e,1,3,https://www.wikidata.org/wiki/Q194422
1166,5f50cabcafd1482e98d9dc446d735f5e,1,4,https://www.wikidata.org/wiki/Q317393
...,...,...,...,...
1346,5f50cabcafd1482e98d9dc446d735f5e,0,95,https://www.wikidata.org/wiki/Q317220
1347,5f50cabcafd1482e98d9dc446d735f5e,0,96,https://www.wikidata.org/wiki/Q208004
1348,5f50cabcafd1482e98d9dc446d735f5e,0,97,https://www.wikidata.org/wiki/Q242369
1349,5f50cabcafd1482e98d9dc446d735f5e,0,98,
1350,5f50cabcafd1482e98d9dc446d735f5e,0,99,https://www.wikidata.org/wiki/Q649684

### Complex Name Extraction
Sr_Strontium_Gr_GEMAS_AquaRegia ==> Stronium

Table: b02af14b8cf34c43bac84325d6f1e912

In [131]:
dfs["b02af14b8cf34c43bac84325d6f1e912.csv"]

,id,name,parentlayerid,defaultvisibility,sublayerids,minscale,maxscale
0,0,Aqua regia for Agricultural Land_Ap Samples,-1,True,"[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,...",False,False
1,1,Ag_Silver_Ap_AquaRegia,0,True,NaN,False,False
2,2,Al_Alluminium_Ap_AquaRegia,0,False,NaN,False,False
3,3,As_Arsenic_Ap_AquaRegia,0,False,NaN,False,False
4,4,Au_Gold_Ap_AquaRegia,0,False,NaN,False,False
...,...,...,...,...,...,...,...
94,94,Se_Selenium_Gr_GEMAS_AquaRegia,54,False,NaN,False,False
95,95,Sr_Strontium_Gr_GEMAS_AquaRegia,54,False,NaN,False,False
96,96,Ta_Tantalum_Gr_GEMAS_AquaRegia,54,False,NaN,False,False
97,97,Sn_Tin_Gr_AquaRegia mg/kg,54,False,NaN,False,False
98,98,Te_Tellurium_Gr_AquaRegia mg/kg,54,False,NaN,False,False

In [132]:
nan_values[nan_values["Table Name"] == "b02af14b8cf34c43bac84325d6f1e912"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1557,b02af14b8cf34c43bac84325d6f1e912,1,2,https://www.wikidata.org/wiki/Q1090,NaN,Ag_Silver_Ap_AquaRegia
1558,b02af14b8cf34c43bac84325d6f1e912,1,3,https://www.wikidata.org/wiki/Q663,NaN,Al_Alluminium_Ap_AquaRegia
1559,b02af14b8cf34c43bac84325d6f1e912,1,4,https://www.wikidata.org/wiki/Q871,NaN,As_Arsenic_Ap_AquaRegia
1560,b02af14b8cf34c43bac84325d6f1e912,1,5,https://www.wikidata.org/wiki/Q897,NaN,Au_Gold_Ap_AquaRegia
1561,b02af14b8cf34c43bac84325d6f1e912,1,6,https://www.wikidata.org/wiki/Q618,NaN,B_Boron_Ap_AquaRegia
...,...,...,...,...,...,...
1652,b02af14b8cf34c43bac84325d6f1e912,1,98,https://www.wikidata.org/wiki/Q1096,NaN,Sn_Tin_Gr_AquaRegia mg/kg
1653,b02af14b8cf34c43bac84325d6f1e912,1,99,https://www.wikidata.org/wiki/Q1100,NaN,Te_Tellurium_Gr_AquaRegia mg/kg
1654,b02af14b8cf34c43bac84325d6f1e912,3,0,https://www.wikidata.org/wiki/Q30301666,NaN,defaultvisibility
1655,b02af14b8cf34c43bac84325d6f1e912,5,0,https://www.wikidata.org/wiki/Q10858537,NaN,minscale
1656,b02af14b8cf34c43bac84325d6f1e912,6,0,https://www.wikidata.org/wiki/Q10858537,NaN,maxscale

In [133]:
nan_values[(nan_values["Table Name"] == "b02af14b8cf34c43bac84325d6f1e912") & (nan_values["Column Index"] == 1)].shape

(97, 6)

The term "Se_Selenium_Gr_GEMAS_AquaRegia" appears to be a unique identifier or label that combines the element selenium, some form of identification ("Gr"), and a reference to the GEMAS project, possibly indicating a specific context or data point related to selenium analysis in soils using aqua regia as a solvent. The exact meaning would depend on the specific database or system in which it is used.


The term "Ag_Silver_Ap_AquaRegia" appears to be a unique identifier or label that combines the element silver, an unidentified identifier ("Ap"), and a reference to the use of aqua regia, possibly indicating a specific context or data point related to silver analysis or processing using aqua regia. The exact meaning would depend on the specific database or system in which it is used, and the significance of "Ap" would require additional context to determine.

Column: name 

Number of cells: 97

##### Try Imputing

In [118]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

import re

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "b02af14b8cf34c43bac84325d6f1e912" and column_index == 1 and "_" in cell_value):
            values = cell_value.split("_")
            new_cell_value = values[1]
            print("------------------------")
            print(new_cell_value)
            print("------------------------")
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": new_cell_value
            }
            
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()
            
            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            
            return ""
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "b02af14b8cf34c43bac84325d6f1e912")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
Silver
------------------------
------------------------
Alluminium
------------------------
------------------------
Arsenic
------------------------
------------------------
Gold
------------------------
------------------------
Boron
------------------------
------------------------
Barium
------------------------
------------------------
Bismuth
------------------------
------------------------
Beryllium
------------------------
------------------------
Calcium
------------------------
------------------------
Cadmium
------------------------
------------------------
Cerium
------------------------
------------------------
Cobalt
------------------------
------------------------
Chromium
------------------------
------------------------
Caesium
------------------------
------------------------
Copper
------------------------
------------------------
Iron
------------------------
------------------------
Gallium
------------------------
------------------------
Germanium
------------------------
------------------------
Hafnium
------------------------
------------------------
Mercury
------------------------
------------------------
Indium
------------------------
------------------------
Potassium
------------------------
------------------------
Lanthanum
------------------------
------------------------
Lithium
------------------------
------------------------
Magnesium
------------------------
------------------------
Manganese
------------------------
------------------------
Molybdenum
------------------------
------------------------
Sodium
------------------------
------------------------
Niobium
------------------------
------------------------
Nickel
------------------------
------------------------
Phosphorus
------------------------
------------------------
Lead
------------------------
------------------------
Palladium
------------------------
------------------------
Platinum
------------------------
------------------------
Rubidium
------------------------
------------------------
Rhenium
------------------------
------------------------
Sulphur
------------------------
------------------------
Antimony
------------------------
------------------------
Scandium
------------------------
------------------------
Selenium
------------------------
------------------------
Tin
------------------------
------------------------
Strontium
------------------------
------------------------
Tantalum
------------------------
------------------------
Tellurium
------------------------
------------------------
Thorium
------------------------
------------------------
Titanium
------------------------
------------------------
Thallium
------------------------
------------------------
Uranium
------------------------
------------------------
Vanadium
------------------------
------------------------
Tungsten
------------------------
------------------------
Yttrium
------------------------
------------------------
Zinc
------------------------
------------------------
Zirconium
------------------------
------------------------
Silver
------------------------
------------------------
Alluminium
------------------------
------------------------
Arsenic
------------------------
------------------------
Gold
------------------------
------------------------
Boron
------------------------
------------------------
Barium
------------------------
------------------------
Berillium
------------------------
------------------------
Bismuth
------------------------
------------------------
Calcium
------------------------
------------------------
Cadmium
------------------------
------------------------
Cerium
------------------------
------------------------
Cobalt
------------------------
------------------------
Chromium
------------------------
------------------------
Caesium
------------------------
------------------------
Copper
------------------------
------------------------
Iron
------------------------
------------------------
Gallium
------------------------
------------------------
Germanium
------------------------
------------------------
Hafnium
------------------------
------------------------
Mercury
------------------------
------------------------
Indium
------------------------
------------------------
Potassium
------------------------
------------------------
Lanthanum
------------------------
------------------------
Lithium
------------------------
------------------------
Magnesium
------------------------
------------------------
Manganese
------------------------
------------------------
Molybdenum
------------------------
------------------------
Sodium
------------------------
------------------------
Niobium
------------------------
------------------------
Nickel
------------------------
------------------------
Potassium
------------------------
------------------------
Lead
------------------------
------------------------
Palladium
------------------------
------------------------
Platinum
------------------------
------------------------
Rubidium
------------------------
------------------------
Rhenium
------------------------
------------------------
Sulphur
------------------------
------------------------
Antimony
------------------------
------------------------
Scandium
------------------------
------------------------
Selenium
------------------------
------------------------
Strontium
------------------------
------------------------
Tantalum
------------------------
------------------------
Tin
------------------------
------------------------
Tellurium
------------------------

,0,1,2,3
1557,b02af14b8cf34c43bac84325d6f1e912,1,2,https://www.wikidata.org/wiki/Q1090
1558,b02af14b8cf34c43bac84325d6f1e912,1,3,
1559,b02af14b8cf34c43bac84325d6f1e912,1,4,https://www.wikidata.org/wiki/Q871
1560,b02af14b8cf34c43bac84325d6f1e912,1,5,https://www.wikidata.org/wiki/Q897
1561,b02af14b8cf34c43bac84325d6f1e912,1,6,https://www.wikidata.org/wiki/Q618
...,...,...,...,...
1652,b02af14b8cf34c43bac84325d6f1e912,1,98,https://www.wikidata.org/wiki/Q1096
1653,b02af14b8cf34c43bac84325d6f1e912,1,99,https://www.wikidata.org/wiki/Q1100
1654,b02af14b8cf34c43bac84325d6f1e912,3,0,
1655,b02af14b8cf34c43bac84325d6f1e912,5,0,
1656,b02af14b8cf34c43bac84325d6f1e912,6,0,

### More Complex Nested Entities: 
Dove, Black-naped Fruit,Ptilinopus melanospilus » ==> « Black-naped Fruit Dove

In [92]:
dfs["5a71350927ed44ca979498a5b7719a68.csv"]

,species,taxonclass,overall_sample_size,overall_mle,overall_ci_lower,overall_ci_upper,male_sample_size,male_mle,male_ci_lower,male_ci_upper,female_sample_size,female_mle,female_ci_lower,female_ci_upper,male_data_deficient,female_data_deficient
0,"Addax,Addax nasomaculatus",Mammalia,1215,13.4,12.4,14.5,558.0,12.3,10.5,14.7,656.0,14.4,13.0,15.1,NaN,NaN
1,"Agouti, Brazilian,Dasyprocta leporina",Mammalia,456,8.1,7.2,9.3,216.0,8.8,6.9,10.3,220.0,7.8,6.8,8.6,NaN,NaN
2,"Alligator, Chinese,Alligator sinensis",Reptilia,351,30.9,25.9,34.3,151.0,25.9,23.9,52.1,176.0,32.8,25.9,46.0,yes,yes
3,"Anoa, Lowland,Bubalus depressicornis",Mammalia,256,17.7,15.3,21.2,113.0,16.3,14.7,21.3,139.0,18.8,15.2,21.5,yes,yes
4,"Anteater, Giant,Myrmecophaga tridactyla",Mammalia,177,19.7,17.1,21.5,86.0,19.4,17.1,21.5,90.0,19.7,16.2,22.0,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,"Flamingo, Chilean,Phoenicopterus chilensis",Aves,3406,27.8,26.3,29.6,1299.0,30.0,27.4,32.8,1330.0,26.6,24.4,28.3,NaN,NaN
95,"Flamingo, Greater,Phoenicopterus ruber roseus",Aves,799,34.9,33.9,37.1,355.0,37.0,36.8,NaN,409.0,34.2,30.8,37.1,yes,NaN
96,"Flamingo, Lesser,Phoeniconaias minor",Aves,1249,16.3,14.9,18.4,676.0,19.9,16.3,23.8,312.0,12.5,10.5,15.0,NaN,NaN
97,"Flying Fox, Island,Pteropus hypomelanus",Mammalia,146,22.6,20.2,24.7,62.0,18.6,12.1,12.1,84.0,25.4,23.3,NaN,yes,yes
98,"Flying Fox, Large,Pteropus vampyrus",Mammalia,217,17.1,15.7,18.1,102.0,17.0,16.2,18.1,114.0,17.1,14.9,19.9,yes,yes

In [119]:
nan_values[nan_values["Table Name"] == "5a71350927ed44ca979498a5b7719a68"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1055,5a71350927ed44ca979498a5b7719a68,0,1,https://www.wikidata.org/wiki/Q190154,NaN,"Addax,Addax nasomaculatus"
1056,5a71350927ed44ca979498a5b7719a68,0,2,https://www.wikidata.org/wiki/Q775170,NaN,"Agouti, Brazilian,Dasyprocta leporina"
1057,5a71350927ed44ca979498a5b7719a68,0,3,https://www.wikidata.org/wiki/Q194422,NaN,"Alligator, Chinese,Alligator sinensis"
1058,5a71350927ed44ca979498a5b7719a68,0,4,https://www.wikidata.org/wiki/Q317393,NaN,"Anoa, Lowland,Bubalus depressicornis"
1059,5a71350927ed44ca979498a5b7719a68,0,5,https://www.wikidata.org/wiki/Q203033,NaN,"Anteater, Giant,Myrmecophaga tridactyla"
...,...,...,...,...,...,...
1157,5a71350927ed44ca979498a5b7719a68,8,0,https://www.wikidata.org/wiki/Q208498,NaN,male_ci_lower
1158,5a71350927ed44ca979498a5b7719a68,9,0,https://www.wikidata.org/wiki/Q208498,NaN,male_ci_upper
1159,5a71350927ed44ca979498a5b7719a68,10,0,https://www.wikidata.org/wiki/Q70443487,NaN,female_sample_size
1160,5a71350927ed44ca979498a5b7719a68,12,0,https://www.wikidata.org/wiki/Q208498,NaN,female_ci_lower
1161,5a71350927ed44ca979498a5b7719a68,13,0,https://www.wikidata.org/wiki/Q208498,NaN,female_ci_upper

In [122]:
nan_values[(nan_values["Table Name"] == "5a71350927ed44ca979498a5b7719a68") & (nan_values["Column Index"] == 0)]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1055,5a71350927ed44ca979498a5b7719a68,0,1,https://www.wikidata.org/wiki/Q190154,NaN,"Addax,Addax nasomaculatus"
1056,5a71350927ed44ca979498a5b7719a68,0,2,https://www.wikidata.org/wiki/Q775170,NaN,"Agouti, Brazilian,Dasyprocta leporina"
1057,5a71350927ed44ca979498a5b7719a68,0,3,https://www.wikidata.org/wiki/Q194422,NaN,"Alligator, Chinese,Alligator sinensis"
1058,5a71350927ed44ca979498a5b7719a68,0,4,https://www.wikidata.org/wiki/Q317393,NaN,"Anoa, Lowland,Bubalus depressicornis"
1059,5a71350927ed44ca979498a5b7719a68,0,5,https://www.wikidata.org/wiki/Q203033,NaN,"Anteater, Giant,Myrmecophaga tridactyla"
...,...,...,...,...,...,...
1144,5a71350927ed44ca979498a5b7719a68,0,95,https://www.wikidata.org/wiki/Q317220,NaN,"Flamingo, Chilean,Phoenicopterus chilensis"
1145,5a71350927ed44ca979498a5b7719a68,0,96,https://www.wikidata.org/wiki/Q179863,NaN,"Flamingo, Greater,Phoenicopterus ruber roseus"
1146,5a71350927ed44ca979498a5b7719a68,0,97,https://www.wikidata.org/wiki/Q242369,NaN,"Flamingo, Lesser,Phoeniconaias minor"
1147,5a71350927ed44ca979498a5b7719a68,0,98,https://www.wikidata.org/wiki/Q583116,NaN,"Flying Fox, Island,Pteropus hypomelanus"
1148,5a71350927ed44ca979498a5b7719a68,0,99,https://www.wikidata.org/wiki/Q649684,NaN,"Flying Fox, Large,Pteropus vampyrus"

The species name "Dove, Black-naped Fruit, Ptilinopus melanospilus" appears to be written in a format that includes both the common name and the scientific name of the species. However, when referring to a species, it is common to use only the common name or the scientific name, depending on the context. In this case, "Black-naped Fruit Dove" is the common name of the species, and "Ptilinopus melanospilus" is the scientific name.

Here's the breakdown:

Common Name: "Black-naped Fruit Dove" is the common name of the species. Common names are often used in everyday language to describe organisms and are typically more user-friendly and easier to remember than scientific names.

Scientific Name: "Ptilinopus melanospilus" is the scientific name of the species. It follows the standard binomial nomenclature used in biology, with the genus name ("Ptilinopus") capitalized and the species name ("melanospilus") in lowercase. Scientific names are globally recognized and provide a precise way to identify species.

In many contexts, especially in scientific literature or formal discussions, the scientific name is preferred because it is internationally standardized and avoids confusion that can arise from different common names used in various regions or languages. However, common names are still important for communication with the general public and in informal settings.

So, it's not that we're ignoring the last name; rather, it's a matter of using the common name or scientific name depending on the context and the audience's familiarity with the terms. In this case, "Black-naped Fruit Dove" is the common name, and "Ptilinopus melanospilus" is the scientific name of the same species.

In this case, we use the scientific name to search the entity.

##### Try Imputing

In [123]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

import re


WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "5a71350927ed44ca979498a5b7719a68" and column_index == 0 and "," in cell_value):
            values = cell_value.split(",")
            new_cell_value = values[-1]
            print("------------------------")
            print(new_cell_value)
            print("------------------------")
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": new_cell_value
            }
            
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()
            
            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            
            return ""
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return ""

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "5a71350927ed44ca979498a5b7719a68")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

------------------------
Addax nasomaculatus
------------------------
------------------------
Dasyprocta leporina
------------------------
------------------------
Alligator sinensis
------------------------
------------------------
Bubalus depressicornis
------------------------
------------------------
Myrmecophaga tridactyla
------------------------
------------------------
Hippotragus equinus
------------------------
------------------------
Hippotragus niger
------------------------
------------------------
Pteroglossus viridis
------------------------
------------------------
Argusianus argusï¿½
------------------------
------------------------
Papio hamadryas
------------------------
------------------------
Rucervus duvaucelii
------------------------
------------------------
Trachyphonus erythrocephalus
------------------------
------------------------
Pteropus rodricensis
------------------------
------------------------
Eidolon helvum
------------------------
------------------------
Tremarctos ornatus
------------------------
------------------------
Ursus thibetanus
------------------------
------------------------
Ursus arctos
------------------------
------------------------
Ursus maritimus
------------------------
------------------------
Melursus ursinus
------------------------
------------------------
Helarctos malayanus
------------------------
------------------------
Bettongia penicillata
------------------------
------------------------
Arctictis binturong
------------------------
------------------------
Paradisaea raggiana
------------------------
------------------------
Irena puella
------------------------
------------------------
Chilabothrus subflavus
------------------------
------------------------
Lynx rufus
------------------------
------------------------
Tragelaphus eurycerus isaaci
------------------------
------------------------
Pan paniscus
------------------------
------------------------
Syncerus caffer
------------------------
------------------------
Galago moholi
------------------------
------------------------
Lachesis muta
------------------------
------------------------
Lophotis gindiana
------------------------
------------------------
Turnix nigricollis
------------------------
------------------------
Callimico goeldii
------------------------
------------------------
Camelus bactrianus
------------------------
------------------------
Hydrochaeris hydrochaeris
------------------------
------------------------
Caracal caracal
------------------------
------------------------
Paroaria gularis
------------------------
------------------------
Paroaria coronata
------------------------
------------------------
Casuarius casuarius
------------------------
------------------------
Felis nigripes
------------------------
------------------------
Prionailurus viverrinus
------------------------
------------------------
Felis manul
------------------------
------------------------
Felis margarita
------------------------
------------------------
Cossypha niveicapilla
------------------------
------------------------
Acinonyx jubatus
------------------------
------------------------
Tragulus napu
------------------------
------------------------
Pan troglodytes
------------------------
------------------------
Nasua narica
------------------------
------------------------
Colobus angolensis
------------------------
------------------------
Colobus guereza
------------------------
------------------------
Vultur gryphus
------------------------
------------------------
Guarouba guarouba
------------------------
------------------------
Zapornia flavirostra
------------------------
------------------------
Balearica pavonina
------------------------
------------------------
Anthropoides paradisea
------------------------
------------------------
Anthropoides virgo
------------------------
------------------------
Balearica regulorum
------------------------
------------------------
Grus monacha
------------------------
------------------------
Grus japonensis
------------------------
------------------------
Grus vipio
------------------------
------------------------
Grus americana
------------------------
------------------------
Pauxi pauxi
------------------------
------------------------
Crax globulosa
------------------------
------------------------
Rucervus eldii thamin
------------------------
------------------------
Mazama temama
------------------------
------------------------
Elaphurus davidianus
------------------------
------------------------
Madoqua kirkii
------------------------
------------------------
Burhinus capensis
------------------------
------------------------
Lycaon pictus
------------------------
------------------------
Speothos venaticus
------------------------
------------------------
Gallicolumba criniger
------------------------
------------------------
Ptilinopus pulchellus
------------------------
------------------------
Ptilinopus melanospilus
------------------------
------------------------
Chalcophaps indica
------------------------
------------------------
Ptilinopus jambu
------------------------
------------------------
Gallicolumba luzonica
------------------------
------------------------
Ptilinopus roseicapilla
------------------------
------------------------
Varanus komodoensis
------------------------
------------------------
Dendrocygna guttata
------------------------
------------------------
Dendrocygna arborea
------------------------
------------------------
Asarcornis scutulata
------------------------
------------------------
Philantomba monticola
------------------------
------------------------
Cephalophus silvicultor
------------------------
------------------------
Taurotragus oryx
------------------------
------------------------
Loxodonta africana
------------------------
------------------------
Elephas maximus
------------------------
------------------------
Polihierax semitorquatus
------------------------
------------------------
Phoenicopterus ruber
------------------------
------------------------
Phoenicopterus chilensis
------------------------
------------------------
Phoenicopterus ruber roseus
------------------------
------------------------
Phoeniconaias minor
------------------------
------------------------
Pteropus hypomelanus
------------------------
------------------------
Pteropus vampyrus
------------------------

,0,1,2,3
1055,5a71350927ed44ca979498a5b7719a68,0,1,https://www.wikidata.org/wiki/Q190154
1056,5a71350927ed44ca979498a5b7719a68,0,2,https://www.wikidata.org/wiki/Q775170
1057,5a71350927ed44ca979498a5b7719a68,0,3,https://www.wikidata.org/wiki/Q194422
1058,5a71350927ed44ca979498a5b7719a68,0,4,https://www.wikidata.org/wiki/Q317393
1059,5a71350927ed44ca979498a5b7719a68,0,5,https://www.wikidata.org/wiki/Q203033
...,...,...,...,...
1157,5a71350927ed44ca979498a5b7719a68,8,0,
1158,5a71350927ed44ca979498a5b7719a68,9,0,
1159,5a71350927ed44ca979498a5b7719a68,10,0,
1160,5a71350927ed44ca979498a5b7719a68,12,0,
1161,5a71350927ed44ca979498a5b7719a68,13,0,

### Useless words and special character (*):
« Australian Cattle Dog Mix » ==> « Australian Cattle Dog »
« Brown Tabby » ==> « Brown »
Massilia cf. aurea* ==> « Massilia aurea »

In [98]:
nan_values[nan_values["Table Name"] == "0bc67e05a4d14011a2cf3fca2f869495"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
307,0bc67e05a4d14011a2cf3fca2f869495,8,32,https://www.wikidata.org/wiki/Q29887753,NaN,Bartonella cf. apis*
308,0bc67e05a4d14011a2cf3fca2f869495,8,36,https://www.wikidata.org/wiki/Q6784651,NaN,Massilia cf. aurea*
310,0bc67e05a4d14011a2cf3fca2f869495,8,39,https://www.wikidata.org/wiki/Q60617228,NaN,Snodgrassella cf. alvi*
321,0bc67e05a4d14011a2cf3fca2f869495,8,85,https://www.wikidata.org/wiki/Q3241189,NaN,Acinetobacter cf. baumannii*
322,0bc67e05a4d14011a2cf3fca2f869495,8,86,https://www.wikidata.org/wiki/Q16825002,NaN,Acinetobacter cf. nectaris*
324,0bc67e05a4d14011a2cf3fca2f869495,8,89,https://www.wikidata.org/wiki/Q7255078,NaN,Pseudomonas cf. oryzihabitans / psychrotolerans*
327,0bc67e05a4d14011a2cf3fca2f869495,8,96,https://www.wikidata.org/wiki/Q3966882,NaN,Spiroplasma cf. melliferum*
329,0bc67e05a4d14011a2cf3fca2f869495,9,0,https://www.wikidata.org/wiki/Q855769,NaN,strain_isolate
331,0bc67e05a4d14011a2cf3fca2f869495,11,0,https://www.wikidata.org/wiki/Q145911,NaN,sequence_length_bp

In [102]:
dfs["0bc67e05a4d14011a2cf3fca2f869495.csv"]

,centroid_accession,superkingdom,kingdom,phylum,class,order,family,genus,species,strain_isolate,gene_product,sequence_length_bp,ncbi_definition_line,cluster_count
0,KF600225.1,Bacteria,undetermined,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,Bifidobacterium sp. G5_2_2BCO2,G5_2_2BCO2,16S ribosomal RNA,1146,Bifidobacterium sp. G5_2_2BCO2 16S ribosomal R...,1
1,KF600328.1,Bacteria,undetermined,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,Bifidobacterium sp. G7_4_4BCO2,G7_4_4BCO2,16S ribosomal RNA,1330,Bifidobacterium sp. G7_4_4BCO2 16S ribosomal R...,1
2,HM534832.1,Bacteria,undetermined,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,Bifidobacterium sp. Tbbto10,Tbbto10,16S ribosomal RNA,1397,Bifidobacterium sp. Tbbto10 16S ribosomal RNA ...,1
3,HM046575.1,Bacteria,undetermined,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,uncultured Bifidobacterium sp.,Not Available,16S ribosomal RNA,1486,Uncultured Bifidobacterium sp. clone ACW_P1 16...,4
4,KF600585.1,Bacteria,undetermined,Actinobacteria,Actinobacteria,Corynebacteriales,Corynebacteriaceae,Corynebacterium,Corynebacterium sp. 3477CO2,3477CO2,16S ribosomal RNA,1241,Corynebacterium sp. 3477CO2 16S ribosomal RNA ...,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,DQ339642.1,Bacteria,undetermined,Proteobacteria,Gammaproteobacteria,Xanthomonadales,Xanthomonadaceae,Stenotrophomonas,Stenotrophomonas maltophilia,BRL02-6B,16S ribosomal RNA,922,Stenotrophomonas maltophilia isolate BRL02-6B ...,2
95,HM037701.1,Bacteria,undetermined,Tenericutes,Mollicutes,Entomoplasmatales,Spiroplasmataceae,Spiroplasma,Spiroplasma cf. melliferum*,MF0904,16S ribosomal RNA,1373,"Spiroplasma sp. MF0904 16S ribosomal RNA gene,...",1
96,NR_025756.1,Bacteria,undetermined,Tenericutes,Mollicutes,Entomoplasmatales,Spiroplasmataceae,Spiroplasma,Spiroplasma melliferum,BC-3; ATCC 33219,16S ribosomal RNA,1515,Spiroplasma melliferum strain BC-3 16S ribosom...,3
97,KF706369.1,Bacteria,undetermined,Tenericutes,Mollicutes,Entomoplasmatales,Spiroplasmataceae,Spiroplasma,Spiroplasma melliferum,Not Available,16S ribosomal RNA,886,Spiroplasma melliferum clone 0 16S ribosomal R...,4
98,HM037700.1,Bacteria,undetermined,Tenericutes,Mollicutes,Entomoplasmatales,Spiroplasmataceae,Spiroplasma,Spiroplasma sp. MF0905,MF0905,16S ribosomal RNA,1430,"Spiroplasma sp. MF0905 16S ribosomal RNA gene,...",1

The asterisk () at the end of a species name, such as "Acinetobacter cf. baumannii," is typically used in scientific taxonomy to indicate that there is some uncertainty or ambiguity associated with the taxonomic identification of the organism. Here's what it generally signifies:

Indication of Uncertainty: The asterisk is a way of acknowledging that the identified species is similar to or closely related to the specified species (in this case, "Acinetobacter baumannii") but may not precisely match the known or typical characteristics of that species.

Indication of Variability: It can also imply that there is some variability within the group of organisms being described, and not all members of that group may conform exactly to the known characteristics of the species.

Provisional Identification: The presence of the asterisk suggests that further taxonomic study or analysis may be needed to confirm the exact species or subspecies identity.

In the context of "Acinetobacter cf. baumannii*," the "cf." is often used to indicate "confer," which means "compare to" or "resembling." So, this name suggests that the organism is similar to Acinetobacter baumannii but may have some variations or characteristics that make it not an exact match.

##### Try Imputing

In [132]:
## Retrieve the entity
import csv
import requests
import pandas as pd
import time

import re

def fix_string(original_string, pattern, new_substring):
    new_string = re.sub(pattern, new_substring, original_string)
    return new_string

WIKIDATA_API_ENDPOINT = "https://www.wikidata.org/w/api.php"

def get_wikidata_entity(table_name, row_index, column_index):    
    df_target = pd.read_csv(f"Dataset/val/tables/{table_name}.csv", header=None)    
    cell_value = df_target.iloc[row_index, column_index]     

    try:
        # No preprocessing, request the API with the same given cell input
        if (table_name == "0bc67e05a4d14011a2cf3fca2f869495" and column_index == 8 and "*" in cell_value and "cf." in cell_value):
            print(cell_value)
            cell_value = fix_string(cell_value, "cf. ", "")
            new_cell_value = cell_value.replace("*", "")
            print("------------------------")
            print(new_cell_value)
            print("------------------------")
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": new_cell_value
            }
            
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()
            
            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            
            return ""
    
        else:
            params = {
                "action": "wbsearchentities",
                "format": "json",
                "language": "en",
                "search": cell_value
            }
            response = requests.get(WIKIDATA_API_ENDPOINT, params=params)
            data = response.json()

            if "search" in data:
                # If the API find an associated entity for the input
                if len(data["search"]) != 0:
                    return "https://www.wikidata.org/wiki/" + data["search"][0]["concepturi"].split("/")[-1]
            return " "

    except requests.exceptions.RequestException as e:
        print("An error occurred while connecting to the Wikidata API:", str(e))

    return None

# Add annotation to the csv files
def annotate_cells():
    df_cea_targets = pd.read_csv("Dataset/val/gt/CEA_biodivtab_selected_tables_gt.csv", header=None)
    df_annotated = df_cea_targets.copy()
    
    # Table 008851b16aa04124b3a9195676604f35
    df_annotated = df_annotated[(df_annotated[0] == "0bc67e05a4d14011a2cf3fca2f869495")]
    
    # Create Annotation column    
    df_annotated[3] = df_annotated.apply(lambda row: get_wikidata_entity(row[0], row[2], row[1]), axis=1)
    
    return df_annotated

annotate_cells()

Bartonella cf. apis*
------------------------
Bartonella apis
------------------------
Massilia cf. aurea*
------------------------
Massilia aurea
------------------------
Snodgrassella cf. alvi*
------------------------
Snodgrassella alvi
------------------------
Acinetobacter cf. baumannii*
------------------------
Acinetobacter baumannii
------------------------
Acinetobacter cf. nectaris*
------------------------
Acinetobacter nectaris
------------------------
Pseudomonas cf. oryzihabitans / psychrotolerans*
------------------------
Pseudomonas oryzihabitans / psychrotolerans
------------------------
Spiroplasma cf. melliferum*
------------------------
Spiroplasma melliferum
------------------------

,0,1,2,3
171,0bc67e05a4d14011a2cf3fca2f869495,1,0,https://www.wikidata.org/wiki/Q19858692
172,0bc67e05a4d14011a2cf3fca2f869495,1,1,https://www.wikidata.org/wiki/Q10876
173,0bc67e05a4d14011a2cf3fca2f869495,2,0,https://www.wikidata.org/wiki/Q1250464
174,0bc67e05a4d14011a2cf3fca2f869495,3,0,https://www.wikidata.org/wiki/Q38348
175,0bc67e05a4d14011a2cf3fca2f869495,3,1,https://www.wikidata.org/wiki/Q130914
...,...,...,...,...
426,0bc67e05a4d14011a2cf3fca2f869495,10,95,https://www.wikidata.org/wiki/Q1209205
427,0bc67e05a4d14011a2cf3fca2f869495,10,96,https://www.wikidata.org/wiki/Q1209205
428,0bc67e05a4d14011a2cf3fca2f869495,10,97,https://www.wikidata.org/wiki/Q1209205
429,0bc67e05a4d14011a2cf3fca2f869495,10,98,https://www.wikidata.org/wiki/Q1209205
430,0bc67e05a4d14011a2cf3fca2f869495,10,99,https://www.wikidata.org/wiki/Q1209205

### Abbreviations

In [25]:
# Count number of nan_values strings with a ","
def detect_abbreviation_in_string(row):
    if row["Cell Value"].count(".") == 1:
        return True
    return False

# Apply the lambda function to identify True values
mask = nan_values[["Cell Value", "Target Annotation"]].apply(lambda row: detect_abbreviation_in_string(row), axis=1)

# Use the mask to filter and store the values that returned True
abbreviation_values = nan_values.loc[mask, :]
abbreviation_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
307,0bc67e05a4d14011a2cf3fca2f869495,8,32,https://www.wikidata.org/wiki/Q29887753,NaN,Bartonella cf. apis*
308,0bc67e05a4d14011a2cf3fca2f869495,8,36,https://www.wikidata.org/wiki/Q6784651,NaN,Massilia cf. aurea*
310,0bc67e05a4d14011a2cf3fca2f869495,8,39,https://www.wikidata.org/wiki/Q60617228,NaN,Snodgrassella cf. alvi*
321,0bc67e05a4d14011a2cf3fca2f869495,8,85,https://www.wikidata.org/wiki/Q3241189,NaN,Acinetobacter cf. baumannii*
322,0bc67e05a4d14011a2cf3fca2f869495,8,86,https://www.wikidata.org/wiki/Q16825002,NaN,Acinetobacter cf. nectaris*
...,...,...,...,...,...,...
1431,8249f8533f764f6dbd195a872c18fd6d,0,86,https://www.wikidata.org/wiki/Q610177,NaN,C.cognatus
1432,8249f8533f764f6dbd195a872c18fd6d,0,87,https://www.wikidata.org/wiki/Q3766704,NaN,C.spiloptera
1433,8249f8533f764f6dbd195a872c18fd6d,0,88,https://www.wikidata.org/wiki/Q606436,NaN,E.olmstedi
1434,8249f8533f764f6dbd195a872c18fd6d,0,90,https://www.wikidata.org/wiki/Q6406968,NaN,H.roanokense
1435,8249f8533f764f6dbd195a872c18fd6d,0,91,https://www.wikidata.org/wiki/Q723654,NaN,S.fontinalis

In [26]:
abbreviation_values = abbreviation_values[11:]

In [27]:
abbreviation_values.shape

(92, 6)

In [28]:
abbreviation_values["Table Name"].value_counts()

8249f8533f764f6dbd195a872c18fd6d    46
74fc7b22dac0461a8a522480483bae4a    38
34169c088ee848e4866f42e87b4ccbc2     7
39a2d36769294a0a846cc209c45234e4     1
Name: Table Name, dtype: int64

Table: 8249f8533f764f6dbd195a872c18fd6d

In [253]:
nan_values[nan_values["Table Name"] == "8249f8533f764f6dbd195a872c18fd6d"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1390,8249f8533f764f6dbd195a872c18fd6d,0,1,https://www.wikidata.org/wiki/Q2093287,NaN,A.rupestris
1391,8249f8533f764f6dbd195a872c18fd6d,0,2,https://www.wikidata.org/wiki/Q8261255,NaN,C.anomalum
1392,8249f8533f764f6dbd195a872c18fd6d,0,3,https://www.wikidata.org/wiki/Q2942992,NaN,C.commersonii
1393,8249f8533f764f6dbd195a872c18fd6d,0,4,https://www.wikidata.org/wiki/Q1105092,NaN,C.erythrogaster
1394,8249f8533f764f6dbd195a872c18fd6d,0,5,https://www.wikidata.org/wiki/Q5133901,NaN,C.funduloides
1395,8249f8533f764f6dbd195a872c18fd6d,0,6,https://www.wikidata.org/wiki/Q217560,NaN,E.caeruleum
1396,8249f8533f764f6dbd195a872c18fd6d,0,7,https://www.wikidata.org/wiki/Q3756770,NaN,N.buccatus
1397,8249f8533f764f6dbd195a872c18fd6d,0,8,https://www.wikidata.org/wiki/Q3046026,NaN,P.notatus
1398,8249f8533f764f6dbd195a872c18fd6d,0,9,https://www.wikidata.org/wiki/Q1102705,NaN,R.obtusus
1399,8249f8533f764f6dbd195a872c18fd6d,0,10,https://www.wikidata.org/wiki/Q3133554,NaN,S.atromaculatus
1400,8249f8533f764f6dbd195a872c18fd6d,0,14,https://www.wikidata.org/wiki/Q3753866,NaN,E.blennioides
1401,8249f8533f764f6dbd195a872c18fd6d,0,16,https://www.wikidata.org/wiki/Q3752556,NaN,E.flabellare
1402,8249f8533f764f6dbd195a872c18fd6d,0,17,https://www.wikidata.org/wiki/Q2236034,NaN,C.cumberlandensis
1403,8249f8533f764f6dbd195a872c18fd6d,0,19,https://www.wikidata.org/wiki/Q2042960,NaN,E.kennicotti
1404,8249f8533f764f6dbd195a872c18fd6d,0,20,https://www.wikidata.org/wiki/Q217581,NaN,E.nigrum
1405,8249f8533f764f6dbd195a872c18fd6d,0,21,https://www.wikidata.org/wiki/Q2194268,NaN,L.auritus
1406,8249f8533f764f6dbd195a872c18fd6d,0,22,https://www.wikidata.org/wiki/Q1148148,NaN,L.macrochirus
1407,8249f8533f764f6dbd195a872c18fd6d,0,24,https://www.wikidata.org/wiki/Q2704889,NaN,R.atratulus
1408,8249f8533f764f6dbd195a872c18fd6d,0,26,https://www.wikidata.org/wiki/Q3643840,NaN,M.punctulatus
1409,8249f8533f764f6dbd195a872c18fd6d,0,27,https://www.wikidata.org/wiki/Q287368,NaN,M.erythrurum
1410,8249f8533f764f6dbd195a872c18fd6d,0,29,https://www.wikidata.org/wiki/Q388110,NaN,N.leuciodus
1411,8249f8533f764f6dbd195a872c18fd6d,0,30,https://www.wikidata.org/wiki/Q3754468,NaN,N.photogenis
1412,8249f8533f764f6dbd195a872c18fd6d,0,31,https://www.wikidata.org/wiki/Q3754033,NaN,N.miurus
1413,8249f8533f764f6dbd195a872c18fd6d,0,36,https://www.wikidata.org/wiki/Q4499931,NaN,L.aepyptera
1414,8249f8533f764f6dbd195a872c18fd6d,0,37,https://www.wikidata.org/wiki/Q2269714,NaN,L.megalotis
1415,8249f8533f764f6dbd195a872c18fd6d,0,38,https://www.wikidata.org/wiki/Q6413408,NaN,L.chrysocephalus
1416,8249f8533f764f6dbd195a872c18fd6d,0,48,https://www.wikidata.org/wiki/Q3756276,NaN,N.rubellus
1417,8249f8533f764f6dbd195a872c18fd6d,0,49,https://www.wikidata.org/wiki/Q947772,NaN,P.caprodes
1418,8249f8533f764f6dbd195a872c18fd6d,0,51,https://www.wikidata.org/wiki/Q1462862,NaN,S.vitreus
1419,8249f8533f764f6dbd195a872c18fd6d,0,53,https://www.wikidata.org/wiki/Q536070,NaN,A.natalis
1420,8249f8533f764f6dbd195a872c18fd6d,0,55,https://www.wikidata.org/wiki/Q6417895,NaN,N.micropogon
1421,8249f8533f764f6dbd195a872c18fd6d,0,65,https://www.wikidata.org/wiki/Q2165302,NaN,E.zonale
1422,8249f8533f764f6dbd195a872c18fd6d,0,66,https://www.wikidata.org/wiki/Q143432,NaN,I.bubalus
1423,8249f8533f764f6dbd195a872c18fd6d,0,67,https://www.wikidata.org/wiki/Q1543413,NaN,L.cyanellus
1424,8249f8533f764f6dbd195a872c18fd6d,0,72,https://www.wikidata.org/wiki/Q2341801,NaN,C.bairdii
1425,8249f8533f764f6dbd195a872c18fd6d,0,73,https://www.wikidata.org/wiki/Q81110,NaN,C.carpio
1426,8249f8533f764f6dbd195a872c18fd6d,0,74,https://www.wikidata.org/wiki/Q93596,NaN,E.niger
1427,8249f8533f764f6dbd195a872c18fd6d,0,78,https://www.wikidata.org/wiki/Q2178257,NaN,R.cataractae
1428,8249f8533f764f6dbd195a872c18fd6d,0,80,https://www.wikidata.org/wiki/Q3763094,NaN,L.cornutus
1429,8249f8533f764f6dbd195a872c18fd6d,0,82,https://www.wikidata.org/wiki/Q2857311,NaN,S.trutta
1430,8249f8533f764f6dbd195a872c18fd6d,0,84,https://www.wikidata.org/wiki/Q3757818,NaN,S.corporalis
1431,8249f8533f764f6dbd195a872c18fd6d,0,86,https://www.wikidata.org/wiki/Q610177,NaN,C.cognatus
1432,8249f8533f764f6dbd195a872c18fd6d,0,87,https://www.wikidata.org/wiki/Q3766704,NaN,C.spiloptera
1433,8249f8533f764f6dbd195a872c18fd6d,0,88,https://www.wikidata.org/wiki/Q606436,NaN,E.olmstedi
1434,8249f8533f764f6dbd195a872c18fd6d,0,90,https://www.wikidata.org/wiki/Q6406968,NaN,H.roanokense
1435,8249f8533f764f6dbd195a872c18fd6d,0,91,https://www.wikidata.org/wiki/Q723654,NaN,S.fontinalis

In [252]:
dfs["8249f8533f764f6dbd195a872c18fd6d.csv"]

,species,state,hucname,common_name,dataset,station_date,site_id,year,month,ecoregl3,...,mg,na,k,hco3,tn,al,se,cadmium,calcium,yearmonth
0,A.rupestris,OH,NaN,Rock Bass,OH,200282_38909,200282,2006,8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
1,C.anomalum,OH,NaN,Central Stoneroller,OH,200282_38909,200282,2006,8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
2,C.commersonii,OH,NaN,White Sucker,OH,200282_38909,200282,2006,8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
3,C.erythrogaster,OH,NaN,South. Redbelly Dace,OH,200282_38909,200282,2006,8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
4,C.funduloides,OH,NaN,Rosyside Dace,OH,200282_38909,200282,2006,8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,C.spiloptera,PA,Susquehanna,NaN,MAIA,MAIA97-086_1997_1,MAIA97-086,1997,8,67,...,218.176791,252.373121,28.901505,740.995514,1564.0,16.0,NaN,NaN,NaN,1997-08
87,E.olmstedi,PA,Susquehanna,NaN,MAIA,MAIA97-086_1997_1,MAIA97-086,1997,8,67,...,218.176791,252.373121,28.901505,740.995514,1564.0,16.0,NaN,NaN,NaN,1997-08
88,E.flabellare,VA,Chowan -,NaN,MAIA,MAIA97-179_1997_1,MAIA97-179,1997,7,67,...,353.021141,89.953053,37.853299,0.000000,119.0,5.0,NaN,NaN,NaN,1997-07
89,H.roanokense,VA,Chowan -,NaN,MAIA,MAIA97-179_1997_1,MAIA97-179,1997,7,67,...,353.021141,89.953053,37.853299,0.000000,119.0,5.0,NaN,NaN,NaN,1997-07
90,S.fontinalis,PA,Delaware-Mid Atlantic Coastal,Brook Trout - Hatchery,PaFBC,PaFBC0771_2013_5,PaFBC0771,2013,7,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07

Table: 74fc7b22dac0461a8a522480483bae4a

In [255]:
nan_values[nan_values["Table Name"] == "74fc7b22dac0461a8a522480483bae4a"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1352,74fc7b22dac0461a8a522480483bae4a,2,1,https://www.wikidata.org/wiki/Q10912665,NaN,Ca. eyrei
1353,74fc7b22dac0461a8a522480483bae4a,2,2,https://www.wikidata.org/wiki/Q5103838,NaN,Ch. axillaris
1354,74fc7b22dac0461a8a522480483bae4a,2,3,https://www.wikidata.org/wiki/Q657935,NaN,Ac. davidii
1355,74fc7b22dac0461a8a522480483bae4a,2,4,https://www.wikidata.org/wiki/Q986006,NaN,Li. formosana
1356,74fc7b22dac0461a8a522480483bae4a,2,5,https://www.wikidata.org/wiki/Q158722,NaN,Ci. camphora
1357,74fc7b22dac0461a8a522480483bae4a,2,6,https://www.wikidata.org/wiki/Q15381277,NaN,Tr. cochinchinensis
1358,74fc7b22dac0461a8a522480483bae4a,2,7,https://www.wikidata.org/wiki/Q11093140,NaN,Sc. superba
1359,74fc7b22dac0461a8a522480483bae4a,2,8,https://www.wikidata.org/wiki/Q577422,NaN,Ca. henryi
1360,74fc7b22dac0461a8a522480483bae4a,2,9,https://www.wikidata.org/wiki/Q24852639,NaN,Cy. glauca
1361,74fc7b22dac0461a8a522480483bae4a,2,11,https://www.wikidata.org/wiki/Q15340551,NaN,Di. japonica
1362,74fc7b22dac0461a8a522480483bae4a,2,12,https://www.wikidata.org/wiki/Q15248815,NaN,Da. oldhamii
1363,74fc7b22dac0461a8a522480483bae4a,2,13,https://www.wikidata.org/wiki/Q11101598,NaN,Di. myricoides
1364,74fc7b22dac0461a8a522480483bae4a,2,15,https://www.wikidata.org/wiki/Q716571,NaN,Pi. massoniana
1365,74fc7b22dac0461a8a522480483bae4a,2,16,https://www.wikidata.org/wiki/Q11110842,NaN,Ca. fargesii
1366,74fc7b22dac0461a8a522480483bae4a,2,17,https://www.wikidata.org/wiki/Q5792073,NaN,Ma. thunbergii
1367,74fc7b22dac0461a8a522480483bae4a,2,18,https://www.wikidata.org/wiki/Q11180048,NaN,It. chinensis
1368,74fc7b22dac0461a8a522480483bae4a,2,19,https://www.wikidata.org/wiki/Q2902122,NaN,Ko. bipinnata
1369,74fc7b22dac0461a8a522480483bae4a,2,21,https://www.wikidata.org/wiki/Q24852671,NaN,Cy. myrsinifolia
1370,74fc7b22dac0461a8a522480483bae4a,2,22,https://www.wikidata.org/wiki/Q15245858,NaN,Ca. carlesii
1371,74fc7b22dac0461a8a522480483bae4a,2,23,https://www.wikidata.org/wiki/Q847209,NaN,Qu. serrata
1372,74fc7b22dac0461a8a522480483bae4a,2,24,https://www.wikidata.org/wiki/Q3205640,NaN,Rh. indica
1373,74fc7b22dac0461a8a522480483bae4a,2,25,https://www.wikidata.org/wiki/Q2672802,NaN,Sa. saponaria
1374,74fc7b22dac0461a8a522480483bae4a,2,28,https://www.wikidata.org/wiki/Q7071277,NaN,Ny. sinensis
1375,74fc7b22dac0461a8a522480483bae4a,2,31,https://www.wikidata.org/wiki/Q15232490,NaN,Qu. fabri
1376,74fc7b22dac0461a8a522480483bae4a,2,33,https://www.wikidata.org/wiki/Q1034859,NaN,Qu. acutissima
1377,74fc7b22dac0461a8a522480483bae4a,2,37,https://www.wikidata.org/wiki/Q149476,NaN,Li. glaber
1378,74fc7b22dac0461a8a522480483bae4a,2,42,https://www.wikidata.org/wiki/Q163116,NaN,Rh. chinensis
1379,74fc7b22dac0461a8a522480483bae4a,2,46,https://www.wikidata.org/wiki/Q11086409,NaN,El. japonicus
1380,74fc7b22dac0461a8a522480483bae4a,2,47,https://www.wikidata.org/wiki/Q15248253,NaN,Al. fortunei
1381,74fc7b22dac0461a8a522480483bae4a,2,49,https://www.wikidata.org/wiki/Q10872313,NaN,El. chinensis
1382,74fc7b22dac0461a8a522480483bae4a,2,51,https://www.wikidata.org/wiki/Q24852840,NaN,Ma. fordiana
1383,74fc7b22dac0461a8a522480483bae4a,2,52,https://www.wikidata.org/wiki/Q702175,NaN,Tr. sebifera
1384,74fc7b22dac0461a8a522480483bae4a,2,56,https://www.wikidata.org/wiki/Q10928979,NaN,Me. flexuosa
1385,74fc7b22dac0461a8a522480483bae4a,2,57,https://www.wikidata.org/wiki/Q11178164,NaN,Ma. grijsii
1386,74fc7b22dac0461a8a522480483bae4a,2,58,https://www.wikidata.org/wiki/Q162171,NaN,Me. azedarach
1387,74fc7b22dac0461a8a522480483bae4a,2,69,"https://www.wikidata.org/wiki/Q28811747,https:...",NaN,Qu. phillyreoides
1388,74fc7b22dac0461a8a522480483bae4a,2,76,https://www.wikidata.org/wiki/Q149115,NaN,Cu. lanceolata
1389,74fc7b22dac0461a8a522480483bae4a,2,96,https://www.wikidata.org/wiki/Q15247814,NaN,Ca. sclerophylla

In [256]:
dfs["74fc7b22dac0461a8a522480483bae4a.csv"]

,Samplecode,Sample.Collector,Species,Year_Collected,Exp_Site,Exp_vicinity,Exp_Plot,Exp_Plot_Position,TAG,neighbour.tree_TAG,...,Cu,Pb,Sr,Cr,Ni,stomata.density,average.length,average.width,Phenolics,Tannin
0,A-13-B34,David Eichenberg,Ca. eyrei,2011.0,A,NaN,B34,212.0,t102340010212,NaN,...,0.020,0.0,0.040,0.010,0.000,NaN,NaN,NaN,NaN,NaN
1,A-4-B34,David Eichenberg,Ch. axillaris,2011.0,A,NaN,B34,505.0,t102340010505,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.441,61.523
2,A-27-B34,David Eichenberg,Ac. davidii,2011.0,A,NaN,B34,704.0,t102340010704,NaN,...,0.002,0.0,0.071,0.003,0.001,NaN,NaN,NaN,NaN,NaN
3,A-6-B34,David Eichenberg,Li. formosana,2011.0,A,NaN,B34,1009.0,t102340011009,NaN,...,0.016,0.0,0.038,0.007,0.015,NaN,NaN,NaN,99.027,96.394
4,A-17-B34,David Eichenberg,Ci. camphora,2011.0,A,NaN,B34,1011.0,t102340011011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.041,34.478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,A_L21_04_choaxi,Wenzel Kroeber,Ch. axillaris,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,A.L21.01.cashen V,Wenzel Kroeber,Ca. henryi,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,29.706,19.774,NaN,NaN
95,A.L21.14.cassel,Wenzel Kroeber,Ca. sclerophylla,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.001,20.774,14.030,NaN,NaN
96,A_L21_06_liqfor,Wenzel Kroeber,Li. formosana,2010.0,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,A.L21.03.schsup V,Wenzel Kroeber,Sc. superba,NaN,A,NaN,L21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,28.717,20.366,NaN,NaN

Table: 34169c088ee848e4866f42e87b4ccbc2

In [257]:
nan_values[nan_values["Table Name"] == "34169c088ee848e4866f42e87b4ccbc2"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
996,34169c088ee848e4866f42e87b4ccbc2,5,0,https://www.wikidata.org/wiki/Q7432,NaN,Planted_Species
997,34169c088ee848e4866f42e87b4ccbc2,5,1,https://www.wikidata.org/wiki/Q15340551,NaN,D.glaucifolia
998,34169c088ee848e4866f42e87b4ccbc2,5,5,https://www.wikidata.org/wiki/Q12838227,NaN,C.glauca
999,34169c088ee848e4866f42e87b4ccbc2,5,11,https://www.wikidata.org/wiki/Q15490427,NaN,L.glaber
1000,34169c088ee848e4866f42e87b4ccbc2,5,20,https://www.wikidata.org/wiki/Q847209,NaN,Q.serrata
1001,34169c088ee848e4866f42e87b4ccbc2,5,27,https://www.wikidata.org/wiki/Q15247814,NaN,C.sclerophylla
1002,34169c088ee848e4866f42e87b4ccbc2,5,49,https://www.wikidata.org/wiki/Q986006,NaN,L.formosana
1003,34169c088ee848e4866f42e87b4ccbc2,5,61,https://www.wikidata.org/wiki/Q344900,NaN,R.chinensis
1006,34169c088ee848e4866f42e87b4ccbc2,15,0,https://www.wikidata.org/wiki/Q2945560,NaN,Biomass_Above
1007,34169c088ee848e4866f42e87b4ccbc2,16,0,https://www.wikidata.org/wiki/Q2945560,NaN,Biomass_Below

In [258]:
dfs["34169c088ee848e4866f42e87b4ccbc2.csv"]

,Samplenr,Seedlingnr,Plot,Record,Month,Planted_Species,Density,Treatment,Dead,Height_P,Height_G,Leaves_Liv,Leaves_Dam,Leaves_Dead,Damage_pro,Biomass_Above,Biomass_Below
0,1.01.2,1.01,1,2,September_2015,D.glaucifolia,1,Light,0,43.9,43.9,23.0,15.0,0.0,2.0,NaN,NaN
1,1.01.0,1.01,1,0,July_2015,D.glaucifolia,1,Light,0,15.2,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2,1.01.1,1.01,1,1,August_2015,D.glaucifolia,1,Light,0,NaN,35.2,17.0,NaN,NaN,NaN,NaN,NaN
3,1.01.3,1.01,1,3,September_2016,D.glaucifolia,1,Light,0,162.0,NaN,136.0,136.0,NaN,30.0,138.04,66.13
4,2.01.0,2.01,2,0,July_2015,C.glauca,4,Shadow,0,14.6,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,58.07.1,58.07,58,1,August_2015,Q.serrata,25,Shadow,0,NaN,22.0,8.0,NaN,NaN,NaN,NaN,NaN
140,58.07.0,58.07,58,0,July_2015,Q.serrata,25,Shadow,0,19.9,NaN,9.0,NaN,NaN,NaN,NaN,NaN
141,58.07.3,58.07,58,3,September_2016,Q.serrata,25,Shadow,0,50.0,NaN,30.0,30.0,NaN,60.0,3.53,1.90
142,58.07.2,58.07,58,2,September_2015,Q.serrata,25,Shadow,0,22.0,22.0,11.0,11.0,0.0,85.0,NaN,NaN
143,58.08.2,58.08,58,2,September_2015,Q.serrata,25,Shadow,0,25.0,25.0,6.0,6.0,0.0,60.0,NaN,NaN

Checking the cells with "short name" property in their wikidata entity page

In [29]:
abbreviation_values

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
997,34169c088ee848e4866f42e87b4ccbc2,5,1,https://www.wikidata.org/wiki/Q15340551,NaN,D.glaucifolia
998,34169c088ee848e4866f42e87b4ccbc2,5,5,https://www.wikidata.org/wiki/Q12838227,NaN,C.glauca
999,34169c088ee848e4866f42e87b4ccbc2,5,11,https://www.wikidata.org/wiki/Q15490427,NaN,L.glaber
1000,34169c088ee848e4866f42e87b4ccbc2,5,20,https://www.wikidata.org/wiki/Q847209,NaN,Q.serrata
1001,34169c088ee848e4866f42e87b4ccbc2,5,27,https://www.wikidata.org/wiki/Q15247814,NaN,C.sclerophylla
...,...,...,...,...,...,...
1431,8249f8533f764f6dbd195a872c18fd6d,0,86,https://www.wikidata.org/wiki/Q610177,NaN,C.cognatus
1432,8249f8533f764f6dbd195a872c18fd6d,0,87,https://www.wikidata.org/wiki/Q3766704,NaN,C.spiloptera
1433,8249f8533f764f6dbd195a872c18fd6d,0,88,https://www.wikidata.org/wiki/Q606436,NaN,E.olmstedi
1434,8249f8533f764f6dbd195a872c18fd6d,0,90,https://www.wikidata.org/wiki/Q6406968,NaN,H.roanokense
1435,8249f8533f764f6dbd195a872c18fd6d,0,91,https://www.wikidata.org/wiki/Q723654,NaN,S.fontinalis

In [38]:
import time
from SPARQLWrapper import SPARQLWrapper, JSON

def retrieve_short_name_property_value(entity):
    """
        return None in case the entity does not have a property P1813: "short name"
        otherwise return the property value i.e. abbreviation
    """
    sparql_endpoint_url = "https://query.wikidata.org/sparql"    
    query = """
        SELECT ?value
        WHERE {{
          wd:%s p:P1813 ?statement .
          ?statement ps:P1813 ?value .
        }}
        
    """ % (entity)
    claims = None

    while claims == None:
        try:
            sparql = SPARQLWrapper(sparql_endpoint_url, agent='example-UA (https://example.com/; mail@example.com)')
            sparql.setQuery(query)
            sparql.setReturnFormat(JSON)
            claims = sparql.query().convert()
            if 'results' not in claims:
                claims = None
        except:
            time.sleep(10)
            continue
    if (len(claims["results"]["bindings"]) > 0):
        return claims["results"]["bindings"][0]["value"]["value"]
    return None

total = 0
for index, row in abbreviation_values.iterrows():
    entity = row["Target Annotation"].split("/")[-1]
    if retrieve_short_name_property_value(entity):
        total = total + 1
print(total)
    

    
# abbreviation_values

# retrieve_short_name_property_value("Q15340551")

84

In [ ]:
SELECT ?entity ?label
WHERE {
  ?entity wdt:P31 wd:Q16521 .
  ?entity wdt:P1813 ?value .
  FILTER(CONTAINS(?value, "D. japonica"))
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en" }
}

### Wrong names

The appearance of incorrect or misspelled names like "Albeluvkso" and "Lvisll" instead of "Albeluvisol" and "Luvisol" may be due to various reasons:

Typographical Errors: These could be simple typographical mistakes made during data entry or data transcription. Such errors can easily occur when entering data manually.

Data Entry Issues: If the names were entered into a database or system without proper validation or quality control, errors may go unnoticed.

Data Migration or Transfer Errors: When data is moved from one system to another or from one format to another, errors can sometimes occur during the migration or transfer process.

Human Error: Data entry and management processes often involve human operators, and errors can occur due to oversight or carelessness.

Auto-Correction or Auto-Completion: In some software or systems, auto-correction or auto-completion features may inadvertently change words or terms, leading to incorrect entries.

In [20]:
!pip install google-api-python-client

Requirement already satisfied: google-api-python-client in c:\users\lenovo\anaconda3\lib\site-packages (2.52.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-python-client) (0.22.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-python-client) (2.8.2)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-python-client) (0.1.1)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-python-client) (1.24.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2; python_version > "3.0" in c:\users\lenovo\anaconda3\lib\site-packages (from httplib2<1dev,>=0.15.0->google-api-python-client) (2.4.5)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.22.0)
Requirement already satisfied: protobuf<5.0.0dev,>=3.15.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.19.6)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in c:\users\lenovo\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.56.3)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.2.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: six>=1.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (1.13.0)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (42.0.1.post20191125)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.0.4)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.4.8)

In [39]:
https://www.googleapis.com/customsearch/v1?key=AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo&cx=95b917553b1d44138&q=Albeluvkso%20wikidata

SyntaxError: invalid syntax (<ipython-input-39-215e66ca5879>, line 1)

In [72]:
import pprint

from googleapiclient.discovery import build


def main():
    # Build a service object for interacting with the API. Visit
    # the Google APIs Console <http://code.google.com/apis/console>
    # to get an API key for your own application.
    service = build(
        "customsearch", "v1", developerKey="AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo"
    )

    res = (
        service.cse()
        .list(
            q="Achraf Haddar",
            cx="95b917553b1d44138",
            
        )
        .execute()
    )
    pprint.pprint(res)


if __name__ == "__main__":
    main()

{'context': {'title': 'Search Engine'},
 'items': [{'displayLink': 'de.linkedin.com',
            'formattedUrl': 'https://de.linkedin.com/in/achraf-haddar-04aa62167?trk=public_profile...',
            'htmlFormattedUrl': 'https://de.linkedin.com/in/<b>achraf</b>-<b>haddar</b>-04aa62167?trk=public_profile...',
            'htmlSnippet': 'Sehen Sie sich das Profil von <b>Achraf Haddar</b> '
                           'im größten Business-Netzwerk der Welt an. Im '
                           'Profil von <b>Achraf Haddar</b> sind 5 Jobs '
                           'angegeben.',
            'htmlTitle': '<b>Achraf Haddar</b> | LinkedIn',
            'kind': 'customsearch#result',
            'link': 'https://de.linkedin.com/in/achraf-haddar-04aa62167?trk=public_profile_browsemap',
            'pagemap': {'Person': [{}],
                        'cse_image': [{'src': 'https://media.licdn.com/dms/image/C4D03AQFJ46VAAJn_2g/profile-displayphoto-shrink_800_800/0/1637746198189?e=2147483647&v=beta&t=o7NJugBMtV3L8YMT9f4kg7J2bJCQNA5g8i2l3c8JnlU'}],
                        'cse_thumbnail': [{'height': '225',
                                           'src': 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4g4KrbpaBKnsM1VUSEoPWnfjiUTzpSqwTyaZm8_X1wh01K5W5eIhg1wI',
                                           'width': '225'}],
                        'metatags': [{'al:android:app_name': 'LinkedIn',
                                      'al:android:package': 'com.linkedin.android',
                                      'al:android:url': 'https://de.linkedin.com/in/achraf-haddar-04aa62167',
                                      'al:ios:app_name': 'LinkedIn',
                                      'al:ios:app_store_id': '288429040',
                                      'al:ios:url': 'https://de.linkedin.com/in/achraf-haddar-04aa62167',
                                      'litmsprofilename': 'public-profile-frontend',
                                      'locale': 'de_DE',
                                      'og:description': 'Sehen Sie sich das '
                                                        'Profil von Achraf '
                                                        'Haddar im größten '
                                                        'Business-Netzwerk der '
                                                        'Welt an. Im Profil '
                                                        'von Achraf Haddar '
                                                        'sind 5 Jobs '
                                                        'angegeben. Auf '
                                                        'LinkedIn können Sie '
                                                        'sich das vollständige '
                                                        'Profil ansehen und '
                                                        'mehr über die '
                                                        'Kontakte von Achraf '
                                                        'Haddar und Jobs bei '
                                                        'ähnlichen Unternehmen '
                                                        'erfahren.',
                                      'og:image': 'https://media.licdn.com/dms/image/C4D03AQFJ46VAAJn_2g/profile-displayphoto-shrink_800_800/0/1637746198189?e=2147483647&v=beta&t=o7NJugBMtV3L8YMT9f4kg7J2bJCQNA5g8i2l3c8JnlU',
                                      'og:title': 'Achraf Haddar | LinkedIn',
                                      'og:type': 'profile',
                                      'og:url': 'https://de.linkedin.com/in/achraf-haddar-04aa62167',
                                      'pagekey': 'public_profile_v3_mobile',
                                      'platform': 'https://static.licdn.com/aero-v1/sc/h/14y7wyus2yv7e4wq4qrwi6d7z',
                                      'platform-worker': 'https://static.licdn.com/aero-v1/sc/h/7nirg34a8ey4y2l4rw7xgwxx4',
                                      'profile:first_name': 'Achraf',
                                      'profile:last_name': 'Haddar',
                                      'twitter:card': 'summary',
                                      'twitter:description': 'Sehen Sie sich '
                                                             'das Profil von '
                                                             'Achraf Haddar im '
                                                             'größten '
                                                             'Business-Netzwerk '
                                                             'der Welt an. Im '
                                                             'Profil von '
                                                             'Achraf Haddar '
                                                             'sind 5 Jobs '
                                                             'angegeben. Auf '
                                                             'LinkedIn können '
                                                             'Sie sich das '
                                                             'vollständige '
                                                             'Profil ansehen '
                                                             'und mehr über '
                                                             'die Kontakte von '
                                                             'Achraf Haddar '
                                                             'und Jobs bei '
                                                             'ähnlichen '
                                                             'Unternehmen '
                                                             'erfahren.',
                                      'twitter:image': 'https://media.licdn.com/dms/image/C4D03AQFJ46VAAJn_2g/profile-displayphoto-shrink_800_800/0/1637746198189?e=2147483647&v=beta&t=o7NJugBMtV3L8YMT9f4kg7J2bJCQNA5g8i2l3c8JnlU',
                                      'twitter:site': '@Linkedin',
                                      'twitter:title': 'Achraf Haddar | '
                                                       'LinkedIn',
                                      'ubba': 'https://static.licdn.com/aero-v1/sc/h/doqsgrypc09fbq90oymefn6rh',
                                      'viewport': 'width=device-width, '
                                                  'initial-scale=1.0'}]},
            'snippet': 'Sehen Sie sich das Profil von Achraf Haddar im größten '
                       'Business-Netzwerk der Welt an. Im Profil von Achraf '
                       'Haddar sind 5 Jobs angegeben.',
            'title': 'Achraf Haddar | LinkedIn'},
           {'displayLink': 'tn.linkedin.com',
            'formattedUrl': 'https://tn.linkedin.com/in/achraf-haddar-5a7107101',
            'htmlFormattedUrl': 'https://tn.linkedin.com/in/<b>achraf</b>-<b>haddar</b>-5a7107101',
            'htmlSnippet': 'Experienced Freelance Web Developer with a '
                           'demonstrated history of working in the information '
                           'technology and services industry. Skilled in '
                           'Object-Oriented&nbsp;...',
            'htmlTitle': '<b>Achraf HADDAR</b> - Engineering manager - Open2be '
                         '- Solutions ...',
            'kind': 'customsearch#result',
            'link': 'https://tn.linkedin.com/in/achraf-haddar-5a7107101',
            'pagemap': {'Person': [{}],
                        'cse_image': [{'src': 'https://media.licdn.com/dms/image/D4D03AQHI50OELioosA/profile-displayphoto-shrink_800_800/0/1688227451590?e=2147483647&v=beta&t=_tEFKmwVa9F9wYGEgwiJWpTkSF9CWpeEucjneQqrYbg'}],
                        'cse_thumbnail': [{'height': '225',
                                           'src': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxxIuC3mrdZuLH0w9ABXn_ijJkU2ADxVYDGWSsQFG3GlpIOA0whGSkF0',
                                           'width': '225'}],
                        'metatags': [{'al:android:app_name': 'LinkedIn',
                                      'al:android:package': 'com.linkedin.android',
                                      'al:android:url': 'https://tn.linkedin.com/in/achraf-haddar-5a7107101',
                                      'al:ios:app_name': 'LinkedIn',
                                      'al:ios:app_store_id': '288429040',
                                      'al:ios:url': 'https://tn.linkedin.com/in/achraf-haddar-5a7107101',
                                      'litmsprofilename': 'public-profile-frontend',
                                      'locale': 'ar_AE',
                                      'og:description': 'Experienced Freelance '
                                                        'Web Developer with a '
                                                        'demonstrated history '
                                                        'of working in the '
                                                        'information '
                                                        'technology and '
                                                        'services industry. '
                                                        'Skilled in '
                                                        'Object-Oriented '
                                                        'Programming (OOP), '
                                                        'Java Enterprise '
                                                        'Edition, Unified '
                                                        'Modeling Language '
                                                        '(UML), Java, and '
                                                        'JavaScript. Strong '
                                                        'engineering '
                                                        'professional with a '
                                                        'Master 2 (M2) focused '
                                                        'in Technologies de '
                                                        "l''information from "
                                                        'Faculté de sciences '
                                                        'économiques et '
                                                        'gestion de sfax.  | '
                                                        'معرفة المزيد حول '
                                                        'تجربة عمل Achraf '
                                                        'HADDAR وتعليمه '
                                                        'وزملائه والمزيد من '
                                                        'خلال زيارة ملفه '
                                                        'الشخصي على LinkedIn',
                                      'og:image': 'https://media.licdn.com/dms/image/D4D03AQHI50OELioosA/profile-displayphoto-shrink_800_800/0/1688227451590?e=2147483647&v=beta&t=_tEFKmwVa9F9wYGEgwiJWpTkSF9CWpeEucjneQqrYbg',
                                      'og:title': 'Achraf HADDAR - Engineering '
                                                  'manager - Open2be - '
                                                  'Solutions Blockchain | '
                                                  'LinkedIn',
                                      'og:type': 'profile',
                                      'og:url': 'https://tn.linkedin.com/in/achraf-haddar-5a7107101',
                                      'pagekey': 'public_profile_v3_mobile',
                                      'platform': 'https://static.licdn.com/aero-v1/sc/h/euvq5tke82lc0n2ig246cr2dd',
                                      'platform-worker': 'https://static.licdn.com/aero-v1/sc/h/7nirg34a8ey4y2l4rw7xgwxx4',
                                      'profile:first_name': 'Achraf',
                                      'profile:last_name': 'HADDAR',
                                      'twitter:card': 'summary',
                                      'twitter:description': 'Experienced '
                                                             'Freelance Web '
                                                             'Developer with a '
                                                             'demonstrated '
                                                             'history of '
                                                             'working in the '
                                                             'information '
                                                             'technology and '
                                                             'services '
                                                             'industry. '
                                                             'Skilled in '
                                                             'Object-Oriented '
                                                             'Programming '
                                                             '(OOP), Java '
                                                             'Enterprise '
                                                             'Edition, Unified '
                                                             'Modeling '
                                                             'Language (UML), '
                                                             'Java, and '
                                                             'JavaScript. '
                                                             'Strong '
                                                             'engineering '
                                                             'professional '
                                                             'with a Master 2 '
                                                             '(M2) focused in '
                                                             'Technologies de '
                                                             "l''information "
                                                             'from Faculté de '
                                                             'sciences '
                                                             'économiques et '
                                                             'gestion de '
                                                             'sfax.  | معرفة '
                                                             'المزيد حول تجربة '
                                                             'عمل Achraf '
                                                             'HADDAR وتعليمه '
                                                             'وزملائه والمزيد '
                                                             'من خلال زيارة '
                                                             'ملفه الشخصي على '
                                                             'LinkedIn',
                                      'twitter:image': 'https://media.licdn.com/dms/image/D4D03AQHI50OELioosA/profile-displayphoto-shrink_800_800/0/1688227451590?e=2147483647&v=beta&t=_tEFKmwVa9F9wYGEgwiJWpTkSF9CWpeEucjneQqrYbg',
                                      'twitter:site': '@Linkedin',
                                      'twitter:title': 'Achraf HADDAR - '
                                                       'Engineering manager - '
                                                       'Open2be - Solutions '
                                                       'Blockchain | LinkedIn',
                                      'ubba': 'https://static.licdn.com/aero-v1/sc/h/e3dp1lkr3l1mw3ms7sz17m11v',
                                      'viewport': 'width=device-width, '
                                                  'initial-scale=1.0'}]},
            'snippet': 'Experienced Freelance Web Developer with a '
                       'demonstrated history of working in the information '
                       'technology and services industry. Skilled in '
                       'Object-Oriented\xa0...',
            'title': 'Achraf HADDAR - Engineering manager - Open2be - '
                     'Solutions ...'},
           {'displayLink': 'www.linkedin.com',
            'formattedUrl': 'https://www.linkedin.com/pub/dir/+/Haddar',
            'htmlFormattedUrl': 'https://www.linkedin.com/pub/dir/+/<b>Haddar</b>',
            'htmlSnippet': '<b>Achraf Haddar</b>. Germany. Smart Digital GmbH, '
                           '+4 more. , +2 more &middot; Abdallah Al Haddar. '
                           'External auditor at EY, AICPA candidate.',
            'htmlTitle': '1500+ &quot;<b>Haddar</b>&quot; profiles | LinkedIn',
            'kind': 'customsearch#result',
            'link': 'https://www.linkedin.com/pub/dir/+/Haddar',
            'pagemap': {'cse_image': [{'src': 'https://static.licdn.com/aero-v1/sc/h/3usjoqttpyv7mplawrjzi58bw'}],
                        'metatags': [{'clientsideingraphs': '1',
                                      'li_feature': 'true',
                                      'litmsprofilename': 'people-guest-frontend',
                                      'locale': 'en_US',
                                      'og:description': 'View the profiles of '
                                                        'professionals named '
                                                        '&quot;Haddar&quot; on '
                                                        'LinkedIn. There are '
                                                        '1500+ professionals '
                                                        'named '
                                                        '&quot;Haddar&quot;, '
                                                        'who use LinkedIn to '
                                                        'exchange information, '
                                                        'ideas, and '
                                                        'opportunities.',
                                      'og:image': 'https://static.licdn.com/aero-v1/sc/h/3usjoqttpyv7mplawrjzi58bw',
                                      'og:title': '1500+ &quot;Haddar&quot; '
                                                  'profiles | LinkedIn',
                                      'og:type': 'article',
                                      'og:url': 'https://www.linkedin.com/pub/dir/+/Haddar',
                                      'pagekey': 'p_people_guest_search',
                                      'twitter:card': 'summary',
                                      'twitter:description': 'View the '
                                                             'profiles of '
                                                             'professionals '
                                                             'named '
                                                             '&quot;Haddar&quot; '
                                                             'on LinkedIn. '
                                                             'There are 1500+ '
                                                             'professionals '
                                                             'named '
                                                             '&quot;Haddar&quot;, '
                                                             'who use LinkedIn '
                                                             'to exchange '
                                                             'information, '
                                                             'ideas, and '

            'snippet': 'anashaddar. Anas Haddar. Follow. andre_botha_662. '
                       'Andre Botha. Follow. lewyfinnegan. Lewy Finnegan. '
                       'Follow. matiasdiazcm. Matias Díaz Cortes-monroy. '
                       'Follow.',
            'title': 'Hraf Achraf Milko (@hraf_milko) • Instagram photos and '
                     'videos'}],
 'kind': 'customsearch#search',
 'queries': {'nextPage': [{'count': 10,
                           'cx': '95b917553b1d44138',
                           'inputEncoding': 'utf8',
                           'outputEncoding': 'utf8',
                           'safe': 'off',
                           'searchTerms': 'Achraf Haddar',
                           'startIndex': 11,
                           'title': 'Google Custom Search - Achraf Haddar',
                           'totalResults': '171000'}],
             'request': [{'count': 10,
                          'cx': '95b917553b1d44138',
                          'inputEncoding': 'utf8',
                          'outputEncoding': 'utf8',
                          'safe': 'off',
                          'searchTerms': 'Achraf Haddar',
                          'startIndex': 1,
                          'title': 'Google Custom Search - Achraf Haddar',
                          'totalResults': '171000'}]},
 'searchInformation': {'formattedSearchTime': '0.31',
                       'formattedTotalResults': '171,000',
                       'searchTime': 0.307026,
                       'totalResults': '171000'},
 'url': {'template': 'https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json',
         'type': 'application/json'}}

In [88]:
import requests

# Replace 'YOUR_API_KEY' and 'YOUR_CX' with your actual API key and custom search engine ID
api_key = 'AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo'
custom_search_engine_id = '95b917553b1d44138'
query = 'wikidata - Albeluvkso'

# Define the endpoint URL
url = f'https://www.googleapis.com/customsearch/v1?q={query}&key={api_key}&cx={custom_search_engine_id}'
# url = f"https://cse.google.com/cse?cx=95b917553b1d44138#gsc.tab=0&gsc.q=Lvisll%20wikidata&gsc.sort="

# Make the API request
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    for item in data.get('items', []):
        print(item['title'])
        print(item['link'])
else:
    print(f"Error: {response.status_code} - {response.text}")

In [ ]:
AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo

95b917553b1d44138

In [68]:
import requests

# API_KEY = open('AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo').read()
API_KEY = 'AIzaSyA4hLDGJ0UlfE_TCsHVHyJDnISwX0ROFgo'

# SEARCH_ENGINE_ID = open('95b917553b1d44138').read()
SEARCH_ENGINE_ID = '95b917553b1d44138'

search_query = "Albeluvkso wikidata"

url = 'https://www.googleapis.com/customsearch/v1'

params = {
    'q': search_query,
    'key': API_KEY,
    'cx': SEARCH_ENGINE_ID
}

response = requests.get(url, params=params)
results = response.json()
print(results)
if 'items' in results:
    print(results['items'][0]['link'])

{'kind': 'customsearch#search', 'url': {'type': 'application/json', 'template': 'https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json'}, 'queries': {'request': [{'title': 'Google Custom Search - Albeluvkso+wikidata', 'searchTerms': 'Albeluvkso+wikidata', 'count': 10, 'startIndex': 1, 'inputEncoding': 'utf8', 'outputEncoding': 'utf8', 'safe': 'off', 'cx': '95b917553b1d44138'}]}, 'searchInformation': {'searchTime': 0.068281, 'formattedSearchTime': '0.07', 'totalResults': '0', 'formattedTotalResults': '0'}}

In [67]:
import requests
from googlesearch import search

query = 'IntactyMale Ct wikidata'

## Google Search query results as a Python List of URLs
search_result_list = list(search(query))
print(search_result_list)

HTTPError: 429 Client Error: Too Many Requests for url: https://www.google.com/sorry/index?continue=https://www.google.com/search%3Fq%3DIntactyMale%252BCt%252Bwikidata%26num%3D12%26hl%3Den%26start%3D0&hl=en&q=EgRmnTM8GOG9rqgGIjCVtqcaixSn5yIUYnI8OAbCw_5bTr27cThBu7-JrBlpr_PP5FuZS_YHMu1rHQmRjS4yAXJaAUM

In [9]:
try:
    from googlesearch import search
except ImportError:
    print("No module named 'google' found")
 
query = "IntactyMale Ct wikidata"
 
for j in search(query, sleep_interval=5, num_results=200):
    print(j)

KeyboardInterrupt:

In [61]:
from googlesearch.googlesearch import GoogleSearch
response = GoogleSearch().search("something")
print(response)
# for result in response.results:
#     print("Title: " + result.title)
#     print("Content: " + result.getText())

HTTPError: HTTP Error 429: Too Many Requests

In [11]:
!pip install google-search

Collecting google-search
  Downloading https://files.pythonhosted.org/packages/46/68/2741434bd31038a29958aa6084b03b9461e5fa7c19afe048f218413b8656/google_search-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from google-search) (4.12.2)
Requirement already satisfied: lxml in c:\users\lenovo\anaconda3\lib\site-packages (from google-search) (4.9.3)
Requirement already satisfied: soupsieve in c:\users\lenovo\anaconda3\lib\site-packages (from google-search) (1.9.5)
Installing collected packages: google-search
Successfully installed google-search-1.1.1

In [171]:
dfs["0be7652b187b45f5b111d51905c3c25b.csv"].iloc[:, 15:27]

,LDMC,N,C,CN,K,Mg,Ca,Al,Ca2,Fe,K2,Mg2
0,422.222222,1.243,46.087,37.065,NaN,NaN,NaN,0.190,8.660,0.230,9.220,2.920
1,357.938719,1.367,46.834,34.262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,324.534161,1.620,45.874,28.312,NaN,NaN,NaN,0.529,23.081,0.383,11.700,6.011
3,341.666667,1.456,46.323,31.826,NaN,NaN,NaN,1.268,17.149,0.442,12.126,5.140
4,372.781065,1.475,46.998,31.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
93,526.355831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,455.124125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
import requests
import urllib
import pandas as pd
from requests_html import HTML
from requests_html import HTMLSession

def get_source(url):
    """Return the source code for the provided URL. 

    Args: 
        url (string): URL of the page to scrape.

    Returns:
        response (object): HTTP response object from requests_html. 
    """

    try:
        session = HTMLSession()
        response = session.get(url)
        return response

    except requests.exceptions.RequestException as e:
        print(e)
        

def scrape_google(query):

    query = urllib.parse.quote_plus(query)
    response = get_source("https://www.google.co.uk/search?q=" + query)

    links = list(response.html.absolute_links)
    google_domains = ('https://www.google.', 
                      'https://google.', 
                      'https://webcache.googleusercontent.', 
                      'http://webcache.googleusercontent.', 
                      'https://policies.google.',
                      'https://support.google.',
                      'https://maps.google.')

    for url in links[:]:
        if url.startswith(google_domains):
            links.remove(url)

    return links


def get_results(query):
    
    query = urllib.parse.quote_plus(query)
    response = get_source("https://www.google.co.uk/search?q=" + query)
    
    return response

def parse_results(response):
    
    css_identifier_result = ".tF2Cxc"
    css_identifier_title = "h3"
    css_identifier_link = ".yuRUbf a"
    css_identifier_text = ".VwiC3b"
    
    results = response.html.find(css_identifier_result)

    output = []
    
    for result in results:

        item = {
            'title': result.find(css_identifier_title, first=True).text,
            'link': result.find(css_identifier_link, first=True).attrs['href'],
            'text': result.find(css_identifier_text, first=True).text
        }
        
        output.append(item)
        
    return output

def google_search(query):
    response = get_results(query)
    return parse_results(response)

results = google_search("SOUTHWEST FLORIDA INTL ARPT")
results

[{'title': 'Southwest Florida International Airport',
  'link': 'https://flyrsw.com/',
  'text': 'Southwest Florida International Airport (Lee County Port Authority) Gateway to Fort Myers and Florida`s Gulf Coast serving Southwest Florida, Ft. Myers,\xa0...'},
 {'title': 'Southwest Florida International Airport',
  'link': 'https://en.wikipedia.org/wiki/Southwest_Florida_International_Airport',
  'text': 'Southwest Florida International Airport is a major county-owned airport in the South Fort Myers area of unincorporated Lee County, Florida, United States.'},
 {'title': 'Southwest Florida International Airport',
  'link': 'https://flyrsw.com/swfiainfo/',
  'text': 'Located in Fort Myers, the airport is perfectly positioned to serve the greater Southwest Florida area, including Fort Myers, Cape Coral, Sanibel, Captiva,\xa0...'},
 {'title': 'Fort Myers Airport (RSW)',
  'link': 'https://www.fort-myers-airport.com/',
  'text': 'Informational Guide to Fort Myers Southwest Florida International Airport (RSW). All the information you need to know about: Arrivals, departures,\xa0...'},
 {'title': 'Southwest Florida International Airport (RSW) | Fort Myers FL',
  'link': 'https://www.facebook.com/flyRSW/',
  'text': 'Southwest Florida International Airport (RSW), Fort Myers, Florida. 15224 likes · 623 talking about this · 199122 were here. The official Facebook Page...'},
 {'title': 'Southwest Florida International Airport (RSW)',
  'link': 'https://www.paradisecoast.com/profile/southwest-florida-international-airport-rsw/1754',
  'text': "Southwest Florida International Airport is the region's commercial airport. Fourteen airlines provide nonstop service to 57 destinations, including\xa0..."},
 {'title': 'Southwest Florida International Airport (RSW)',
  'link': 'https://www.linkedin.com/company/southwest-florida-international-airport-rsw',
  'text': 'Southwest Florida International Airport (RSW). Airlines and Aviation. Fort Myers, Florida 968 followers. Stay Safe - RSW Cares About You. Follow.'},
 {'title': 'KRSW - Southwest Florida International Airport',
  'link': 'https://www.airnav.com/airport/KRSW',
  'text': 'Complete aeronautical information about Southwest Florida International Airport (Fort Myers, FL, USA), including location, runways, taxiways, navaids,\xa0...'},
 {'title': 'flyrsw - Southwest Florida International Airport',
  'link': 'https://www.instagram.com/flyrsw/?hl=ar',
  'text': 'The official Instagram of Southwest Florida International Airport (RSW). #flyrsw | contactus@flylcpa.com. flylcpa.com. 458 posts; 3,135 followers'},
 {'title': 'Cheap Flights from Southwest Florida Intl. Airport (RSW)',
  'link': 'https://www.expedia.com/lp/airports/rsw/flights-from-southwest-florida-intl-airport',
  'text': 'Book cheap flights from Southwest Florida Intl. airport (RSW) to all destinations. Flight information, terminals, airlines, and airfares from Southwest\xa0...'}]

In [108]:
results[0]['link']

'https://www.wikidata.org/wiki/Q1054040'

In [96]:
!pip install --upgrade pyquery requests-html

Collecting pyquery
  Using cached https://files.pythonhosted.org/packages/36/b7/f7ccf9e52e2817e1265d3719c600fa4ef33c07de4d5ef0ced3f43ab1cef2/pyquery-2.0.0-py3-none-any.whl
Collecting requests-html
  Using cached https://files.pythonhosted.org/packages/24/bc/a4380f09bab3a776182578ce6b2771e57259d0d4dbce178205779abdc347/requests_html-0.10.0-py3-none-any.whl

ERROR: Could not find a version that satisfies the requirement cssselect>=1.2.0 (from pyquery) (from versions: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.6.1, 0.7, 0.7.1, 0.8, 0.9, 0.9.1, 0.9.2, 1.0.0, 1.0.1, 1.0.3, 1.1.0)
ERROR: No matching distribution found for cssselect>=1.2.0 (from pyquery)

In [97]:
!pip install cssselect==1.2.0

ERROR: Could not find a version that satisfies the requirement cssselect==1.2.0 (from versions: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.6.1, 0.7, 0.7.1, 0.8, 0.9, 0.9.1, 0.9.2, 1.0.0, 1.0.1, 1.0.3, 1.1.0)
ERROR: No matching distribution found for cssselect==1.2.0

In [104]:
!pip install requests-html==0.7.1

Collecting requests-html==0.7.1
  Using cached https://files.pythonhosted.org/packages/c8/d7/ddd94573d6983c9baa4abe08bab9c2f225302700426f87fa4d6c2af08ba0/requests_html-0.7.1-py2.py3-none-any.whl
Requirement already satisfied: pyquery in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (1.4.0)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (2.22.0)
Requirement already satisfied: bs4 in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (0.0.1)
Requirement already satisfied: parse in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (1.19.1)
Requirement already satisfied: fake-useragent in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (1.2.1)
Requirement already satisfied: w3lib in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (2.0.1)
Requirement already satisfied: pyppeteer in c:\users\lenovo\anaconda3\lib\site-packages (from requests-html==0.7.1) (0.2.6)
Requirement already satisfied: lxml>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pyquery->requests-html==0.7.1) (4.9.3)
Requirement already satisfied: cssselect>0.7.9 in c:\users\lenovo\anaconda3\lib\site-packages (from pyquery->requests-html==0.7.1) (1.1.0)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Using cached https://files.pythonhosted.org/packages/56/aa/4ef5aa67a9a62505db124a5cb5262332d1d4153462eb8fd89c9fa41e5d92/urllib3-1.25.11-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->requests-html==0.7.1) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->requests-html==0.7.1) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->requests-html==0.7.1) (2.8)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4->requests-html==0.7.1) (4.12.2)
Requirement already satisfied: importlib-resources>=5.0; python_version < "3.10" in c:\users\lenovo\anaconda3\lib\site-packages (from fake-useragent->requests-html==0.7.1) (5.4.0)
Requirement already satisfied: importlib-metadata~=4.0; python_version < "3.8" in c:\users\lenovo\anaconda3\lib\site-packages (from fake-useragent->requests-html==0.7.1) (4.8.3)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pyppeteer->requests-html==0.7.1) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pyppeteer->requests-html==0.7.1) (4.64.1)
Requirement already satisfied: websockets<10.0,>=9.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pyppeteer->requests-html==0.7.1) (9.1)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pyppeteer->requests-html==0.7.1) (8.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4->requests-html==0.7.1) (1.9.5)
Collecting zipp>=3.1.0; python_version < "3.10"
  Downloading https://files.pythonhosted.org/packages/bd/df/d4a4974a3e3957fd1c1fa3082366d7fff6e428ddb55f074bf64876f8e8ad/zipp-3.6.0-py3-none-any.whl
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in c:\users\lenovo\anaconda3\lib\site-packages (from importlib-metadata~=4.0; python_version < "3.8"->fake-useragent->requests-html==0.7.1) (3.7.4.3)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\lenovo\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer->requests-html==0.7.1) (0.4.1)
Installing collected packages: requests-html, urllib3, zipp
  Found existing installation: requests-html 0.10.0
    Uninstalling requests-html-0.10.0:
      Successfully uninstalled requests-html-0.10.0
  Found existing installation: urllib3 1.26.16
    Uninstalling urllib3-1.26.16:
      Successfully uninstalled urllib3-1.26.16
  Found existing installation: zipp 0.6.0
    Uninstalling zipp-0.6.0:
      Successfully uninstalled zipp-0.6.0
Successfully installed requests-html-0.7.1 urllib3-1.25.11 zipp-3.6.0

ERROR: google-api-core 2.8.2 has requirement google-auth<3.0dev,>=1.25.0, but you'll have google-auth 1.24.0 which is incompatible.

In [103]:
!pip install pyquery==1.4.0

Collecting pyquery==1.4.0
  Downloading https://files.pythonhosted.org/packages/09/c7/ce8c9c37ab8ff8337faad3335c088d60bed4a35a4bed33a64f0e64fbcf29/pyquery-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: cssselect>0.7.9 in c:\users\lenovo\anaconda3\lib\site-packages (from pyquery==1.4.0) (1.1.0)
Requirement already satisfied: lxml>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pyquery==1.4.0) (4.9.3)
Installing collected packages: pyquery
  Found existing installation: pyquery 1.2.15
    Uninstalling pyquery-1.2.15:
      Successfully uninstalled pyquery-1.2.15
Successfully installed pyquery-1.4.0

In [133]:
nan_values[nan_values["Table Name"] == "9136f9e37ec94669a82e28df799553bf"]

,Table Name,Column Index,Row Index,Target Annotation,Retrieved Annotation,Cell Value
1440,9136f9e37ec94669a82e28df799553bf,4,1,https://www.wikidata.org/wiki/Q1820181,NaN,Leptpso
1442,9136f9e37ec94669a82e28df799553bf,4,3,https://www.wikidata.org/wiki/Q1820181,NaN,Leztool
1443,9136f9e37ec94669a82e28df799553bf,4,5,https://www.wikidata.org/wiki/Q1820181,NaN,Lnposol
1444,9136f9e37ec94669a82e28df799553bf,4,7,https://www.wikidata.org/wiki/Q1820181,NaN,Lptssol
1445,9136f9e37ec94669a82e28df799553bf,4,9,https://www.wikidata.org/wiki/Q1820181,NaN,Leptosm
...,...,...,...,...,...,...
1525,9136f9e37ec94669a82e28df799553bf,6,0,https://www.wikidata.org/wiki/Q143263,NaN,ergosterol_change
1526,9136f9e37ec94669a82e28df799553bf,8,0,https://www.wikidata.org/wiki/Q889769,NaN,soil_temperature_change
1527,9136f9e37ec94669a82e28df799553bf,10,0,https://www.wikidata.org/wiki/Q40936,NaN,pH_historic
1528,9136f9e37ec94669a82e28df799553bf,11,0,https://www.wikidata.org/wiki/Q2945560,NaN,plant_biomass_change
1529,9136f9e37ec94669a82e28df799553bf,12,0,https://www.wikidata.org/wiki/Q80294,NaN,cellulose_change